<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Job Portal HTML Template">
    <meta name="description" content="Job Board - Job Portal HTML Template">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <!-- title  -->
    <title>Job Board - Categories</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="/img/logos/favicon.png">
    <link rel="apple-touch-icon" href="/img/logos/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/logos/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/logos/apple-touch-icon-114x114.png">

    <!-- plugins -->
    <link rel="stylesheet" href="/css/plugins.css">

    <!-- search css -->
    <link rel="stylesheet" href="/search/search.css">

    <!-- quform css -->
    <link rel="stylesheet" href="/quform/css/base.css">

    <!-- dashboard css -->
    <link href="/css/dashboard.css" rel="stylesheet">

</head>

<body>

<!-- PAGE LOADING
================================================== -->
<div id="preloader"></div>

<!-- MAIN WRAPPER
================================================== -->
<div class="main-wrapper">

    <!-- HEADER
    ================================================== -->
    <th:block th:insert="~{admin/adminfragment/header-fragment::header}"/>

    <section class="py-0">
        <div class="row g-0">
            <th:block th:insert="~{admin/adminfragment/left-menue-fragment::left-menue-fragment}"/>
            <div class="col-lg-9">
                <div class="dashboard-right-sidebar">
                    <div class="row mb-2-2">
                        <div class="col-lg-12 mb-1-9">
                            <h3 class="mb-3">Update Category</h3>
                        </div>
                        <div class="col-lg-12">
                            <div class="dashboard-title">
                                <h5 class="mb-0">Change</h5>
                            </div>
                            <div class="dashboard-widget">
                                <form action="/admin/categories/update" method="post" enctype="multipart/form-data">
                                    <div class="quform-elements">
                                        <div class="row">
                                            <div th:if="${error != null}" class="alert alert-danger alert-dismissible">
                                                <strong>Danger!</strong> <span th:text="${error}"></span>
                                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                        aria-label="Close"></button>
                                            </div>

                                            <!-- Begin Text input element -->
                                            <div class="col-md-12">
                                                <div class="quform-element form-group">
                                                    <label for="job-title">Category Name</label>
                                                    <div class="quform-input">
                                                        <input type="hidden" name="id" th:value="${category.id}">
                                                        <input id="job-title" class="form-control" type="text" th:value="${category.name}"
                                                               name="name" placeholder="Enter New Category Name">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row mt-n1-9" style="width: 40%">
                                                <div class="col-md-6 col-lg-4 mt-1-9" style="display: flex; justify-content: center">
                                                    <div class="card card-style11">
                                                        <div class="card-body">
                                                            <div class="d-flex align-items-center">
                                                                <div class="flex-shrink-0">
                                                                    <div class="categories-icon">
                                                                        <img th:src="'/download/picture/' + ${category.picName}"
                                                                             alt="...">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Begin Select element -->
                                            <div class="col-md-12">
                                                <div class="quform-element form-group">
                                                    <div class="quform-input">
                                                        <label for="resume">New File Attachment (Not Required)</label>
                                                        <div class="custom-file">
                                                            <input class="custom-file-input" type="file" id="resume"
                                                                   name="pic_name">
                                                            <label class="custom-file-label" data-browse="Browse">Choose New
                                                                Category Picture</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="quform-submit-inner">
                                                    <button class="butn" type="submit"><span>Update</span>
                                                    </button>
                                                </div>
                                                <div class="quform-loading-wrap"><span class="quform-loading"></span>
                                                </div>
                                            </div>
                                            <!-- End Submit button -->

                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

<!-- BUY TEMPLATE
================================================== -->
<!-- start scroll to top -->
<a href="#!" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
<!-- end scroll to top -->

<!-- all js include start -->

<!-- jQuery -->
<script src="/js/jquery.min.js"></script>

<!-- popper js -->
<script src="/js/popper.min.js"></script>

<!-- bootstrap -->
<script src="/js/bootstrap.min.js"></script>

<!-- core.min.js -->
<script src="/js/core.min.js"></script>

<!-- search -->
<script src="/search/search.js"></script>

<!-- custom scripts -->
<script src="/js/main.js"></script>

<!-- form plugins js -->
<script src="/quform/js/plugins.js"></script>

<!-- form scripts js -->
<script src="/quform/js/scripts.js"></script>

<!-- all js include end -->

</body>

</html>