<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Job Portal HTML Template">
    <meta name="description" content="Job Board - Job Portal HTML Template">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <!-- title  -->
    <title>Job Board - Job Portal HTML Template</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="/img/logos/favicon.png">
    <link rel="apple-touch-icon" href="/img/logos/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/logos/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/logos/apple-touch-icon-114x114.png">

    <!-- plugins -->
    <link rel="stylesheet" href="/css/plugins.css">

    <!-- search css -->
    <link rel="stylesheet" href="/search/search.css">

    <!-- quform css -->
    <link rel="stylesheet" href="/quform/css/base.css">

    <!-- dashboard css -->
    <link href="/css/dashboard.css" rel="stylesheet">

    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Job Portal HTML Template">
    <meta name="description" content="Job Board - Job Portal HTML Template">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <!-- title  -->
    <title>Job Board - Job Portal HTML Template</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="/img/logos/favicon.png">
    <link rel="apple-touch-icon" href="/img/logos/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/logos/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/logos/apple-touch-icon-114x114.png">

    <!-- plugins -->
    <link rel="stylesheet" href="/css/plugins.css">

    <!-- search css -->
    <link rel="stylesheet" href="/search/search.css">

    <!-- quform css -->
    <link rel="stylesheet" href="/quform/css/base.css">

    <!-- dashboard css -->
    <link href="/css/dashboard.css" rel="stylesheet">

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Job Portal HTML Template">
    <meta name="description" content="Job Board - Job Portal HTML Template">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <!-- title  -->
    <title>Job Board - Job Search</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="/img/logos/favicon.png">
    <link rel="apple-touch-icon" href="/img/logos/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/logos/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/logos/apple-touch-icon-114x114.png">

    <!-- plugins -->
    <link rel="stylesheet" href="/css/plugins.css">

    <!-- search css -->
    <link rel="stylesheet" href="/search/search.css">

    <!-- quform css -->
    <link rel="stylesheet" href="/quform/css/base.css">

    <!-- core style css -->
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/dashboard.css" rel="stylesheet">

</head>

<body>

<!-- PAGE LOADING
================================================== -->
<div id="preloader"></div>

<!-- MAIN WRAPPER
================================================== -->
<div class="main-wrapper">

    <!-- HEADER
    ================================================== -->
    <header class="header-style2 static-header">
        <div th:replace="~{/fragment/header-menu-fragment::header}"></div>
    </header>

    <!-- EMPLOYER DASHBOARD
    ================================================== -->
    <section class="py-0">
        <div class="row g-0">
            <div class="col-lg-3 mb-2-2 mb-lg-0">
                <th:block th:insert="~{fragment/user-left-menue-fragmnet::left-user-menue-fragment}"/>
            </div>
            <div class="col-lg-9">
                <div class="dashboard-right-sidebar">
                    <div class="row mb-2-2">
                        <div class="col-lg-12 mb-1-9">
                            <h3 class="mb-3">Applied Jobs</h3>
                            <span th:if="${createResumeMsg != null}">
                                <div class="alert alert-warning alert-dismissible">
                                    <strong th:text="${createResumeMsg}"></strong>
                                    <button type="button" class="btn btn-outline-warning">
                                        <a href="/profile/resume">Create Resume ?</a>
                                    </button>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                                            aria-label="Close"></button>
                                </div>
                            </span>
                        </div>
                        <div class="col-lg-12">
                            <div class="dashboard-title">
                                <div class="d-md-flex justify-content-between align-items-center">
                                    <div class="mb-4 mb-md-0">
                                        <h4 class="mb-0 h5">Job<span class="text-primary">  Offers</span>
                                        </h4>
                                    </div>
                                    <div class="quform-elements">
                                        <div class="row align-items-center">
                                            <form action="/job/applies/search" method="get" class="d-flex">
                                                <input class="form-control border-radius-10 me-2" id="search"
                                                       type="text" placeholder="Search">
                                                <select id="status"
                                                        class="form-control form-select border-radius-10 me-2"
                                                        name="status">
                                                    <option value="0">Choose Status</option>
                                                    <option value="TOTAL"
                                                            th:selected="${currentStatus != null && ('TOTAL' == currentStatus)}">
                                                        Total
                                                    </option>
                                                    <option value="APPROVED"
                                                            th:selected="${currentStatus != null && ('APPROVED' == currentStatus)}">
                                                        Approved
                                                    </option>
                                                    <option value="REJECTED"
                                                            th:selected="${currentStatus != null && ('REJECTED' == currentStatus)}">
                                                        Rejected
                                                    </option>
                                                </select>
                                                <select id="date" class="form-control form-select border-radius-10 me-2"
                                                        name="date">
                                                    <option value="">Choose Date</option>
                                                    <option value="day" th:selected="${currentDate != null && (currentDate == 'day')}">Last Day
                                                    </option>
                                                    <option value="week" th:selected="${currentDate != null && (currentDate == 'week')}">Last
                                                        Week
                                                    </option>
                                                    <option value="month" th:selected="${currentDate != null && (currentDate == 'month')}">Last
                                                        Month
                                                    </option>
                                                </select>
                                                <input type="hidden" name="searchIndexStr" th:value="${1}">
                                                <button type="submit" class="not-border"><a
                                                        class="butn secondary text-white">Search</a></button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="dashboard-widget">
                            <div class="table-responsive">
                                        <span style="justify-content: center"
                                              th:if="${jobApplies == null or jobApplies == 0}">
                                               <h2>Job Offers Not found.</h2>
                                            </span>
                                <table class="table custome-table2">
                                    <thead th:if="${jobApplies != null and jobApplies != 0}">
                                    <tr>
                                        <th>Title</th>
                                        <th>Date Applied</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="jobApply : ${jobApplies}" class="single-row">
                                        <td>
                                            <div class="d-xl-flex align-items-center">
                                                <div class="flex-shrink-0 mb-3 mb-xl-0">
                                                    <img th:src="@{/getImage(picName=${jobApply.job.logoName})}"
                                                         width="80px" alt="...">
                                                </div>
                                                <div class="flex-grow-1 ms-xl-3">
                                                    <h5 class="mb-1"><a th:href="@{'/jobs/item/' + ${jobApply.job.id}}"
                                                                        th:text="${jobApply.job.title}"></a></h5>
                                                    <span class="me-2 display-30 text-muted"
                                                          th:text="${jobApply.job.category.name}"></span>
                                                    <span class="me-2 display-30 text-muted"><i
                                                            class="ti-location-pin pe-1"
                                                            th:text="${jobApply.job.location}"></i></span>
                                                </div>
                                            </div>
                                        </td>
                                        <td th:text="${#dates.format(jobApply.sendDate,'MMM dd, yyyy')}"></td>
                                        <td class="jobapplies-status">
                                            <span th:if="${jobApply.jobAppliesStatus != null && jobApply.jobAppliesStatus.name() == 'TOTAL'}"
                                                  class="text-warning font-weight-600" th:text="${jobApply.jobAppliesStatus.getName()}"></span>
                                            <span th:if="${jobApply.jobAppliesStatus != null && jobApply.jobAppliesStatus.name() == 'APPROVED'}"
                                                  class="text-success font-weight-600" th:text="${jobApply.jobAppliesStatus.getName()}"></span>
                                            <span th:if="${jobApply.jobAppliesStatus != null && jobApply.jobAppliesStatus.name() == 'REJECTED'}"
                                                  class="text-danger font-weight-600" th:text="${jobApply.jobAppliesStatus.getName()}"></span>
                                        </td>
                                        <td>
                                            <ul class="action-list">
                                                <li><a th:href="@{'/jobs/item/' + ${jobApply.job.id}}"><span class="ti-eye"></span></a></li>
                                                <li th:if="${jobApply.jobAppliesStatus.name() == 'TOTAL'}">
                                                    <a href="#!" class="approve-job" th:data-jobapply-id="${jobApply.id}">
                                                        <span class="ti-check"></span>
                                                    </a>
                                                </li>
                                                <li th:if="${jobApply.jobAppliesStatus.name() == 'TOTAL'}">
                                                    <a href="#!" class="reject-job" th:data-jobapply-id="${jobApply.id}">
                                                        <span class="ti-close"></span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <!-- start pager  -->
                            <div th:if="${totalPages != 0 && totalPages != null}" class="text-center mt-6">
                                <div class="pagination text-primary">
                                    <ul>
                                        <li th:if="${searchIndex == 0}"
                                            th:class="${index <= 1 ? 'disabled' : ''}">
                                            <a th:href="@{'/job/applies/' + ${index - 1}}"
                                               aria-label="Previous">
                                                <i class="fas fa-long-arrow-alt-left me-2"></i> Prev
                                            </a>
                                        </li>
                                        <li th:if="${index == 0}"
                                            th:class="${searchIndex <= 1 ? 'disabled' : ''}">
                                            <a th:if="${searchIndex == 1}"
                                               th:href="@{'/job/applies/search?' + ${url} + ${searchIndex}}"
                                               aria-label="Previous">
                                                <i class="fas fa-long-arrow-alt-left me-2"></i> Prev
                                            </a>
                                            <a th:if="${searchIndex != 1}"
                                               th:href="@{'/job/applies/search?' + ${url} + ${searchIndex - 1}}"
                                               aria-label="Previous">
                                                <i class="fas fa-long-arrow-alt-left me-2"></i> Prev
                                            </a>
                                        </li>


                                        <th:block th:if="${searchIndex == 0}"
                                                  th:each="pageNum : ${#numbers.sequence(1, totalPages)}">
                                            <li>
                                                <a th:href="@{'/job/applies/' + ${pageNum}}"
                                                   th:text="${pageNum}"></a>
                                            </li>
                                        </th:block>
                                        <th:block th:if="${index == 0}"
                                                  th:each="pageNum : ${#numbers.sequence(1, totalPages)}">
                                            <li>
                                                <a th:href="@{'/job/applies/search?' + ${url} + ${pageNum}}"
                                                   th:text="${pageNum}"></a>
                                            </li>
                                        </th:block>


                                        <li th:if="${searchIndex == 0}"
                                            th:class="${index >= totalPages ? 'disabled' : ''}">
                                            <a th:if="${index != totalPages}"
                                               th:href="@{'/job/applies/' + ${index + 1}}" aria-label="Next">
                                                Next <i class="fas fa-long-arrow-alt-right ms-2"></i>
                                            </a>
                                            <a th:if="${index == totalPages}" th:href="@{'/job/applies/' + ${index}}"
                                               aria-label="Next">
                                                Next <i class="fas fa-long-arrow-alt-right ms-2"></i>
                                            </a>
                                        </li>
                                        <li th:if="${index == 0}"
                                            th:class="${searchIndex >= totalPages ? 'disabled' : ''}">
                                            <a th:if="${searchIndex != totalPages}"
                                               th:href="@{'/job/applies/search?' + ${url} + ${searchIndex + 1}}"
                                               aria-label="Next">
                                                Next <i class="fas fa-long-arrow-alt-right ms-2"></i>
                                            </a>
                                            <a th:if="${searchIndex == totalPages}"
                                               th:href="@{'/job/applies/search?' + ${url} + ${searchIndex}}"
                                               aria-label="Next">
                                                Next <i class="fas fa-long-arrow-alt-right ms-2"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- end pager -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- all js include start -->

<!-- jQuery -->
<script src="/js/changeJobApplisStatus.js"></script>

<script src="/js/jquery.min.js"></script>

<script src="/js/applicantListSearch.js"></script>

<!-- popper js -->
<script src="/js/popper.min.js"></script>

<!-- bootstrap -->
<script src="/js/bootstrap.min.js"></script>

<!-- core.min.js -->
<script src="/js/core.min.js"></script>

<!-- search -->
<script src="/search/search.js"></script>

<!-- custom scripts -->
<script src="/js/main.js"></script>

<!-- form plugins js -->
<script src="/quform/js/plugins.js"></script>

<!-- form scripts js -->
<script src="/quform/js/scripts.js"></script>

<!-- all js include end -->

</body>

</html>
