<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Job Portal HTML Template">
    <meta name="description" content="Job Board - Job Portal HTML Template">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <!-- title  -->
    <title>Job Board - Candidates</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="/img/logos/favicon.png">
    <link rel="apple-touch-icon" href="/img/logos/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/logos/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/logos/apple-touch-icon-114x114.png">

    <!-- plugins -->
    <link rel="stylesheet" href="/css/plugins.css">

    <!-- search css -->
    <link rel="stylesheet" href="/search/search.css">

    <!-- quform css -->
    <link rel="stylesheet" href="/quform/css/base.css">

    <!-- dashboard css -->
    <link href="/css/dashboard.css" rel="stylesheet">

</head>

<body>

<!-- PAGE LOADING
================================================== -->
<div id="preloader"></div>

<!-- MAIN WRAPPER
================================================== -->
<div class="main-wrapper">

    <!-- HEADER
    ================================================== -->
    <header class="header-style2 static-header">
        <div th:replace="~{/fragment/header-menu-fragment::header}"></div>
    </header>

    <!-- EMPLOYER DASHBOARD
    ================================================== -->
    <section class="py-0">
        <div class="row g-0">
            <div class="col-lg-3 mb-2-2 mb-lg-0">
                <th:block th:insert="~{fragment/user-left-menue-fragmnet::left-user-menue-fragment}"/>
            </div>
            <div class="col-lg-9">
                <div class="dashboard-right-sidebar">
                    <div class="row mb-2-5">
                        <div class="col-lg-12 mb-1-9">
                            <h3 class="mb-3" th:text="#{candidateProfile}">Candidate Profile</h3> <br>
                            <span th:if="${msg != null}">
                                <div class="alert alert-danger alert-dismissible">
                                    <strong th:text="${msg}"></strong>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                                            aria-label="Close"></button>
                                </div>
                            </span>
                        </div>

                        <span th:if="${resume == null}">
                            <div class="col-lg-12 mb-2-2">
                                <div class="dashboard-title">
                                    <h5 class="mb-0" th:text="#{myProfile}">My Profile</h5> <br>
                                    <div class="flex-shrink-0 mx-auto mx-md-0 w-80px w-md-auto mb-3 mb-md-0">
                                        <img id="previewImg" src="/img/avatar/userDefault.png" width="80px" alt="..."
                                             class="border-radius-50">
                                    </div>
                                </div>
                                <div class="dashboard-widget">
                                    <form action="/resumes/create" method="post" enctype="multipart/form-data" onsubmit="return validateForm()" onclick="">
                                        <div class="quform-elements">
                                            <div class="row">
                                                <!-- Begin Select element -->
                                                <div class="col-md-12">
                                                    <div class="quform-element form-group">
                                                        <div class="quform-input">
                                                            <label th:text="#{browsePicture}" for="picNamee">Browse Picture</label>
                                                            <div class="custom-file">
                                                                <input class="custom-file-input" type="file"
                                                                       id="picNamee" name="picture"/>
                                                                <label class="custom-file-label" data-browse="Browse"
                                                                       th:text="#{browsePicture}">Choose file</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End Select element -->
                                                <!-- Begin Text input element -->
                                                <div class="col-md-6">
                                                    <div class="quform-element form-group">
                                                        <label th:text="#{profession}"
                                                               for="profession">Profession</label>
                                                        <div class="quform-input">
                                                            <input id="profession" class="form-control" type="text"
                                                                   name="profession"
                                                                   placeholder="Enter your profession "/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End Text input element -->
                                                <!-- Begin Text input element -->
                                                <div class="col-md-6">
                                                    <div class="quform-element form-group">
                                                        <label th:text="#{location}">Location</label>
                                                        <div class="quform-input">
                                                            <select id="country"
                                                                    class="form-control form-select border-radius-10"
                                                                    name="country">
                                                                <option value="0"
                                                                        th:text="#{country}">Choose Country</option>
                                                                <option th:each="country : ${countries}"
                                                                        th:value="${country.id}"
                                                                        th:text="${country.countryName}"></option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Begin Text input element -->
                                                <div class="col-md-6">
                                                    <div class="quform-element form-group">
                                                        <label th:text="#{phone}" for="phoneNum">Phone</label>
                                                        <div class="quform-input">
                                                            <input class="form-control" id="phoneNum" type="text"
                                                                   name="phone"
                                                                   placeholder="Enter Your Phone">
                                                        </div>
                                                    </div>

                                                </div>

                                                <!-- Begin Text input element for Birth Date -->
                                                <div class="col-md-6">
                                                    <div class="quform-element form-group">
                                                        <label th:text="#{birthDate}" for="birthDate">Birth Date</label>
                                                        <div class="quform-input">
                                                            <input class="form-control" id="birthDate" type="date"
                                                                   name="birthDate"
                                                                   placeholder="Enter your birth date">
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End Text input element for Birth Date -->

                                                <!-- Begin Select element -->
                                                <div class="col-md-3">
                                                    <div class="quform-element form-group">
                                                        <label th:text="#{expectedSalary}" for="currentsalary">Expected Salary</label>
                                                        <div class="quform-input">
                                                            <input class="form-control" id="currentsalary" type="number"
                                                                   name="expectedSalary"
                                                                   placeholder="Enter your expected salary">
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End Select element -->

                                                <!-- Begin Select element -->
                                                <div class="col-md-6">
                                                    <div class="quform-element form-group">
                                                        <label th:text="#{experience}"
                                                               for="experiencee">Experience</label>
                                                        <div class="quform-input">
                                                            <select id="experiencee" class="form-control form-select"
                                                                    name="workExperience">
                                                                <option value="" disabled selected
                                                                        th:text="#{experience}">Select Experience</option>
                                                                <option th:each="experience : ${workExperience}"
                                                                        th:value="${experience}"
                                                                        th:text="${experience.experience}"></option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End Select element -->

                                                <!-- Begin Select element -->
                                                <div class="col-md-6">
                                                    <div class="quform-element form-group">
                                                        <label th:text="#{category}" for="categoryy">Category</label>
                                                        <div class="quform-input">
                                                            <select id="categoryy" class="form-control form-select"
                                                                    name="category.id">
                                                                <option value="" disabled selected
                                                                        th:text="#{category}">Choose Category</option>
                                                                <option th:if="${categories != null and not #lists.isEmpty(categories)}"
                                                                        th:each="category : ${categories}"
                                                                        th:text="${category.name}"
                                                                        th:value="${category.id}"></option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End Select element -->

                                                <div class="col-md-6">
                                                    <div class="quform-element form-group">
                                                        <label th:text="#{gender}" for="genderResume">Gender</label>
                                                        <div class="quform-input">
                                                            <select id="genderResume" class="form-control form-select"
                                                                    name="gender">
                                                                <option value="" disabled selected
                                                                        th:text="#{gender}">Select Gender</option>
                                                                <option th:each="genderResume : ${gender}"
                                                                        th:value="${genderResume}"
                                                                        th:text="${genderResume}"></option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End Select element -->

                                                <!-- Begin Textarea element -->
                                                <div class="col-md-12">
                                                    <div class="quform-element form-group">
                                                        <label th:text="#{description}"
                                                               for="description">Description</label>
                                                        <div class="quform-input">
                                                            <textarea id="description" class="form-control"
                                                                      name="description" rows="6"
                                                                      placeholder="How'd you hear description"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End Textarea element -->


                                                <!-- Begin Submit button -->
                                                <div class="col-md-12">
                                                    <div class="quform-submit-inner">
                                                        <button class="butn" type="submit"
                                                                th:text="#{saveChanges}"><span>Save Changes</span></button>
                                                    </div>
                                                    <div class="quform-loading-wrap"><span
                                                            class="quform-loading"></span></div>
                                                </div>
                                                <!-- End Submit button -->

                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </span>

                        <span th:if="${resume != null}">
                             <div class="col-lg-12 mb-2-2">
                            <div class="dashboard-title">
                            <h5 class="mb-0" th:text="#{myProfile}">My Profile</h5> <br>
                            <div class="flex-shrink-0 mx-auto mx-md-0 w-80px w-md-auto mb-3 mb-md-0">
                                <img id="previewImage" th:src="@{/getImage(picName=${resume.picName})}" width="80px"
                                     alt="..." class="border-radius-50">
                            </div>
                            </div>
                            <div class="dashboard-widget">
                                <form action="/resumes/update" method="post" enctype="multipart/form-data" onsubmit="return validateFormUpdate()"  onclick="">
                                        <div class="quform-elements">
                                            <div class="row">
                                                <input class="form-control" type="hidden" name="id"
                                                       th:value="${resume.id}"/>
                                                <input class="form-control" type="hidden" name="user.id"
                                                       th:value="${resume.user.id}"/>
                                                <input class="form-control" type="hidden" name="picName" id="picNameResume"
                                                       th:value="${resume.getPicName()}"/>
                                                <!-- Begin Select element -->
                                               <div class="col-md-12">
                                                 <div class="quform-element form-group">
                                                     <label for="picName" th:text="#{browsePicture}">Browse Logo</label>
                                                     <div class="custom-file">
                                                         <input class="custom-file-input" type="file" id="picName"
                                                                name="picture"
                                                                onchange="" th:value="${resume.getPicName()}">
                                                         <label class="custom-file-label" data-browse="Browse"
                                                                th:text="#{browsePicture}">Choose file</label>
                                                     </div>
                                                 </div>
                                             </div>

                                                <!-- End Select element -->

                                                <!-- Begin Text input element -->
                                            <div class="col-md-6">
                                                <div class="quform-element form-group">
                                                    <label for="profession" th:text="#{profession}">Profession</label>
                                                    <div class="quform-input">
                                                        <input id="professionn" class="form-control" type="text"
                                                               name="profession"
                                                               placeholder="Enter your profession"
                                                               th:value="${resume.profession}"/>
                                                    </div>
                                                </div>
                                            </div>
                                                <!-- End Text input element -->

                                                <!-- Begin Text input element -->
                                                <div class="col-md-6">
                                                    <div class="quform-element form-group">
                                                        <label th:text="#{phone}">Phone</label>
                                                        <div class="quform-input">
                                                            <input class="form-control" id="phoneNumber" type="text"
                                                                   name="phone" th:value="${resume.phone}">
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End Text input element -->

                                                  <div class="col-md-6">
                                                <div class="quform-element form-group">
                                                    <label th:text="#{location}">Location</label>
                                                    <div class="quform-input">
                                                        <select class="form-control form-select border-radius-10"
                                                                name="country" id="location">
                                                            <option value="0"
                                                                    th:text="#{country}">Choose Country</option>
                                                            <option th:each="country : ${countries}"
                                                                    th:value="${country.id}"
                                                                    th:selected="${resume.country != null && country.id == resume.country.id}"
                                                                    th:text="${country.countryName}">
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                                <!-- Begin Text input element for Birth Date -->
                                                  <div class="col-md-6">
                                                      <div class="quform-element form-group">
                                                          <label for="birthDatte"
                                                                 th:text="#{birthDate}">Birth Date</label>
                                                          <div class="quform-input">
                                                              <input class="form-control" id="birthDatte" type="date"
                                                                     name="birthDate"
                                                                     placeholder="Enter your birth date"
                                                                     th:value="${#dates.format(resume.birthDate, 'yyyy-MM-dd')}">
                                                          </div>
                                                      </div>
                                                  </div>
                                                <!-- End Text input element for Birth Date -->

                                                <!-- Begin Select element -->
                                                <div class="col-md-3">
                                                    <div class="quform-element form-group">
                                                        <label for="expectedSalaryy" th:text="#{expectedSalary}">Expected Salary</label>
                                                        <input class="form-control" id="expectedSalaryy"
                                                               type="number"
                                                               name="expectedSalary"
                                                               th:value="${resume.expectedSalary}">
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Select element -->

                                            <!-- Experience Select element -->
                                            <div class="col-md-6">
                                                <div class="quform-element form-group">
                                                    <label for="experienceResume"
                                                           th:text="#{experience}">Experience</label>
                                                    <div class="quform-input">
                                                        <select id="experienceResume" class="form-control form-select"
                                                                name="workExperience">
                                                            <option value="" disabled>Select experience</option>
                                                            <option th:each="experience : ${workExperience}"
                                                                    th:value="${experience}"
                                                                    th:text="${experience.experience}"
                                                                    th:selected="${experience == resume.getWorkExperience()}">
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Experience Select element -->

                                            <!-- Category Select element -->
                                            <div class="col-md-6">
                                                <div class="quform-element form-group">
                                                    <label for="categoryResume" th:text="#{category}">Category</label>
                                                    <div class="quform-input">
                                                        <select id="categoryResume" class="form-control form-select"
                                                                name="category.id">
                                                            <option value="" disabled>Select category</option>
                                                            <option th:each="category : ${categories}"
                                                                    th:text="${category.name}"
                                                                    th:value="${category.id}"
                                                                    th:selected="${category.name == resume.category.name}">
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Category Select element -->

                                            <!-- Gender Select element -->
                                            <div class="col-md-6">
                                                <div class="quform-element form-group">
                                                    <label for="gender" th:text="#{gender}">Gender</label>
                                                    <div class="quform-input">
                                                        <select id="gender" class="form-control form-select"
                                                                name="gender">
                                                            <option value="" disabled>Select gender</option>
                                                            <option th:each="genderOption : ${gender}"
                                                                    th:value="${genderOption}"
                                                                    th:text="${genderOption}"
                                                                    th:selected="${genderOption == resume.gender}">
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Gender Select element -->

                                            <!-- Begin Textarea element -->
                                            <div class="col-md-12">
                                                <div class="quform-element form-group">
                                                    <label for="description"
                                                           th:text="#{description}">Description</label>
                                                    <div class="quform-input">
                                                            <textarea id="massage" class="form-control"
                                                                      name="description"
                                                                      rows="6"
                                                                      th:text="${resume.description}"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Textarea element -->

                                            <!-- Begin Submit button -->
                                            <div class=" col-md-12">
                                                <div class="quform-submit-inner">
                                                    <button class="butn" type="submit" th:text="#{saveChanges}"><span>Save Changes</span>
                                                    </button>
                                                </div>
                                                <div class="quform-loading-wrap"><span
                                                        class="quform-loading"></span></div>
                                            </div>
                                            <!-- End Submit button -->
                                        </div>
                                    </form>
                            </div>
                        </div>
                    </span>
                    </div>
                    </div>
                </div>
            </div>
    </section>
</div>
<!-- BUY TEMPLATE
================================================== -->

<!-- start scroll to top -->
<a href="#!" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
<!-- end scroll to top -->
<!-- all js include start -->

<!-- jQuery -->
<script src="/js/jquery.min.js"></script>

<script src="/js/resumeValidation.js"></script>

<script src="/js/resumUpdateValidation.js"></script>

<script src="/js/ShowPictureUpdate.js"></script>

<script src="/js/showPicture.js"></script>

<!-- popper js -->
<script src="/js/popper.min.js"></script>

<script src="/js/salary.js"></script>

<!-- bootstrap -->
<script src="/js/bootstrap.min.js"></script>

<!-- core.min.js -->
<script src="/js/core.min.js"></script>

<!-- search -->
<script src="/search/search.js"></script>

<!-- custom scripts -->
<script src="/js/main.js"></script>

<!-- form plugins js -->
<script src="/quform/js/plugins.js"></script>

<!-- form scripts js -->
<script src="/quform/js/scripts.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="/js/getPhoneCode.js"></script>

<!-- all js include end -->

</body>
</html>
