<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Job Portal HTML Template"/>
    <meta name="description" content="Job Board - Job Portal HTML Template"/>

    <!-- title  -->
    <title>Job Board - Job Portal HTML Template</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="/img/logos/favicon.png"/>
    <link rel="apple-touch-icon" href="/img/logos/apple-touch-icon-57x57.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="/img/logos/apple-touch-icon-72x72.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="/img/logos/apple-touch-icon-114x114.png"/>

    <!-- plugins -->
    <link rel="stylesheet" href="/css/plugins.css"/>

    <!-- search css -->
    <link rel="stylesheet" href="/search/search.css"/>

    <!-- quform css -->
    <link rel="stylesheet" href="/quform/css/base.css">

    <!-- dashboard css -->
    <link href="/css/dashboard.css" rel="stylesheet"/>

</head>

<body>

<!-- PAGE LOADING
================================================== -->
<div id="preloader"></div>

<!-- MAIN WRAPPER
================================================== -->
<div class="main-wrapper">

    <!-- HEADER
    ================================================== -->
    <header class="header-style2 static-header">
        <div th:replace="~{/fragment/header-menu-fragment::header}"></div>
    </header>

    <!-- EMPLOYER DASHBOARD
    ================================================== -->
    <section class="py-0">
        <div class="row g-0">
            <div class="col-lg-3 mb-2-2 mb-lg-0">
                <th:block th:insert="~{fragment/user-left-menue-fragmnet::left-user-menue-fragment}"/>
            </div>
            <div class="col-lg-9">
                <div class="dashboard-right-sidebar">
                    <div class="row mb-2-2">
                        <div class="col-lg-12 mb-1-9">
                            <h3 class="mb-3" th:text="#{candidate.change.password.title}">Change Password</h3>
                        </div>
                        <div class="col-lg-12">
                            <div class="dashboard-title">
                                <h5 class="mb-0" th:text="#{candidate.change.password.title}">Change Password</h5> <br>
                                <span th:if="${msg != null and not msg.equals('Your password is successfully changed.')}">
                                           <div class="alert alert-danger alert-dismissible">
                                        <strong th:text="${msg}"></strong>
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                </span>

                                <span th:if="${msg != null and msg.equals('Your password is successfully changed.')}">
                                           <div class="alert alert-success alert-dismissible">
                                        <strong th:text="${msg}"></strong>
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                </span>

                                <span th:if="${cannotChangePasswordMsg != null}">
                                    <div class="alert alert-warning alert-dismissible">
                                        <strong th:text="${cannotChangePasswordMsg}"></strong>
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                </span>
                            </div>
                            <div class="dashboard-widget">
                                <form action="/profile/change-password" method="post" enctype="multipart/form-data"
                                      onsubmit="return validateForm()" onclick="">
                                    <div class="quform-elements">
                                        <div class="row">

                                            <!-- Begin Text input element -->
                                            <div class="col-lg-12">
                                                <div class="quform-element form-group">
                                                    <label for="old-password"
                                                           th:text="#{candidate.change.password.oldPassword}">Old
                                                        Password</label>
                                                    <input name="oldPassword" type="password" class="form-control"
                                                           th:placeholder="#{candidate.change.password.oldPassword}"
                                                           id="old-password">
                                                </div>
                                            </div>
                                            <!-- End Text input element -->

                                            <!-- Begin Text input element -->
                                            <div class="col-lg-12">
                                                <div class="quform-element form-group">
                                                    <label for="password"
                                                           th:text="#{candidate.change.password.newPassword}">New
                                                        Password</label>
                                                    <input name="newPassword" type="password" class="form-control"
                                                           th:placeholder="#{candidate.change.password.newPassword}"
                                                           id="password">
                                                </div>
                                            </div>
                                            <!-- End Text input element -->

                                            <!-- Begin Text input element -->
                                            <div class="col-lg-12">
                                                <div class="quform-element form-group">
                                                    <label for="confirmPassword"
                                                           th:text="#{candidate.change.password.confirmPassword}">Confirm Password</label>
                                                    <input name="confirmPassword" type="password" class="form-control"
                                                           th:placeholder="#{candidate.change.password.confirmPassword}"
                                                           id="confirmPassword">
                                                </div>
                                            </div>
                                            <!-- End Text input element -->

                                            <!-- Begin Submit button -->
                                            <div class="col-md-12">
                                                <div class="quform-submit-inner">
                                                    <button class="butn" type="submit"
                                                            th:text="#{candidate.change.password.updateButton}"><span>Update Password</span>
                                                    </button>
                                                </div>
                                                <div class="quform-loading-wrap"><span class="quform-loading"></span>
                                                </div>
                                            </div>
                                            <!-- End Submit button -->

                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

<!-- start scroll to top -->
<a href="#!" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
<!-- end scroll to top -->

<!-- all js include start -->

<!-- jQuery -->
<script src="/js/jquery.min.js"></script>

<script src="/js/validateChangePassword.js"></script>

<!-- popper js -->
<script src="/js/popper.min.js"></script>

<!-- bootstrap -->
<script src="/js/bootstrap.min.js"></script>

<!-- core.min.js -->
<script src="/js/core.min.js"></script>

<!-- search -->
<script src="/search/search.js"></script>

<!-- custom scripts -->
<script src="/js/main.js"></script>

<!-- form plugins js -->
<script src="/quform/js/plugins.js"></script>

<!-- form scripts js -->
<script src="/quform/js/scripts.js"></script>


<!-- all js include end -->

</body>

</html>
