<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Job Portal HTML Template">
    <meta name="description" content="Job Board - Job Portal HTML Template">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <!-- title  -->
    <title>Job Board - My Company</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="/img/logos/favicon.png">
    <link rel="apple-touch-icon" href="/img/logos/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/logos/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/logos/apple-touch-icon-114x114.png">

    <!-- plugins -->
    <link rel="stylesheet" href="/css/plugins.css">

    <!-- search css -->
    <link rel="stylesheet" href="/search/search.css">

    <!-- quform css -->
    <link rel="stylesheet" href="/quform/css/base.css">

    <!-- dashboard css -->
    <link href="/css/dashboard.css" rel="stylesheet">

</head>

<body>

<!-- PAGE LOADING
================================================== -->
<div id="preloader"></div>

<!-- MAIN WRAPPER
================================================== -->
<div class="main-wrapper">

    <!-- HEADER
    ================================================== -->
    <header>
        <div th:replace="~{/fragment/header-menu-fragment::header}"></div>
    </header>

    <!-- EMPLOYER DASHBOARD
    ================================================== -->
    <section class="py-0">
        <div class="row g-0">
            <div class="col-lg-3 mb-2-2 mb-lg-0">
                <th:block th:insert="~{fragment/user-left-menue-fragmnet::left-user-menue-fragment}"/>
            </div>
            <div class="col-lg-9">
                <div class="dashboard-right-sidebar">
                    <div class="row mb-2-2">
                        <div class="col-lg-12 mb-1-9">
                            <h3 class="mb-3" th:text="#{company.page.configurations.title}">Company Page Configurations</h3>
                        </div>
                        <div class="col-lg-12 mb-2-2">
                            <div class="dashboard-title">
                                <h5 class="mb-0" th:text="#{company.page.configurations.myCompany}">My Company</h5> <br>
                                <span th:if="${msg != null}">
                                           <div class="alert alert-danger alert-dismissible">
                                        <strong th:text="${msg}"></strong>
                                        <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                aria-label="Close"></button>
                                    </div>
                                    </span>
                            </div>
                            <div class="dashboard-widget" th:if="${company == null}">
                                <form action="/companies/create" method="post" enctype="multipart/form-data" onclick="">
                                    <div class="quform-elements">
                                        <div class="row">

                                            <div class="col-md-6" style="width: 100%">
                                                <div class="quform-element form-group">
                                                    <div class="quform-input">
                                                        <label for="logo" th:text="#{company.page.configurations.companyLogo}">Company Logo</label>
                                                        <div style="width: 100%"
                                                             class="flex-shrink-0 mx-auto mx-md-0 w-80px w-md-auto mb-3 mb-md-0">
                                                            <img id="previewImg" src="/img/avatar/default_company_logo.png" width="100px"
                                                                 alt="..."
                                                                 class="border-radius-50">
                                                        </div>
                                                        <br>
                                                        <div class="custom-file">
                                                            <input class="custom-file-input" type="file" id="logo"
                                                                   name="logo">
                                                            <label class="custom-file-label" data-browse="Browse" th:text="#{company.page.configurations.chooseLogo}">Choose Logo</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Begin Text input element -->
                                            <div class="col-md-6">
                                                <div class="quform-element form-group">
                                                    <label for="company-name" th:text="#{company.page.configurations.companyName}">Company Name</label>
                                                    <div class="quform-input">
                                                        <input id="company-name" class="form-control" type="text"
                                                               name="name" th:placeholder="#{company.page.configurations.enterCompanyName}">
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Text input element -->

                                            <!-- Begin Text input element -->
                                            <div class="col-md-6">
                                                <div class="quform-element form-group">
                                                    <label for="email" th:text="#{company.page.configurations.email}">Email</label>
                                                    <div class="quform-input">
                                                        <input id="email" class="form-control" type="email" name="email"
                                                               th:placeholder="#{company.page.configurations.enterEmail}">
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- End Text input element -->
                                            <div class="col-md-6">
                                                <div class="quform-element form-group">
                                                    <label th:text="#{company.page.configurations.location}">Location</label>
                                                    <div class="quform-input">
                                                        <select id="country"
                                                                class="form-control form-select border-radius-10"
                                                                name="country">
                                                            <option value="0" th:text="#{company.page.configurations.chooseCountry}">Choose Country</option>
                                                            <option th:each="country : ${countries}"
                                                                    th:value="${country.id}"
                                                                    th:text="${country.countryName}">
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Begin Text input element -->
                                            <div class="col-md-6">
                                                <div class="quform-element form-group">
                                                    <label for="phoneNum" th:text="#{company.page.configurations.phone}">Phone</label>
                                                    <div class="quform-input">
                                                        <input class="form-control" id="phoneNum" type="text" name="phone"
                                                               th:placeholder="#{company.page.configurations.enterPhone}">
                                                    </div>
                                                </div>

                                            </div>
                                            <!-- End Text input element -->

                                            <!-- Begin Text input element -->
                                            <div class="col-md-6">
                                                <div class="quform-element form-group">
                                                    <label for="website-link" th:text="#{company.page.configurations.website}">Website</label>
                                                    <div class="quform-input">
                                                        <input id="website-link" class="form-control" type="text"
                                                               name="website" th:placeholder="#{company.page.configurations.enterWebsite}">
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Text input element -->

                                            <!-- Begin Text input element -->
                                            <div class="col-md-6">
                                                <div class="quform-element form-group">
                                                    <label for="since-date" th:text="#{company.page.configurations.foundedDate}">Founded Date</label>
                                                    <div class="quform-input">
                                                        <input class="form-control" id="since-date" type="date"
                                                               name="foundedDate" th:placeholder="#{company.page.configurations.enterFoundedDate}">
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Text input element -->

                                            <!-- Begin Select element -->
                                            <div class="col-md-6">
                                                <div class="quform-element form-group">
                                                    <label for="category" th:text="#{company.page.configurations.chooseCategory}">Choose Category</label>
                                                    <div class="quform-input">
                                                        <select id="category" class="form-control form-select"
                                                                name="categoryId">
                                                            <option th:each="categ : ${categories}"
                                                                    th:value="${categ.id}"
                                                                    th:text="${categ.name}">
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6" style="width: 100%">
                                                <div class="quform-element form-group">
                                                    <div class="quform-input">
                                                        <label for="companyPictures" th:text="#{company.page.configurations.companyOfficePictures}">Company Office Pictures</label>
                                                        <div class="custom-file">
                                                            <input class="custom-file-input" type="file"
                                                                   id="companyPictures" name="companyPictures"
                                                                   multiple onchange="handleFileUploadForCreate(event)">
                                                            <label class="custom-file-label" data-browse="Browse" th:text="#{company.page.configurations.chooseFiles}">Choose
                                                                file's</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div id="gallery-create" class="row">
                                            </div>

                                            <!-- Begin Textarea element -->
                                            <div class="col-md-12">
                                                <div class="quform-element form-group">
                                                    <label for="message" th:text="#{company.page.configurations.aboutCompanyInfo}">About Company Info</label>
                                                    <div class="quform-input">
                                                        <textarea id="message" class="form-control" name="description"
                                                                  rows="6"
                                                                  th:placeholder="#{company.page.configurations.aboutCompanyInfo}"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Textarea element -->

                                            <!-- Begin Submit button -->
                                            <div class="col-md-12">
                                                <div class="quform-submit-inner">
                                                    <button class="butn" type="submit" th:text="#{company.page.configurations.createCompany}"><span th:text="#{company.page.configurations.createCompany}">Create Company</span>
                                                    </button>
                                                </div>
                                                <div class="quform-loading-wrap"><span class="quform-loading"></span>
                                                </div>
                                            </div>
                                            <!-- End Submit button -->

                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="dashboard-widget" th:if="${company != null}">
                                <form action="/companies/update" method="post" enctype="multipart/form-data" onclick="">
                                    <div class="quform-elements">
                                        <div class="row">

                                            <input type="hidden" name="id" th:value="${company.id}">
                                            <input type="hidden" name="picName" th:value="${company.logoName}">

                                            <div style="width: 100%" class="col-md-6">
                                                <div class="quform-element form-group">
                                                    <div class="quform-input">
                                                        <label for="picNamee" th:text="#{company.page.configurations.companyLogo}">Company Logo</label>
                                                        <div style="width: 100%;"
                                                             class="flex-shrink-0 mx-auto mx-md-0 w-80px w-md-auto mb-3 mb-md-0">
                                                            <img id="previewImage"
                                                                 th:src="@{/getImage(picName=${company.logoName})}"
                                                                 width="100px" alt="..." class="border-radius-50">
                                                        </div>
                                                        <br>
                                                        <div class="custom-file">
                                                            <input class="custom-file-input" type="file" id="picNamee"
                                                                   onchange=""
                                                                   name="logo">
                                                            <label class="custom-file-label" data-browse="Browse" th:text="#{company.page.configurations.chooseLogo}">Choose
                                                                Logo</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Begin Text input element -->
                                            <div class="col-md-6">
                                                <div class="quform-element form-group">
                                                    <label for="companyName" th:text="#{company.page.configurations.companyName}">Company Name</label>
                                                    <div class="quform-input">
                                                        <input id="companyName" class="form-control" type="text"
                                                               name="name" th:value="${company.name}">
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Text input element -->

                                            <!-- Begin Text input element -->
                                            <div class="col-md-6">
                                                <div class="quform-element form-group">
                                                    <label for="emailAddres" th:text="#{company.page.configurations.email}">Email</label>
                                                    <div class="quform-input">
                                                        <input id="emailAddres" class="form-control" type="email"
                                                               name="email" th:value="${company.email}">
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Text input element -->

                                            <!-- Begin Text input element -->
                                            <div class="col-md-6">
                                                <div class="quform-element form-group">
                                                    <label th:if="${company.phone != null}"
                                                           for="phoneNumber" th:text="#{company.page.configurations.phone}">Phone</label>
                                                    <div th:if="${company.phone != null}" class="quform-input">
                                                        <input class="form-control" id="phoneNumber" type="text"
                                                               name="phone" th:value="${company.phone}">
                                                    </div>
                                                    <label th:if="${company.phone == null}"
                                                           for="no-phoneNumber" th:text="#{company.page.configurations.phone}">Phone</label>
                                                    <div th:if="${company.phone == null}" class="quform-input">
                                                        <input class="form-control" id="no-phoneNumber" type="text"
                                                               name="phone" placeholder="Enter Your Phone">
                                                    </div>
                                                </div>

                                            </div>
                                            <!-- End Text input element -->

                                            <!-- Begin Text input element -->
                                            <div class="col-md-6">
                                                <div class="quform-element form-group">
                                                    <label th:if="${company.website != null}"
                                                           for="websiteLink" th:text="#{company.page.configurations.website}">Website</label>
                                                    <div th:if="${company.website != null}" class="quform-input">
                                                        <input id="websiteLink" class="form-control" type="text"
                                                               name="website" th:value="${company.website}">
                                                    </div>
                                                    <label th:if="${company.website == null}" for="no-websiteLink" th:text="#{company.page.configurations.website}">Website</label>
                                                    <div th:if="${company.website == null}" class="quform-input">
                                                        <input id="no-websiteLink" class="form-control" type="text"
                                                               name="website" placeholder="Enter Website Link">
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Text input element -->

                                            <div class="col-md-6">
                                                <div class="quform-element form-group">
                                                    <label for="since-date-n" th:text="#{company.page.configurations.foundedDate}">Founded Date</label>
                                                    <div class="quform-input">
                                                        <input class="form-control" id="since-date-n" type="date"
                                                               name="foundedDate"
                                                               th:value="${#dates.format(company.foundedDate,'yyyy-MM-dd')}">
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Text input element -->

                                            <!-- Begin Select element -->
                                            <div class="col-md-6">
                                                <div class="quform-element form-group">
                                                    <label for="category-n"th:text="#{company.page.configurations.chooseCategory}">Category</label>
                                                    <div class="quform-input">
                                                        <select id="category-n" class="form-control form-select"
                                                                name="categoryId">
                                                            <option th:each="categ : ${categories}"
                                                                    th:value="${categ.id}"
                                                                    th:selected="${company.category != null && categ.id == company.category.id}"
                                                                    th:text="${categ.name}">
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Select element -->

                                            <div class="col-md-6">
                                                <div class="quform-element form-group">
                                                    <label th:text="#{company.page.configurations.location}">Location</label>
                                                    <div class="quform-input">
                                                        <select class="form-control form-select border-radius-10"
                                                                name="country">
                                                            <option value="0" th:text="#{company.page.configurations.chooseCountry}">Choose Country</option>
                                                            <option th:each="country : ${countries}"
                                                                    th:value="${country.id}"
                                                                    th:selected="${company.country != null && country.id == company.country.id}"
                                                                    th:text="${country.countryName}">
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6" style="width: 100%">
                                                <div class="quform-element form-group">
                                                    <div class="quform-input">
                                                        <label for="company-pictures" th:text="#{company.page.configurations.companyOfficePictures}">Company Office Pictures</label>
                                                        <div class="custom-file">
                                                            <input class="custom-file-input" type="file"
                                                                   id="company-pictures" name="companyPictures"
                                                                   multiple onchange="handleFileUpload(event)">
                                                            <label class="custom-file-label" data-browse="Browse" th:text="#{company.page.configurations.chooseFiles}">Choose
                                                                file's</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div id="gallery" class="row">
                                                <div th:each="companyPicture : ${companyPictures}"
                                                     class="col-md-6 col-lg-4 mt-1-9">
                                                    <img th:src="@{/getImage(picName=${companyPicture.name})}"
                                                         style="width: 200px"
                                                         class="border-radius-10 img-hov" alt="...">
                                                    <button type="button" class="trash-button"
                                                            onclick="deleteImage(this)"
                                                            th:data-picture-name="${companyPicture.name}">
                                                        🗑️
                                                    </button>
                                                </div>
                                            </div>

                                            <input type="hidden" name="deletedPictures" id="deletedPictures" value="">

                                            <div class="col-md-12">
                                                <div class="quform-element form-group">
                                                    <label th:if="${company.description != null}" for="messages-c" th:text="#{company.page.configurations.aboutCompanyInfo}">About
                                                        Company Info</label>
                                                    <div th:if="${company.description != null}" class="quform-input">
                                                        <textarea id="messages-c" class="form-control"
                                                                  name="description"
                                                                  rows="6" th:text="${company.description}"></textarea>
                                                    </div>
                                                    <label th:if="${company.description == null}" for="on-message" th:text="#{company.page.configurations.aboutCompanyInfo}">About
                                                        Company Info</label>
                                                    <div th:if="${company.description == null}" class="quform-input">
                                                        <textarea id="on-message" class="form-control"
                                                                  name="description"
                                                                  rows="6"
                                                                  placeholder="What can you tell about the company ?"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Textarea element -->

                                            <!-- Begin Submit button -->
                                            <div class="col-md-12">
                                                <div class="quform-submit-inner">
                                                    <button class="butn" type="submit" th:text="#{company.page.configurations.saveChanges}"><span th:text="#{company.page.configurations.saveChanges}">Save Changes</span>
                                                    </button>
                                                </div>
                                                <div class="quform-loading-wrap"><span class="quform-loading"></span>
                                                </div>
                                            </div>
                                            <!-- End Submit button -->

                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

<!-- BUY TEMPLATE
================================================== -->
<!-- start scroll to top -->
<a href="#!" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
<!-- end scroll to top -->

<!-- all js include start -->

<!-- jQuery -->
<script src="/js/jquery.min.js"></script>

<script src="/js/pictureUploadConfig.js"></script>

<script src="/js/ShowPictureUpdate.js"></script>

<!-- popper js -->
<script src="/js/popper.min.js"></script>

<!-- bootstrap -->
<script src="/js/bootstrap.min.js"></script>

<!-- core.min.js -->
<script src="/js/core.min.js"></script>

<!-- search -->
<script src="/search/search.js"></script>

<!-- custom scripts -->
<script src="/js/main.js"></script>

<!-- form plugins js -->
<script src="/quform/js/plugins.js"></script>

<!-- form scripts js -->
<script src="/quform/js/scripts.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="/js/getPhoneCode.js"></script>

<!-- all js include end -->

</body>

</html>
