<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">

<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Job Portal HTML Template">
    <meta name="description" content="Job Board - Job Portal HTML Template">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <!-- title  -->
    <title>Job Board - Job Portal HTML Template</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="/img/logos/favicon.png">
    <link rel="apple-touch-icon" href="/img/logos/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/logos/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/logos/apple-touch-icon-114x114.png">

    <!-- plugins -->
    <link rel="stylesheet" href="/css/plugins.css">

    <!-- search css -->
    <link rel="stylesheet" href="/search/search.css">

    <!-- quform css -->
    <link rel="stylesheet" href="/quform/css/base.css">

    <!-- dashboard css -->
    <link href="/css/dashboard.css" rel="stylesheet">

</head>

<body>

    <!-- PAGE LOADING
    ================================================== -->
    <div id="preloader"></div>

    <!-- MAIN WRAPPER
    ================================================== -->
    <div class="main-wrapper">

        <!-- HEADER
        ================================================== -->
        <header>
            <div th:replace="~{/fragment/header-menu-fragment::header}"></div>
        </header>

        <!-- EMPLOYER DASHBOARD
        ================================================== -->
        <section class="py-0">
            <div class="row g-0">
                <div class="col-lg-3 mb-2-2 mb-lg-0">
                    <th:block th:insert="~{fragment/user-left-menue-fragmnet::left-user-menue-fragment}"/>
                </div>
                <div class="col-lg-9">
                    <div class="dashboard-right-sidebar">
                        <div class="row mb-2-2">
                            <div class="col-lg-12 mb-1-9">
                                <h3 class="mb-3">Company Profile</h3>
                                <span th:if="${msg != null}">
                                           <div class="alert alert-danger alert-dismissible">
                                        <strong th:text="${msg}"></strong>
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                    </span>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="demo-1.html">Job Board</a></li>
                                        <li class="breadcrumb-item"><a href="employer-dashboard.html">Dashboard</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Company Profile</li>
                                    </ol>
                                </nav>
                            </div>
                            <div class="col-lg-12 mb-2-2">
                                <div class="dashboard-title">
                                    <h5 class="mb-0">My Profile</h5>
                                </div>
                                <div class="dashboard-widget" th:if="${company == null}">
                                    <form action="#!" method="post" enctype="multipart/form-data" onclick="">
                                        <div class="quform-elements">
                                            <div class="row">

                                                <!-- Begin Select element -->
                                                <div class="col-md-6">
                                                    <div class="quform-element form-group">
                                                        <div class="quform-input">
                                                            <label for="resume">Browse Logo</label>
                                                            <div class="custom-file">
                                                                <input class="custom-file-input" type="file" id="resume" name="resume">
                                                                <label class="custom-file-label" data-browse="Browse">Choose file</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End Select element -->

                                                <!-- Begin Text input element -->
                                                <div class="col-md-6">
                                                    <div class="quform-element form-group">
                                                        <label for="company-name">Company Name</label>
                                                        <div class="quform-input">
                                                            <input id="company-name" class="form-control" type="text" name="company-name" placeholder="Enter company name">
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End Text input element -->

                                                <!-- Begin Text input element -->
                                                <div class="col-md-6">
                                                    <div class="quform-element form-group">
                                                        <label for="email">Email </label>
                                                        <div class="quform-input">
                                                            <input id="email" class="form-control" type="text" name="email" placeholder="name@example.com">
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End Text input element -->

                                                <!-- Begin Text input element -->
                                                <div class="col-md-6">
                                                    <div class="quform-element form-group">
                                                        <label for="website-link">Phone</label>
                                                        <div class="quform-input">
                                                            <input class="form-control" id="phone" type="text" name="phone" placeholder="Enter your phone">
                                                        </div>
                                                    </div>

                                                </div>
                                                <!-- End Text input element -->

                                                <!-- Begin Text input element -->
                                                <div class="col-md-6">
                                                    <div class="quform-element form-group">
                                                        <label for="website-link">Website</label>
                                                        <div class="quform-input">
                                                            <input id="website-link" class="form-control" type="text" name="website-link" placeholder="Enter website link">
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End Text input element -->

                                                <!-- Begin Text input element -->
                                                <div class="col-md-6">
                                                    <div class="quform-element form-group">
                                                        <label for="since-date">Founded Date</label>
                                                        <div class="quform-input">
                                                            <input class="form-control" id="since-date" type="date" name="since-date" placeholder="Enter since date">
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End Text input element -->

                                                <!-- Begin Select element -->
                                                <div class="col-md-6">
                                                    <div class="quform-element form-group">
                                                        <label for="category">Category</label>
                                                        <div class="quform-input">
                                                            <select id="category" class="form-control form-select" name="category.id">
                                                                <option value="" disabled selected>Choose Category</option>
                                                                <option th:if="${categories != null and not #lists.isEmpty(categories)}"
                                                                        th:each="category : ${categories}"
                                                                        th:text="${category.name}"
                                                                        th:value="${category.id}">
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End Select element -->

                                                <!-- Begin Textarea element -->
                                                <div class="col-md-12">
                                                    <div class="quform-element form-group">
                                                        <label for="message">About Company</label>
                                                        <div class="quform-input">
                                                            <textarea id="message" class="form-control" name="message" rows="6" placeholder="How'd you hear about company?"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End Textarea element -->

                                                <!-- Begin Submit button -->
                                                <div class="col-md-12">
                                                    <div class="quform-submit-inner">
                                                        <button class="butn" type="submit"><span>Create Company</span></button>
                                                    </div>
                                                    <div class="quform-loading-wrap"><span class="quform-loading"></span></div>
                                                </div>
                                                <!-- End Submit button -->

                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <div class="dashboard-widget" th:if="${company != null}">
                                    <form action="#!" method="post" enctype="multipart/form-data" onclick="">
                                        <div class="quform-elements">
                                            <div class="row">

                                                <!-- Begin Select element -->
                                                <div class="col-md-6">
                                                    <div class="quform-element form-group">
                                                        <div class="quform-input">
                                                            <label for="resume">Browse Logo</label>
                                                            <div class="custom-file">
                                                                <input class="custom-file-input" type="file" id="lgo" name="logoName">
                                                                <label class="custom-file-label" data-browse="Browse">Choose file</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End Select element -->

                                                <!-- Begin Text input element -->
                                                <div class="col-md-6">
                                                    <div class="quform-element form-group">
                                                        <label for="company-name">Company Name</label>
                                                        <div class="quform-input">
                                                            <input id="companyName" class="form-control" type="text" name="name" th:value="${company.name}">
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End Text input element -->

                                                <!-- Begin Text input element -->
                                                <div class="col-md-6">
                                                    <div class="quform-element form-group">
                                                        <label for="email">Email </label>
                                                        <div class="quform-input">
                                                            <input id="emailAddres" class="form-control" type="email" name="email" th:value="${company.email}">
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End Text input element -->

                                                <!-- Begin Text input element -->
                                                <div class="col-md-6">
                                                    <div class="quform-element form-group">
                                                        <label for="website-link">Phone</label>
                                                        <div class="quform-input">
                                                            <input class="form-control" id="phoneNumber" type="text" name="phone" th:value="${company.phone}">
                                                        </div>
                                                    </div>

                                                </div>
                                                <!-- End Text input element -->

                                                <!-- Begin Text input element -->
                                                <div class="col-md-6">
                                                    <div class="quform-element form-group">
                                                        <label for="website-link">Website</label>
                                                        <div class="quform-input">
                                                            <input id="websiteLink" class="form-control" type="text" name="website-link" th:value="${company.website}">
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End Text input element -->

                                                <!-- Begin Text input element -->
                                                <div class="col-md-6">
                                                    <div class="quform-element form-group">
                                                        <label for="since-date">Founded Date</label>
                                                        <div class="quform-input">
                                                            <input class="form-control" id="sinceDate" type="date" name="since-date" th:value="${#dates.format(company.foundedDate,'yyyy-MM-dd')}">
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End Text input element -->

                                                <!-- Begin Select element -->
                                                <div class="col-md-6">
                                                    <div class="quform-element form-group">
                                                        <label for="category">Category</label>
                                                        <div class="quform-input">
                                                            <select id="categoryCompany" class="form-control form-select" name="category.id">
                                                                <option value="" disabled th:value="${company.getCategory()}"></option>
                                                                <option th:if="${categories != null and not #lists.isEmpty(categories)}"
                                                                        th:each="category : ${categories}"
                                                                        th:text="${category.name}"
                                                                        th:value="${category.id}">
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End Select element -->

                                                <div class="col-md-6">
                                                    <div class="quform-element form-group">
                                                        <div class="quform-input">
                                                            <label for="resume">Browse Company Office Pictures</label>
                                                            <div class="custom-file">
                                                                <input class="custom-file-input" type="file" id="pictures" name="pictures" multiple>
                                                                <label class="custom-file-label" data-browse="Browse">Choose file</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Begin Textarea element -->
                                                <div class="col-md-12">
                                                    <div class="quform-element form-group">
                                                        <label for="message">About Company</label>
                                                        <div class="quform-input">
                                                            <textarea id="messages" class="form-control" name="message" rows="6" th:text="${company.description}"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End Textarea element -->

                                                <!-- Begin Submit button -->
                                                <div class="col-md-12">
                                                    <div class="quform-submit-inner">
                                                        <button class="butn" type="submit"><span>Save Changes</span></button>
                                                    </div>
                                                    <div class="quform-loading-wrap"><span class="quform-loading"></span></div>
                                                </div>
                                                <!-- End Submit button -->

                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                        <div class="row mb-2-2">
                            <div class="col-lg-12">
                                <div class="dashboard-title">
                                    <h5 class="mb-0">Contact Information</h5>
                                </div>
                                <div class="dashboard-widget">
                                    <form action="#!" method="post" enctype="multipart/form-data" onclick="">
                                        <div class="quform-elements">
                                            <div class="row">

                                                <!-- Begin Select element -->
                                                <div class="col-md-6">
                                                    <div class="quform-element form-group">
                                                        <label for="country">Country</label>
                                                        <div class="quform-input">
                                                            <select id="country" class="form-control form-select" name="country">
                                                                <option value="">England</option>
                                                                <option value="France">France</option>
                                                                <option value="Canada">Canada</option>
                                                                <option value="Germany">Germany</option>
                                                                <option value="USA">USA</option>
                                                                <option value="India">India</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End Select element -->

                                                <!-- Begin Select element -->
                                                <div class="col-md-6">
                                                    <div class="quform-element form-group">
                                                        <label for="city">City</label>
                                                        <div class="quform-input">
                                                            <select id="city" class="form-control form-select" name="city">
                                                                <option value="">London</option>
                                                                <option value="Paris">Paris</option>
                                                                <option value="Toronto">Toronto</option>
                                                                <option value="Berlin">Berlin</option>
                                                                <option value="Newyork">Newyork</option>
                                                                <option value="Mumbai">Mumbai</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End Select element -->

                                                <!-- Begin Text input element -->
                                                <div class="col-md-6">
                                                    <div class="quform-element form-group">
                                                        <label for="address">Address</label>
                                                        <div class="quform-input">
                                                            <input id="address" class="form-control" type="text" name="address" placeholder="Enter your address">
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End Text input element -->

                                                <!-- Begin Text input element -->
                                                <div class="col-md-6">
                                                    <div class="quform-element form-group">
                                                        <label for="location">Location</label>
                                                        <div class="quform-input">
                                                            <input id="location" class="form-control" type="text" name="location" placeholder="Enter your location /">
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End Text input element -->

                                                <!-- Begin Text input element -->
                                                <div class="col-md-6">
                                                    <div class="quform-element form-group">
                                                        <label for="latitude">Latitude</label>
                                                        <div class="quform-input">
                                                            <input id="latitude" class="form-control" type="text" name="latitude" placeholder="Enter latitude">
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End Text input element -->

                                                <!-- Begin Text input element -->
                                                <div class="col-md-6">
                                                    <div class="quform-element form-group">
                                                        <label for="longitude">Longitude</label>
                                                        <div class="quform-input">
                                                            <input id="longitude" class="form-control" type="text" name="longitude" placeholder="Enter longitude">
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End Text input element -->

                                                <!-- Begin Submit button -->
                                                <div class="col-md-12 mb-1-9">
                                                    <div class="quform-submit-inner">
                                                        <button class="butn" type="submit"><span>Search Location</span></button>
                                                    </div>
                                                    <div class="quform-loading-wrap"><span class="quform-loading"></span></div>
                                                </div>
                                                <!-- End Submit button -->

                                                <!-- Map -->
                                                <div class="col-md-12 mb-1-9">
                                                    <iframe class="map-h300" id="gmap_canvas" src="https://maps.google.com/maps?q=london&t=&z=13&ie=UTF8&iwloc=&output=embed"></iframe>
                                                </div>
                                                <!-- End Map -->

                                                <!-- Begin Submit button -->
                                                <div class="col-md-12">
                                                    <div class="quform-submit-inner">
                                                        <button class="butn" type="submit">Save Changes</button>
                                                    </div>
                                                    <div class="quform-loading-wrap"><span class="quform-loading"></span></div>
                                                </div>
                                                <!-- End Submit button -->

                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <p class="d-inline-block mb-0">© <span class="current-year"></span> Job Board Powered by
                                    <a href="https://www.chitrakootweb.com/" target="_blank" class="text-primary secondary-hover">Chitrakoot Web</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <!-- BUY TEMPLATE
    ================================================== -->
    <div class="buy-theme alt-font d-none d-lg-inline-block"><a href="https://wrapbootstrap.com/theme/job-board-job-portal-html-template-WB0S2FC71" target="_blank"><i class="fas fa-cart-plus"></i><span>Buy Template</span></a></div>

    <div class="all-demo alt-font d-none d-lg-inline-block"><a href="https://www.chitrakootweb.com/contact.html" target="_blank"><i class="far fa-envelope"></i><span>Quick Question?</span></a></div>

    <!-- start scroll to top -->
    <a href="#!" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
    <!-- end scroll to top -->

    <!-- all js include start -->

    <!-- jQuery -->
    <script src="/js/jquery.min.js"></script>

    <!-- popper js -->
    <script src="/js/popper.min.js"></script>

    <!-- bootstrap -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- core.min.js -->
    <script src="/js/core.min.js"></script>

    <!-- search -->
    <script src="/search/search.js"></script>

    <!-- custom scripts -->
    <script src="/js/main.js"></script>

    <!-- form plugins js -->
    <script src="/quform/js/plugins.js"></script>

    <!-- form scripts js -->
    <script src="/quform/js/scripts.js"></script>

    <!-- all js include end -->

</body>

</html>