<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Job Portal HTML Template">
    <meta name="description" content="Job Board - Job Portal HTML Template">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <!-- title  -->
    <title>Job Board - Messages</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="/img/logos/favicon.png">
    <link rel="apple-touch-icon" href="/img/logos/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/logos/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/logos/apple-touch-icon-114x114.png">

    <!-- plugins -->
    <link rel="stylesheet" href="/css/plugins.css">

    <!-- search css -->
    <link rel="stylesheet" href="/search/search.css">

    <!-- quform css -->
    <link rel="stylesheet" href="/quform/css/base.css">

    <!-- dashboard css -->
    <link href="/css/dashboard.css" rel="stylesheet">

    <link href="/css/popup.css" rel="stylesheet">
</head>

<body>

<!-- PAGE LOADING
================================================== -->
<div id="preloader"></div>

<!-- MAIN WRAPPER
================================================== -->
<div class="main-wrapper">

    <!-- HEADER
    ================================================== -->
    <header class="header-style2 static-header">
        <div th:replace="~{/fragment/header-menu-fragment::header}"></div>
    </header>

    <!-- EMPLOYER DASHBOARD
    ================================================== -->
    <section class="py-0">
        <div class="row g-0">
            <div class="col-lg-3 mb-2-2 mb-lg-0">
                <th:block th:insert="~{fragment/user-left-menue-fragmnet::left-user-menue-fragment}"/>
            </div>
            <div class="col-lg-9">
                <div class="dashboard-right-sidebar">
                    <div class="row mb-2-5">
                        <div class="col-lg-12 mb-1-9">
                            <h3 class="mb-3">Messages Chat</h3>
                        </div>
                        <div class="col-xl-4 mb-2-2 mb-xl-0">
                            <div class="dashboard-title">
                                <h5 class="mb-0">Messages</h5>
                            </div>
                            <div class="dashboard-widget left-dashboard">
                                <div class="row mb-4">
                                    <div class="col-md-12">
                                        <div class="search-bar">
                                            <input class="search__chat" type="search" name="search"
                                                   placeholder="Search here ...">
                                        </div>
                                    </div>
                                </div>
                                <ul id="connectedUsers" class="message-list">
                                    <li>
                                        <a href="#!">
                                            <div class="d-sm-flex justify-content-between">
                                                <div class="d-flex mb-2 mb-sm-0">
                                                    <div class="flex-shrink-0">
                                                        <div class="position-relative">

                                                        </div>
                                                    </div>
                                                    <div class="flex-grow-1 ms-3">

                                                    </div>
                                                </div>

                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-8 chat-area hidden">
                            <div class="dashboard-title">
                                <div class="d-sm-flex justify-content-between align-items-center">
                                    <div class="d-flex align-items-center mb-3 mb-sm-0">
                                        <div class="flex-shrink-0">
                                            <div class="position-relative" id="userArea">

                                            </div>
                                        </div>
                                        <div class="flex-grow-1 ms-3" id="userNameArea">

                                        </div>
                                    </div>
                                    <div>
                                        <a href="#!"><span id="openModalBtn" class="text-danger"><i
                                                class="ti-trash pe-2 vertical-align-middle"></i>Delete Conversation</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="dashboard-widget chat-area" id="chat-merssages">

                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <form id="messageForm" name="messageForm">
                                        <div class="message-bar">
                                            <input type="text" id="message" placeholder="Type message ...">
                                            <button type="submit" style="border: none; background-color: white"
                                                    class="btn-msg-send"><i class="far fa-paper-plane"></i></button>

                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="myModal" class="modal-pop">
            <div class="modal-content-pop">
                <span class="close-pop close">&times;</span>
                <div class="alert-pop">
                    <strong class="cnt">Are you sure you want to delete this conversation?</strong>
                    <p class="cnt">This conversation cannot be recovered.</p>
                </div>
                <div class="modal-footer-pop">
                    <button id="deleteBtn">Delete</button>
                </div>
            </div>
        </div>


    </section>

    <div class="hidden" id="fromUserId" th:text="${fromUserId}"></div>
    <div class="hidden" id="toUserId" th:text="${toUserId}"></div>
    <div class="hidden" id="userName" th:text="${userName}"></div>

</div>

<!-- BUY TEMPLATE
================================================== -->
<!-- start scroll to top -->
<a href="#!" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
<!-- end scroll to top -->

<!-- all js include start -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="/js/chatMessage.js"></script>

<script src="/js/chatPopup.js"></script>

<!-- jQuery -->
<script src="/js/jquery.min.js"></script>

<!-- popper js -->
<script src="/js/popper.min.js"></script>

<!-- bootstrap -->
<script src="/js/bootstrap.min.js"></script>

<!-- core.min.js -->
<script src="/js/core.min.js"></script>

<!-- search -->
<script src="/search/search.js"></script>

<!-- custom scripts -->
<script src="/js/main.js"></script>

<!-- form plugins js -->
<script src="/quform/js/plugins.js"></script>

<!-- form scripts js -->
<script src="/quform/js/scripts.js"></script>

<!-- all js include end -->

</body>

</html>
