<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header th:fragment="header" class="header-style1 menu_area-light">
    <div class="navbar-default border-bottom border-color-light-white" style="background-color: whitesmoke">

        <div class="container-fluid px-lg-1-6 px-xl-2-5 px-xxl-2-9">
            <div class="row align-items-center">
                <div class="col-12 col-lg-12">
                    <div class="menu_area alt-font">
                        <nav class="navbar navbar-expand-lg navbar-light p-0">

                            <div class="navbar-header navbar-header-custom" style="width: 13%">
                                <!-- start logo -->
                                <a href="/"><img class="new-logo-class" src="/img/logos/logo.png" alt="logo"></a>
                                <!-- end logo -->
                            </div>

                            <div class="navbar-toggler bg-secondary"></div>

                            <!-- menu area -->
                            <ul class="navbar-nav ms-auto" id="nav" style="display: none;">
                                <li><a href="/" style="color: black">Home</a></li>
                                <li><a href="/jobs/1" style="color: black">Jobs</a></li>
                                <li class="has-sub"><a href="#!" style="color: black">Job Listing</a>
                                    <ul class="row megamenu">
                                        <li class="col-lg-4 col-xl-3"><span class="mb-0 mb-lg-3 d-block py-2 p-lg-0 px-4 px-lg-0 text-uppercase sub-title font-weight-700">Job Listing</span>
                                            <ul class="sub-menu">
                                                <li><a href="job-listing.html">Job Listing 1 - Without Sidebar</a></li>
                                                <li><a href="job-listing-left-sidebar.html">Job Listing 1 - Left Sidebar</a></li>
                                                <li><a href="job-listing-right-sidebar.html">Job Listing 1 - Right Sidebar</a></li>
                                                <li><a href="job-listing-2.html">Job Listing 2 - Without Sidebar</a></li>
                                                <li><a href="job-listing-2-left-sidebar.html">Job Listing 2 - Left Sidebar</a></li>
                                                <li><a href="job-listing-2-right-sidebar.html">Job Listing 2 - Right Sidebar</a></li>
                                            </ul>
                                        </li>
                                        <li class="col-lg-4 col-xl-3"><span class="mb-0 mb-lg-3 d-block py-2 p-lg-0 px-4 px-lg-0 text-uppercase sub-title font-weight-700">Job Grid</span>
                                            <ul class="sub-menu">
                                                <li><a href="job-grid.html">Job Grid 1 - Without Sidebar</a></li>
                                                <li><a href="job-grid-left-sidebar.html">Job Grid 1 - Left Sidebar</a></li>
                                                <li><a href="job-grid-right-sidebar.html">Job Grid 1 - Right Sidebar</a></li>
                                                <li><a href="job-grid-2.html">Job Grid 2 - Without Sidebar</a></li>
                                                <li><a href="job-grid-2-left-sidebar.html">Job Grid 2 - Left Sidebar</a></li>
                                                <li><a href="job-grid-2-right-sidebar.html">Job Grid 2 - Right Sidebar</a></li>
                                            </ul>
                                        </li>
                                        <li class="col-lg-4 col-xl-3"><span class="mb-0 mb-lg-3 d-block py-2 p-lg-0 px-4 px-lg-0 text-uppercase sub-title font-weight-700">Job Details</span>
                                            <ul class="sub-menu">
                                                <li><a href="job-details.html">Job Details 1</a></li>
                                                <li><a href="job-details-2.html">Job Details 2</a></li>
                                                <li><a href="job-details-3.html">Job Details 3</a></li>
                                            </ul>
                                        </li>
                                        <li class="col-lg-3 d-none d-xl-block">
                                            <div class="menu-slider owl-carousel owl-theme">

                                                <img src="/img/content/menu-slider1.jpg" alt="...">
                                                <img src="/img/content/menu-slider2.jpg" alt="...">
                                                <img src="/img/content/menu-slider3.jpg" alt="...">

                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="#!" style="color: black">Explore</a>
                                    <ul>
                                        <li><a href="#!">Candidates</a>
                                            <ul>
                                                <li><a href="candidate-grid.html">Candidate Grid</a></li>
                                                <li><a href="candidate-list.html">Candidate List</a></li>
                                                <li><a href="candidate-details.html">Candidate Details</a></li>
                                                <li><a href="candidate-dashboard.html">Candidate Dashboard</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#!">Employers</a>
                                            <ul>
                                                <li><a href="employers-grid.html">Employer Grid</a></li>
                                                <li><a href="employers-list.html">Employer List</a></li>
                                                <li><a href="employer-details.html">Employer Details</a></li>
                                                <li><a href="employer-dashboard.html">Employer Dashboard</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="#!" style="color: black">Elements</a>
                                    <ul class="row megamenu">
                                        <li class="col-lg-3">
                                            <span class="mb-0 mb-lg-3 d-block py-2 p-lg-0 px-4 px-lg-0 text-uppercase sub-title font-weight-800 display-30">Elements 01</span>
                                            <ul>
                                                <li><a href="accordions.html"><i class="fas fa-sliders-h me-2"></i>Accordions</a></li>
                                                <li><a href="alerts.html"><i class="far fa-bell me-2"></i>Alerts</a></li>
                                                <li><a href="blockquote.html"><i class="fas fa-vector-square me-2"></i>Blockquote</a></li>
                                                <li><a href="buttons.html"><i class="fas fa-link me-2"></i>Buttons</a></li>
                                                <li><a href="call-to-action.html"><i class="far fa-square me-2"></i>Call to Action</a></li>
                                                <li><a href="carousel-slider.html"><i class="far fa-images me-2"></i>Carousel Slider</a></li>
                                            </ul>
                                        </li>
                                        <li class="col-lg-3">
                                            <span class="mb-0 mb-lg-3 d-block py-2 p-lg-0 px-4 px-lg-0 text-uppercase sub-title font-weight-800 display-30">Elements 02</span>
                                            <ul>
                                                <li><a href="count-down.html"><i class="far fa-flag me-2"></i>Count Down</a></li>
                                                <li><a href="counters.html"><i class="fa-solid fa-bolt me-2"></i>Counters</a></li>
                                                <li><a href="dropcaps.html"><i class="far fa-closed-captioning me-2"></i>Dropcaps</a></li>
                                                <li><a href="form-elements.html"><i class="fas fa-cubes me-2"></i>Form Elements</a></li>
                                                <li><a href="font-icons.html"><i class="far fa-check-square me-2"></i>Font Icons</a></li>
                                                <li><a href="highlights.html"><i class="fas fa-highlighter me-2"></i>Highlights</a></li>
                                            </ul>
                                        </li>
                                        <li class="col-lg-3">
                                            <span class="mb-0 mb-lg-3 d-block py-2 p-lg-0 px-4 px-lg-0 text-uppercase sub-title font-weight-800 display-30">Elements 03</span>
                                            <ul>
                                                <li><a href="header-style-01.html"><i class="fas fa-compress me-2"></i>Header Style 01</a></li>
                                                <li><a href="header-style-02.html"><i class="fas fa-compress-arrows-alt me-2"></i>Header Style 02</a></li>
                                                <li><a href="icon-with-text.html"><i class="fab fa-fonticons-fi me-2"></i>Icon With Text</a></li>
                                                <li><a href="list-styles.html"><i class="fas fa-list-ul me-2"></i>List Styles</a></li>
                                                <li><a href="media-object.html"><i class="fas fa-photo-video me-2"></i>Media Object</a></li>
                                                <li><a href="modal.html"><i class="fas fa-expand me-2"></i>Modal</a></li>
                                            </ul>
                                        </li>
                                        <li class="col-lg-3">
                                            <span class="mb-0 mb-lg-3 d-block py-2 p-lg-0 px-4 px-lg-0 text-uppercase sub-title font-weight-800 display-30">Elements 04</span>
                                            <ul>
                                                <li><a href="pagination.html"><i class="far fa-caret-square-right me-2"></i>Pagination</a></li>
                                                <li><a href="progress-bars.html"><i class="fas fa-tasks me-2"></i>Progress Bars</a></li>
                                                <li><a href="tables.html"><i class="fas fa-table me-2"></i>Tables</a></li>
                                                <li><a href="tabs.html"><i class="fa-solid fa-clone me-2"></i>Tabs</a></li>
                                                <li><a href="typography.html"><i class="fas fa-text-height me-2"></i>Typography</a></li>
                                                <li><a href="videos.html"><i class="fas fa-video me-2"></i>Videos</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="#!" style="color: black">Blog</a>
                                    <ul>
                                        <li><a href="blog-grid.html">Blog Grid</a></li>
                                        <li><a href="blog-list.html">Blog List</a></li>
                                        <li><a href="blog-details.html">Blog Details</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <!-- end menu area -->

                            <!-- start attribute navigation -->
                            <div class="attr-nav align-items-lg-center ms-lg-auto">
                                <ul>
                                    <li class="d-none d-xl-inline-block"><a th:if="${currentUser == null}" href="/login" class="butn secondary white-hover text-white">Sign In</a></li>
                                    <li class="d-none d-xl-inline-block"><a th:if="${currentUser == null}" href="/register" class="butn secondary white-hover text-white">Sign Up</a></li>
                                    <li class="d-none d-xl-inline-block"><a th:if="${currentUser != null}" href="/user/profile" class="butn secondary white-hover text-white">My Profile</a></li>
                                </ul>
                            </div>
                            <!-- end attribute navigation -->

                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>

</body>
</html>
