<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header th:fragment="header" class="header-style1 menu_area-light">
    <div class="navbar-default border-bottom border-color-light-white" style="background-color: whitesmoke">

        <div class="container-fluid px-lg-1-6 px-xl-2-5 px-xxl-2-9">
            <div class="row align-items-center">
                <div class="col-12 col-lg-12">
                    <div class="menu_area alt-font">
                        <nav class="navbar navbar-expand-lg navbar-light p-0">

                            <div class="navbar-header navbar-header-custom" style="width: 14%">
                                <!-- start logo -->
                                <a href="/"><img class="new-logo-class" src="/img/logos/logo.png" alt="logo"></a>
                                <!-- end logo -->
                            </div>

                            <div class="navbar-toggler bg-secondary"></div>

                            <!-- menu area -->
                            <ul class="navbar-nav ms-auto" id="nav" style="display: none;">
                                <li><a href="/" style="color: black">Home</a></li>
                                <li><a href="/jobs/1" style="color: black">Jobs</a></li>
                                <li><a href="/resumes/1" style="color: black">Resumes</a></li>
                                <li><a href="/companies/1" style="color: black">Companies</a></li>
                                <li th:if="${(currentUser != null && !currentUser.role.name.equals('Admin')) || (currentUser == null)}">
                                    <a style="color: black">Wishlist</a>
                                    <ul>
                                        <li><a href="/jobs/favorites/1">Favorite Jobs</a>
                                        </li>
                                        <li>
                                            <a href="/resumes/favorites/1">Favorite Resumes</a>
                                        </li>
                                        <li>
                                            <a href="/companies/favorites/1">Favorite Companies</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <!-- end menu area -->

                            <!-- start attribute navigation -->
                            <div class="attr-nav align-items-lg-center ms-lg-auto">
                                <ul>
                                    <li class="d-none d-xl-inline-block"><a th:if="${currentUser == null}" href="/login"
                                                                            class="butn secondary white-hover text-white">Sign
                                        In</a></li>
                                    <li class="d-none d-xl-inline-block"><a th:if="${currentUser == null}"
                                                                            href="/register"
                                                                            class="butn secondary white-hover text-white">Sign
                                        Up</a></li>
                                    <li class="d-none d-xl-inline-block"><a
                                            th:if="${currentUser != null and currentUser.role.name() != 'ADMIN'}"
                                            href="/profile" class="butn secondary white-hover text-white">My Profile</a>
                                    </li>
                                    <li class="d-none d-xl-inline-block"><a
                                            th:if="${currentUser != null && currentUser.role.name() == 'ADMIN'}"
                                            href="/admin"
                                            class="butn secondary white-hover text-white">Configurations</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- end attribute navigation -->

                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>

</body>
</html>

