<!DOCTYPE html>
<html lang="en">

<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Job Portal HTML Template">
    <meta name="description" content="Job Board - Job Portal HTML Template">

    <!-- title  -->
    <title>Job Board - Job Portal HTML Template</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="/static/img/logos/favicon.png">
    <link rel="apple-touch-icon" href="/static/img/logos/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/img/logos/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/img/logos/apple-touch-icon-114x114.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    
    <!-- plugins -->
    <link rel="stylesheet" href="/static/css/plugins.css">

    <!-- search css -->
    <link rel="stylesheet" href="/static/search/search.css">

    <!-- quform css -->
    <link rel="stylesheet" href="/static/quform/css/base.css">

    <!-- dashboard css -->
    <link href="/static/css/dashboard.css" rel="stylesheet">

</head>

<body>

    <!-- PAGE LOADING
    ================================================== -->
    <div id="preloader"></div>

    <!-- MAIN WRAPPER
    ================================================== -->
    <div class="main-wrapper">

        <!-- HEADER
        ================================================== -->
        <header class="header-style2 static-header">
            <div class="navbar-default border-bottom border-color-light-black">

                <!-- start top search -->
                <div class="top-search bg-secondary">
                    <div class="container-fluid px-lg-1-6 px-xl-2-5 px-xxl-2-9">
                        <form class="search-form" action="search.html" method="GET" accept-charset="utf-8">
                            <div class="input-group">
                                <span class="input-group-addon cursor-pointer">
                                    <button class="search-form_submit fas fa-search text-white" type="submit"></button>
                                </span>
                                <input type="text" class="search-form_input form-control" name="s" autocomplete="off" placeholder="Type & hit enter...">
                                <span class="input-group-addon close-search mt-1"><i class="fas fa-times"></i></span>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- end top search -->

                <div class="container-fluid px-lg-1-6 px-xl-2-5 px-xxl-2-9">
                    <div class="row align-items-center">
                        <div class="col-12 col-lg-12">
                            <div class="menu_area alt-font">
                                <nav class="navbar navbar-expand-lg navbar-light p-0">

                                    <div class="navbar-header navbar-header-custom">
                                        <!-- start logo -->
                                        <a href="index.html" class="navbar-brand logodefault"><img id="logo" src="/static/img/logos/logo.png" alt="logo"></a>
                                        <!-- end logo -->
                                    </div>

                                    <div class="navbar-toggler"></div>

                                    <!-- menu area -->
                                    <ul class="navbar-nav ms-auto" id="nav" style="display: none;">
                                        <li><a href="#!">Home</a>
                                            <ul class="row gx-1 megamenu">
                                                <li class="col-lg-2">
                                                    <a href="index-01-1.html" class="d-none d-lg-block">
                                                        <span class="mb-0 mb-lg-3 d-block py-2 p-lg-0 px-4 px-lg-0 text-uppercase sub-title font-weight-800 display-30">Home 01</span>
                                                        <img src="/static/img/content/home-01.jpg" class="d-none d-lg-block shadow" alt="...">
                                                    </a>
                                                    <a href="index-01-1.html" class="d-lg-none d-block">Home 01</a>
                                                </li>
                                                <li class="col-lg-2">
                                                    <a href="index-02.html" class="d-none d-lg-block">
                                                        <span class="mb-0 mb-lg-3 d-block py-2 p-lg-0 px-4 px-lg-0 text-uppercase sub-title font-weight-800 display-30">Home 02</span>
                                                        <img src="/static/img/content/home-02.jpg" class="d-none d-lg-block shadow" alt="...">
                                                    </a>
                                                    <a href="index-02.html" class="d-lg-none d-block">Home 02</a>
                                                </li>
                                                <li class="col-lg-2">
                                                    <a href="index-03.html" class="d-none d-lg-block">
                                                        <span class="mb-0 mb-lg-3 d-block py-2 p-lg-0 px-4 px-lg-0 text-uppercase sub-title font-weight-800 display-30">Home 03</span>
                                                        <img src="/static/img/content/home-03.jpg" class="d-none d-lg-block shadow" alt="...">
                                                    </a>
                                                    <a href="index-03.html" class="d-lg-none d-block">Home 03</a>
                                                </li>
                                                <li class="col-lg-2">
                                                    <a href="index-04.html" class="d-none d-lg-block">
                                                        <span class="mb-0 mb-lg-3 d-block py-2 p-lg-0 px-4 px-lg-0 text-uppercase sub-title font-weight-800 display-30">Home 04</span>
                                                        <img src="/static/img/content/home-04.jpg" class="d-none d-lg-block shadow" alt="...">
                                                    </a>
                                                    <a href="index-04.html" class="d-lg-none d-block">Home 04</a>
                                                </li>
                                                <li class="col-lg-2">
                                                    <a href="index-05.html" class="d-none d-lg-block">
                                                        <span class="mb-0 mb-lg-3 d-block py-2 p-lg-0 px-4 px-lg-0 text-uppercase sub-title font-weight-800 display-30">Home 05</span>
                                                        <img src="/static/img/content/home-05.jpg" class="d-none d-lg-block shadow" alt="...">
                                                    </a>
                                                    <a href="index-05.html" class="d-lg-none d-block">Home 05</a>
                                                </li>
                                                <li class="col-lg-2 d-none d-lg-block">
                                                    <a href="#!">
                                                        <span class="mb-0 mb-lg-3 d-block py-2 p-lg-0 px-4 px-lg-0 text-uppercase sub-title font-weight-800 display-30">Commingsoon</span>
                                                        <img src="/static/img/content/comingsoon.jpg" class="d-none d-lg-block shadow" alt="...">
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="#!">Pages</a>
                                            <ul>
                                                <li><a href="aboutus.html">About Us</a></li>
                                                <li><a href="how-it-works.html">How It Works</a></li>
                                                <li><a href="testimonials.html">Testimonials</a></li>
                                                <li><a href="pricing-plans.html">Pricing Plans</a></li>
                                                <li><a href="faq.html">FAQ</a></li>
                                                <li><a href="contact-us.html">Contact Us</a></li>
                                                <li><a href="#!">User Pages</a>
                                                    <ul>
                                                        <li><a href="login.html">Login</a></li>
                                                        <li><a href="registration.html">Register</a></li>
                                                        <li><a href="forgot-password.html">Forgot Password</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#!">Others</a>
                                                    <ul>
                                                        <li><a href="privacy-policy.html">Privacy Policy</a></li>
                                                        <li><a href="terms-and-conditions.html">Terms & Conditions</a></li>
                                                        <li><a href="coming-soon.html">Coming Soon</a></li>
                                                        <li><a href="404-page.html">404 Page</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="has-sub"><a href="#!">Job Listing</a>
                                            <ul class="row megamenu">
                                                <li class="col-lg-4 col-xl-3"><span class="mb-0 mb-lg-3 d-block py-2 p-lg-0 px-4 px-lg-0 text-uppercase sub-title font-weight-700">Job Listing</span>
                                                    <ul class="sub-menu">
                                                        <li><a href="job-listing.html">Job Listing 1 - Without Sidebar</a></li>
                                                        <li><a href="job-listing-left-sidebar.html">Job Listing 1 - Left Sidebar</a></li>
                                                        <li><a href="job-listing-right-sidebar.html">Job Listing 1 - Right Sidebar</a></li>
                                                        <li><a href="job-listing-2.html">Job Listing 2 - Without Sidebar</a></li>
                                                        <li><a href="job-listing-2-left-sidebar.html">Job Listing 2 - Left Sidebar</a></li>
                                                        <li><a href="job-listing-2-right-sidebar.html">Job Listing 2 - Right Sidebar</a></li>
                                                    </ul>
                                                </li>
                                                <li class="col-lg-4 col-xl-3"><span class="mb-0 mb-lg-3 d-block py-2 p-lg-0 px-4 px-lg-0 text-uppercase sub-title font-weight-700">Job Grid</span>
                                                    <ul class="sub-menu">
                                                        <li><a href="job-grid.html">Job Grid 1 - Without Sidebar</a></li>
                                                        <li><a href="job-grid-left-sidebar.html">Job Grid 1 - Left Sidebar</a></li>
                                                        <li><a href="job-grid-right-sidebar.html">Job Grid 1 - Right Sidebar</a></li>
                                                        <li><a href="job-grid-2.html">Job Grid 2 - Without Sidebar</a></li>
                                                        <li><a href="job-grid-2-left-sidebar.html">Job Grid 2 - Left Sidebar</a></li>
                                                        <li><a href="job-grid-2-right-sidebar.html">Job Grid 2 - Right Sidebar</a></li>
                                                    </ul>
                                                </li>
                                                <li class="col-lg-4 col-xl-3"><span class="mb-0 mb-lg-3 d-block py-2 p-lg-0 px-4 px-lg-0 text-uppercase sub-title font-weight-700">Job Details</span>
                                                    <ul class="sub-menu">
                                                        <li><a href="job-details.html">Job Details 1</a></li>
                                                        <li><a href="job-details-2.html">Job Details 2</a></li>
                                                        <li><a href="job-details-3.html">Job Details 3</a></li>
                                                    </ul>
                                                </li>
                                                <li class="col-lg-3 d-none d-xl-block">
                                                    <div class="menu-slider owl-carousel owl-theme">

                                                        <img src="/static/img/content/menu-slider1.jpg" alt="...">
                                                        <img src="/static/img/content/menu-slider2.jpg" alt="...">
                                                        <img src="/static/img/content/menu-slider3.jpg" alt="...">

                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="#!">Explore</a>
                                            <ul>
                                                <li><a href="#!">Candidates</a>
                                                    <ul>
                                                        <li><a href="candidate-grid.html">Candidate Grid</a></li>
                                                        <li><a href="candidate-list.html">Candidate List</a></li>
                                                        <li><a href="candidate-details.html">Candidate Details</a></li>
                                                        <li><a href="candidate-dashboard.html">Candidate Dashboard</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#!">Employers</a>
                                                    <ul>
                                                        <li><a href="employers-grid.html">Employer Grid</a></li>
                                                        <li><a href="employers-list.html">Employer List</a></li>
                                                        <li><a href="employer-details.html">Employer Details</a></li>
                                                        <li><a href="employer-dashboard.html">Employer Dashboard</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="#!">Elements</a>
                                            <ul class="row megamenu">
                                                <li class="col-lg-3">
                                                    <span class="mb-0 mb-lg-3 d-block py-2 p-lg-0 px-4 px-lg-0 text-uppercase sub-title font-weight-800 display-30">Elements 01</span>
                                                    <ul>
                                                        <li><a href="accordions.html"><i class="fas fa-sliders-h me-2"></i>Accordions</a></li>
                                                        <li><a href="alerts.html"><i class="far fa-bell me-2"></i>Alerts</a></li>
                                                        <li><a href="blockquote.html"><i class="fas fa-vector-square me-2"></i>Blockquote</a></li>
                                                        <li><a href="buttons.html"><i class="fas fa-link me-2"></i>Buttons</a></li>
                                                        <li><a href="call-to-action.html"><i class="far fa-square me-2"></i>Call to Action</a></li>
                                                        <li><a href="carousel-slider.html"><i class="far fa-images me-2"></i>Carousel Slider</a></li>
                                                    </ul>
                                                </li>
                                                <li class="col-lg-3">
                                                    <span class="mb-0 mb-lg-3 d-block py-2 p-lg-0 px-4 px-lg-0 text-uppercase sub-title font-weight-800 display-30">Elements 02</span>
                                                    <ul>
                                                        <li><a href="count-down.html"><i class="far fa-flag me-2"></i>Count Down</a></li>
                                                        <li><a href="counters.html"><i class="fa-solid fa-bolt me-2"></i>Counters</a></li>
                                                        <li><a href="dropcaps.html"><i class="far fa-closed-captioning me-2"></i>Dropcaps</a></li>
                                                        <li><a href="form-elements.html"><i class="fas fa-cubes me-2"></i>Form Elements</a></li>
                                                        <li><a href="font-icons.html"><i class="far fa-check-square me-2"></i>Font Icons</a></li>
                                                        <li><a href="highlights.html"><i class="fas fa-highlighter me-2"></i>Highlights</a></li>
                                                    </ul>
                                                </li>
                                                <li class="col-lg-3">
                                                    <span class="mb-0 mb-lg-3 d-block py-2 p-lg-0 px-4 px-lg-0 text-uppercase sub-title font-weight-800 display-30">Elements 03</span>
                                                    <ul>
                                                        <li><a href="header-style-01.html"><i class="fas fa-compress me-2"></i>Header Style 01</a></li>
                                                        <li><a href="header-style-02.html"><i class="fas fa-compress-arrows-alt me-2"></i>Header Style 02</a></li>
                                                        <li><a href="icon-with-text.html"><i class="fab fa-fonticons-fi me-2"></i>Icon With Text</a></li>
                                                        <li><a href="list-styles.html"><i class="fas fa-list-ul me-2"></i>List Styles</a></li>
                                                        <li><a href="media-object.html"><i class="fas fa-photo-video me-2"></i>Media Object</a></li>
                                                        <li><a href="modal.html"><i class="fas fa-expand me-2"></i>Modal</a></li>
                                                    </ul>
                                                </li>
                                                <li class="col-lg-3">
                                                    <span class="mb-0 mb-lg-3 d-block py-2 p-lg-0 px-4 px-lg-0 text-uppercase sub-title font-weight-800 display-30">Elements 04</span>
                                                    <ul>
                                                        <li><a href="pagination.html"><i class="far fa-caret-square-right me-2"></i>Pagination</a></li>
                                                        <li><a href="progress-bars.html"><i class="fas fa-tasks me-2"></i>Progress Bars</a></li>
                                                        <li><a href="tables.html"><i class="fas fa-table me-2"></i>Tables</a></li>
                                                        <li><a href="tabs.html"><i class="fa-solid fa-clone me-2"></i>Tabs</a></li>
                                                        <li><a href="typography.html"><i class="fas fa-text-height me-2"></i>Typography</a></li>
                                                        <li><a href="videos.html"><i class="fas fa-video me-2"></i>Videos</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="#!">Blog</a>
                                            <ul>
                                                <li><a href="blog-grid.html">Blog Grid</a></li>
                                                <li><a href="blog-list.html">Blog List</a></li>
                                                <li><a href="blog-details.html">Blog Details</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <!-- end menu area -->

                                    <!-- start attribute navigation -->
                                    <div class="attr-nav align-items-lg-center ms-lg-auto">
                                        <ul>
                                            <li class="search"><a href="#!"><i class="fas fa-search"></i></a></li>
                                            <li class="d-none d-xl-inline-block"><a href="employer-post-job.html" class="butn secondary text-white">Post a Job</a></li>
                                        </ul>
                                    </div>
                                    <!-- end attribute navigation -->

                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- EMPLOYER DASHBOARD
        ================================================== -->
        <section class="py-0">
            <div class="row g-0">
                <div class="col-lg-3 mb-2-2 mb-lg-0">
                    <div class="dashboard-left-sidebar">
                        <h3 class="bg-primary text-white collapse-sm m-0 h5 px-3 py-3 font-weight-600 d-block d-lg-none">Dashboard</h3>
                        <ul class="dashboard-list dashboard-menu">
                            <li><a href="candidate-dashboard.html"><i class="ti-home"></i>Dashboard</a></li>
                            <li><a href="candidate-profile.html"><i class="ti-user"></i>Candidate Profile</a></li>
                            <li><a href="candidate-resume.html"><i class="ti-ruler-pencil"></i>My Resume</a></li>
                            <li><a href="candidate-applied-job.html"><i class="ti-briefcase"></i>Applied Jobs</a></li>
                            <li><a href="candidate-job-alerts.html"><i class="ti-bell"></i>Job Alerts</a></li>
                            <li><a href="candidate-shortlisted-jobs.html"><i class="ti-bookmark"></i>Shortlisted Jobs</a></li>
                            <li><a href="candidate-cv-manager.html"><i class="ti-bookmark"></i>CV Manager</a></li>
                            <li><a href="candidate-packages.html"><i class="ti-notepad"></i>Packages</a></li>
                            <li class="active"><a href="candidate-messages.html"><i class="ti-comment-alt"></i>Messages</a></li>
                            <li><a href="candidate-change-password.html"><i class="ti-lock"></i>Change Password</a></li>
                            <li><a href="login.html"><i class="ti-power-off"></i>Logout</a></li>
                            <li><a href="index.html"><i class="ti-trash"></i>Delete Profile</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="dashboard-right-sidebar">
                        <div class="row mb-2-2">
                            <div class="col-lg-12 mb-1-9">
                                <h3 class="mb-3">Candidate Messages</h3>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="demo-1.html">Job Board</a></li>
                                        <li class="breadcrumb-item"><a href="employer-dashboard.html">Dashboard</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Messages</li>
                                    </ol>
                                </nav>
                            </div>
                            <div class="col-xl-4 mb-2-2 mb-xl-0">
                                <div class="dashboard-title">
                                    <h5 class="mb-0">Messages</h5>
                                </div>
                                <div class="dashboard-widget left-dashboard">
                                    <div class="row mb-4">
                                        <div class="col-md-12">
                                            <div class="search-bar">
                                                <input type="search" name="search" placeholder="Search here ...">
                                                <a href="#!" class="btn-search"><i class="ti-search font-weight-600"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="message-list">
                                        <li>
                                            <a href="#!">
                                                <div class="d-sm-flex justify-content-between">
                                                    <div class="d-flex mb-2 mb-sm-0">
                                                        <div class="flex-shrink-0">
                                                            <div class="position-relative">
                                                                <img src="/static/img/dashboard-avatar/avatar-01.jpg" class="border-radius-50" alt="...">
                                                                <span class="user-status online"></span>
                                                            </div>
                                                        </div>
                                                        <div class="flex-grow-1 ms-3">
                                                            <h6 class="mb-1">Marko Konig</h6>
                                                            <span class="display-31 text-muted font-weight-600">Web Designer</span>
                                                        </div>
                                                    </div>
                                                    <span class="text-end d-block">07 mins</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#!">
                                                <div class="d-sm-flex justify-content-between ">
                                                    <div class="d-flex mb-2 mb-sm-0">
                                                        <div class="flex-shrink-0">
                                                            <div class="position-relative">
                                                                <img src="/static/img/dashboard-avatar/avatar-02.jpg" class="border-radius-50" alt="...">
                                                                <span class="user-status offline"></span>
                                                            </div>
                                                        </div>
                                                        <div class="flex-grow-1 ms-3">
                                                            <h6 class="mb-1">Eva Kleist</h6>
                                                            <span class="display-31 text-muted font-weight-600">Senior Manager</span>
                                                        </div>
                                                    </div>
                                                    <span class="text-end d-block">10 mins</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#!">
                                                <div class="d-sm-flex justify-content-between ">
                                                    <div class="d-flex mb-2 mb-sm-0">
                                                        <div class="flex-shrink-0">
                                                            <div class="position-relative">
                                                                <img src="/static/img/dashboard-avatar/avatar-03.jpg" class="border-radius-50" alt="...">
                                                                <span class="user-status busy"></span>
                                                            </div>
                                                        </div>
                                                        <div class="flex-grow-1 ms-3">
                                                            <h6 class="mb-1">Eshan Marshall</h6>
                                                            <span class="display-31 text-muted font-weight-600">Business Manager</span>
                                                        </div>
                                                    </div>
                                                    <span class="text-end d-block">15 mins</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#!">
                                                <div class="d-sm-flex justify-content-between ">
                                                    <div class="d-flex mb-2 mb-sm-0">
                                                        <div class="flex-shrink-0">
                                                            <div class="position-relative">
                                                                <img src="/static/img/dashboard-avatar/avatar-04.jpg" class="border-radius-50" alt="...">
                                                                <span class="user-status online"></span>
                                                            </div>
                                                        </div>
                                                        <div class="flex-grow-1 ms-3">
                                                            <h6 class="mb-1">Rosa Olsen</h6>
                                                            <span class="display-31 text-muted font-weight-600">Apps Developer</span>
                                                        </div>
                                                    </div>
                                                    <span class="text-end d-block">18 mins</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#!">
                                                <div class="d-sm-flex justify-content-between ">
                                                    <div class="d-flex mb-2 mb-sm-0">
                                                        <div class="flex-shrink-0">
                                                            <div class="position-relative">
                                                                <img src="/static/img/dashboard-avatar/avatar-05.jpg" class="border-radius-50" alt="...">
                                                                <span class="user-status online"></span>
                                                            </div>
                                                        </div>
                                                        <div class="flex-grow-1 ms-3">
                                                            <h6 class="mb-1">Iwo Maciejewski</h6>
                                                            <span class="display-31 text-muted font-weight-600">Digital Marketer</span>
                                                        </div>
                                                    </div>
                                                    <span class="text-end d-block">20 mins</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#!">
                                                <div class="d-sm-flex justify-content-between ">
                                                    <div class="d-flex mb-2 mb-sm-0">
                                                        <div class="flex-shrink-0">
                                                            <div class="position-relative">
                                                                <img src="/static/img/dashboard-avatar/avatar-06.jpg" class="border-radius-50" alt="...">
                                                                <span class="user-status offline"></span>
                                                            </div>
                                                        </div>
                                                        <div class="flex-grow-1 ms-3">
                                                            <h6 class="mb-1">Jessika Brandt</h6>
                                                            <span class="display-31 text-muted font-weight-600">IT Specialist</span>
                                                        </div>
                                                    </div>
                                                    <span class="text-end d-block">22 mins</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#!">
                                                <div class="d-sm-flex justify-content-between ">
                                                    <div class="d-flex mb-2 mb-sm-0">
                                                        <div class="flex-shrink-0">
                                                            <div class="position-relative">
                                                                <img src="/static/img/dashboard-avatar/avatar-07.jpg" class="border-radius-50" alt="...">
                                                                <span class="user-status offline"></span>
                                                            </div>
                                                        </div>
                                                        <div class="flex-grow-1 ms-3">
                                                            <h6 class="mb-1">Liam Bell</h6>
                                                            <span class="display-31 text-muted font-weight-600">Assistant Manager</span>
                                                        </div>
                                                    </div>
                                                    <span class="text-end d-block">22 mins</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#!" class="last">
                                                <div class="d-sm-flex justify-content-between ">
                                                    <div class="d-flex mb-2 mb-sm-0">
                                                        <div class="flex-shrink-0">
                                                            <div class="position-relative">
                                                                <img src="/static/img/dashboard-avatar/avatar-08.jpg" class="border-radius-50" alt="...">
                                                                <span class="user-status online"></span>
                                                            </div>
                                                        </div>
                                                        <div class="flex-grow-1 ms-3">
                                                            <h6 class="mb-1">Miley Docherty</h6>
                                                            <span class="display-31 text-muted font-weight-600">.Net Developer</span>
                                                        </div>
                                                    </div>
                                                    <span class="text-end d-block">25 mins</span>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-8">
                                <div class="dashboard-title">
                                    <div class="d-sm-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center mb-3 mb-sm-0">
                                            <div class="flex-shrink-0">
                                                <div class="position-relative">
                                                    <img src="/static/img/dashboard-avatar/avatar-01.jpg" class="border-radius-50" alt="...">
                                                    <span class="user-status online"></span>
                                                </div>
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <h6 class="mb-0">Marko Konig</h6>
                                                <span class="display-31 text-muted font-weight-600">Online</span>
                                            </div>
                                        </div>
                                        <div>
                                            <a href="#!"><span class="text-danger"><i class="ti-trash pe-2 vertical-align-middle"></i>Delete Conversation</span></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="dashboard-widget">
                                    <div class="d-flex mb-5">
                                        <div class="flex-shrink-0">
                                            <img src="/static/img/dashboard-avatar/avatar-08.jpg" class="border-radius-50" alt="...">
                                        </div>
                                        <div class="flex-grow-1 ms-4">
                                            <div class="conversation-text">
                                                <h6>Miley Docherty</h6>
                                                <p class="mb-2">Hello !</p>
                                                <span class="d-block small text-end font-weight-600">09:00</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-end mb-5">
                                        <div class="conversation-text">
                                            <h6 class="text-primary">Marko Konig</h6>
                                            <p class="mb-2">Hi, How can we help? We're here for you!</p>
                                            <span class="d-block small text-end font-weight-600">09:01</span>
                                        </div>
                                        <div class="avatar-image">
                                            <img src="/static/img/dashboard-avatar/avatar-01.jpg" class="border-radius-50" alt="...">
                                        </div>
                                    </div>
                                    <div class="d-flex mb-5">
                                        <div class="flex-shrink-0">
                                            <img src="/static/img/dashboard-avatar/avatar-08.jpg" class="border-radius-50" alt="...">
                                        </div>
                                        <div class="flex-grow-1 ms-4">
                                            <div class="conversation-text">
                                                <h6>Miley Docherty</h6>
                                                <p class="mb-2">I am searching out the best admin template. Could you please assist me to discover it out?</p>
                                                <span class="d-block small text-end font-weight-600">09:03</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-end mb-5">
                                        <div class="conversation-text">
                                            <h6 class="text-primary">Marko Konig</h6>
                                            <p class="mb-2">Don't get you email. Can you send it once again please.</p>
                                            <span class="d-block small text-end font-weight-600">09:05</span>
                                        </div>
                                        <div class="avatar-image">
                                            <img src="/static/img/dashboard-avatar/avatar-01.jpg" class="border-radius-50" alt="...">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="message-bar">
                                                <input type="text" name="message" placeholder="Type message ...">
                                                <a href="#!" class="btn-msg-send"><i class="far fa-paper-plane"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <p class="d-inline-block mb-0">© <span class="current-year"></span> Job Board Powered by
                                    <a href="https://www.chitrakootweb.com/" target="_blank" class="text-primary secondary-hover">Chitrakoot Web</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <!-- BUY TEMPLATE
    ================================================== -->
    <div class="buy-theme alt-font d-none d-lg-inline-block"><a href="https://wrapbootstrap.com/theme/job-board-job-portal-html-template-WB0S2FC71" target="_blank"><i class="fas fa-cart-plus"></i><span>Buy Template</span></a></div>

    <div class="all-demo alt-font d-none d-lg-inline-block"><a href="https://www.chitrakootweb.com/contact.html" target="_blank"><i class="far fa-envelope"></i><span>Quick Question?</span></a></div>

    <!-- start scroll to top -->
    <a href="#!" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
    <!-- end scroll to top -->

    <!-- all js include start -->

    <!-- jQuery -->
    <script src="/static/js/jquery.min.js"></script>

    <!-- popper js -->
    <script src="/static/js/popper.min.js"></script>

    <!-- bootstrap -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- core.min.js -->
    <script src="/static/js/core.min.js"></script>

    <!-- search -->
    <script src="/static/search/search.js"></script>

    <!-- custom scripts -->
    <script src="/static/js/main.js"></script>

    <!-- form plugins js -->
    <script src="/static/quform/js/plugins.js"></script>

    <!-- form scripts js -->
    <script src="/static/quform/js/scripts.js"></script>

    <!-- all js include end -->

</body>

</html>