<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Job Portal HTML Template">
    <meta name="description" content="Job Board - Job Portal HTML Template">

    <!-- title  -->
    <title>Job Board - Company Search</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="/img/logos/favicon.png">
    <link rel="apple-touch-icon" href="/img/logos/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/logos/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/logos/apple-touch-icon-114x114.png">

    <!-- plugins -->
    <link rel="stylesheet" href="/css/plugins.css">

    <!-- search css -->
    <link rel="stylesheet" href="/search/search.css">

    <!-- quform css -->
    <link rel="stylesheet" href="/quform/css/base.css">
    <link href="/css/popup.css" rel="stylesheet">
    <!-- core style css -->
    <link href="/css/styles.css" rel="stylesheet">

</head>

<body>

<!-- PAGE LOADING
================================================== -->
<div id="preloader"></div>

<!-- MAIN WRAPPER
================================================== -->
<div class="main-wrapper">

    <!-- HEADER
    ================================================== -->
    <header class="header-style2">

        <div th:replace="~{/fragment/header-menu-fragment::header}"></div>

    </header>

    <!-- PAGE TITLE
    ================================================== -->

    <!-- JOB GRID 2 - LEFT SIDEBAR
    ================================================== -->
    <section>
        <div class="container">
            <div class="row mt-n6">
                <!-- job-grid left -->
                <div class="col-lg-3 order-2 order-lg-1 mt-6">
                    <form action="/companies/search" class="search-bar">
                        <div class="sidebar">
                            <div class="sidebar-title" th:text="#{search}">Search</div>
                            <div class="widget search">
                                <div class="quform-element form-group">
                                    <label for="search" th:text="#{search_by_company_name}">Search By Company
                                        Name</label>
                                    <div class="quform-input">
                                        <input class="form-control border-radius-10" id="search" type="text" name="name"
                                               placeholder="Company Name" th:value="${currentName}">
                                    </div>
                                </div>
                                <div class="quform-element">
                                    <label for="category" th:text="#{category}">Category</label>
                                    <div class="quform-input">
                                        <select id="category" class="form-control form-select border-radius-10"
                                                name="category">
                                            <option value="" th:text="#{choose_category}">Choose Category</option>
                                            <option th:each="category : ${categories}" th:value="${category.id}"
                                                    th:text="${category.name}"
                                                    th:selected="${currentCategoryId == category.id}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="d-none d-xl-inline-block">
                                <input type="hidden" name="searchIndexStr" th:value="${1}">
                                <button style="border: none" type="submit" class="not-border">
                                    <a class="butn secondary text-white" th:text="#{search_company}">Search Company</a>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- end job-grid left -->

                <!-- job-grid right -->
                <div class="col-lg-9 order-1 order-lg-2 mt-6">
                    <div class="ps-lg-1-6 ps-xl-1-9">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="d-md-flex justify-content-between align-items-center mb-2-2">
                                    <div class="mb-4 mb-md-0">
                                        <h4 class="mb-0 h5">
                                            <span th:text="#{showing_companies(${20}, ${companyCount})}">Showing 20 of <span
                                                    class="text-primary"
                                                    th:text="${companyCount}"></span> Companies</span>
                                        </h4>
                                    </div>
                                    <form action="#!" method="post" enctype="multipart/form-data" onclick="">
                                        <div class="quform-elements">
                                            <div class="row align-items-center"></div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-n1-9">
                            <div th:each="company : ${companies}" class="col-md-6 mt-1-9">
                                <div class="card card-style10">
                                    <div class="card-body">
                                        <th:block
                                                th:if="${favoritesCompanies != null && !favoritesCompanies.isEmpty()}">
                                            <button th:if="${#lists.contains(favoritesCompanies,company)}"
                                                    style="border: white">
                                                <a class="favourite wishList"
                                                   style="background-color: #e74c3c; color: white" href="#!"
                                                   th:data-company-id="${company.id}">
                                                    <i class="far fa-heart"></i>
                                                </a>
                                            </button>
                                            <button th:if="${!#lists.contains(favoritesCompanies,company)}"
                                                    style="border: white">
                                                <a class="favourite wishList" href="#!"
                                                   th:data-company-id="${'a' + company.id}">
                                                    <i class="far fa-heart"></i>
                                                </a>
                                            </button>
                                        </th:block>
                                        <div th:if="${(currentUser != null && !currentUser.role.name.equals('Admin')) || (currentUser == null)}">
                                            <button th:if="${currentUser != null && (favoritesCompanies == null || favoritesCompanies.isEmpty())}"
                                                    style="border: white">
                                                <a class="favourite wishList" href="#!"
                                                   th:data-company-id="${'a' + company.id}">
                                                    <i class="far fa-heart"></i>
                                                </a>
                                            </button>
                                            <button class="openModalBtn" type="submit" th:if="${currentUser == null}"
                                                    style="border: white">
                                                <a class="favourite" href="#!">
                                                    <i class="far fa-heart"></i>
                                                </a>
                                            </button>
                                        </div>
                                        <div class="popular-jobs-box">
                                            <img class="mb-4 border-radius-10"
                                                 th:src="'/download/picture/' + ${company.logoName}" width="80px"
                                                 alt="...">
                                            <h4 class="h5">
                                                <a th:href="'/companies/item/' + ${company.id}"
                                                   th:text="${company.name}"></a>
                                            </h4>
                                            <p class="text-muted font-weight-500"
                                               th:text="${company.category.name}"></p>
                                        </div>
                                        <span class="border-end border-color-extra-light-gray pe-2 me-2">
                            <i class="fas fa-map-marker-alt pe-2 text-secondary"></i>
                            <span th:text="${company.country.countryName}"></span>
                        </span>
                                        <span class="border-end border-color-extra-light-gray pe-2 me-2">
                            <i class="far fa-clock pe-2 text-secondary"></i>
                            <span th:text="${#dates.format(company.foundedDate,'dd MMMM yyyy')}"></span>
                        </span>
                                        <span th:if="${company.phone != null && !company.phone.isBlank()}">
                            <i class="ti-briefcase pe-2 text-secondary"></i>
                            <span th:text="${company.phone}"></span>
                        </span>
                                    </div>
                                    <a th:href="'/companies/item/' + ${company.id}" class="butn butn-apply"
                                       th:text="#{watch_now}">Watch Now</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <!-- start pager  -->
                            <div th:if="${totalPages != 0}" class="text-center mt-6">
                                <div class="pagination text-primary">
                                    <ul>
                                        <li th:if="${searchIndex == 0}"
                                            th:class="${index <= 1 ? 'disabled' : ''}">
                                            <a th:href="@{'/companies/' + ${index - 1}}"
                                               aria-label="Previous">
                                                <i class="fas fa-long-arrow-alt-left me-2"></i> Prev
                                            </a>
                                        </li>
                                        <li th:if="${index == 0}"
                                            th:class="${searchIndex <= 1 ? 'disabled' : ''}">
                                            <a th:if="${searchIndex == 1}"
                                               th:href="@{'/companies/search?' + ${url} + ${searchIndex}}"
                                               aria-label="Previous">
                                                <i class="fas fa-long-arrow-alt-left me-2"></i> Prev
                                            </a>
                                            <a th:if="${searchIndex != 1}"
                                               th:href="@{'/companies/search?' + ${url} + ${searchIndex - 1}}"
                                               aria-label="Previous">
                                                <i class="fas fa-long-arrow-alt-left me-2"></i> Prev
                                            </a>
                                        </li>


                                        <th:block th:if="${searchIndex == 0}"
                                                  th:each="pageNum : ${#numbers.sequence(1, totalPages)}">
                                            <li>
                                                <a th:href="@{'/companies/' + ${pageNum}}"
                                                   th:text="${pageNum}"></a>
                                            </li>
                                        </th:block>
                                        <th:block th:if="${index == 0}"
                                                  th:each="pageNum : ${#numbers.sequence(1, totalPages)}">
                                            <li>
                                                <a th:href="@{'/companies/search?' + ${url} + ${pageNum}}"
                                                   th:text="${pageNum}"></a>
                                            </li>
                                        </th:block>


                                        <li th:if="${searchIndex == 0}"
                                            th:class="${index >= totalPages ? 'disabled' : ''}">
                                            <a th:href="@{'/companies/' + ${index + 1}}" aria-label="Next">
                                                Next <i class="fas fa-long-arrow-alt-right ms-2"></i>
                                            </a>
                                        </li>
                                        <li th:if="${index == 0}"
                                            th:class="${searchIndex >= totalPages ? 'disabled' : ''}">
                                            <a th:href="@{'/companies/search?' + ${url} + ${searchIndex + 1}}"
                                               aria-label="Next">
                                                Next <i class="fas fa-long-arrow-alt-right ms-2"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- end pager -->
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>

<div id="myModal" class="modal-pop" th:if="${currentUser == null}">
    <!-- Modal content -->
    <div class="modal-content-pop">
                       <span>
                            <div class="alert alert-dark alert-dismissible ">
                                <strong>Login your account, in order to add in favorites.</strong>
                            </div>
                       </span>
        <a href="/login" class="butn mb-3 w-100 text-center">Login</a>
        <span class="close"></span>
    </div>
</div>
</section>


</div>

<!-- BUY TEMPLATE
================================================== -->
<!-- start scroll to top -->
<a href="#!" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
<!-- end scroll to top -->

<!-- all js include start -->

<!-- jQuery -->
<script src="/js/jquery.min.js"></script>

<!-- popper js -->
<script src="/js/popper.min.js"></script>

<!-- bootstrap -->
<script src="/js/bootstrap.min.js"></script>

<!-- core.min.js -->
<script src="/js/core.min.js"></script>

<!-- search -->
<script src="/search/search.js"></script>

<!-- custom scripts -->
<script src="/js/main.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="/js/companyWishlist.js"></script>
<script src="/js/popup.js"></script>

<!-- form plugins js -->
<script src="/quform/js/plugins.js"></script>

<!-- form scripts js -->
<script src="/quform/js/scripts.js"></script>

<!-- all js include end -->

</body>

</html>
