<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Confirm Email</title>
  <link rel="stylesheet" href="/css/confirmEmail.css">
</head>
<body>
<div class="container">
  <h1>Confirm Email For Change Password</h1>
  <p>Welcome! To complete registration, please confirm your email address, For changing password.</p>
  <div class="timer-container">
    <span class="timer-text">01:00</span>
  </div>
  <form action="/confirm/email/for/change/password" method="post">
    <input type="text" name="confirmEmailCode" class="confirmation-code" maxlength="6" placeholder="XXXXXX">
    <button class="btn btn-green">Confirm code</button>
  </form>
</div>
<script src="/js/confirmEmailTimer.js"></script>
</body>
</html>
