<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Job Portal HTML Template">
    <meta name="description" content="Job Board - Job Portal HTML Template">

    <!-- title  -->
    <title>Job Board - Favourite Resumes</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="/img/logos/favicon.png">
    <link rel="apple-touch-icon" href="/img/logos/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/logos/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/logos/apple-touch-icon-114x114.png">

    <!-- plugins -->
    <link rel="stylesheet" href="/css/plugins.css">

    <!-- search css -->
    <link rel="stylesheet" href="/search/search.css">

    <!-- quform css -->
    <link rel="stylesheet" href="/quform/css/base.css">

    <!-- core style css -->
    <link href="/css/styles.css" rel="stylesheet">

</head>


<body>

<!-- PAGE LOADING
================================================== -->
<div id="preloader"></div>

<!-- MAIN WRAPPER
================================================== -->
<div class="main-wrapper">

    <!-- HEADER
    ================================================== -->
    <header>
        <div th:replace="~{/fragment/header-menu-fragment::header}"></div>
    </header>

    <!-- PAGE TITLE
    ================================================== -->
    <section th:if="${favoritesResumes.isEmpty()}" class="page-title-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="h2 mb-4" th:text="#{favorites.resume.title}">You don't have Favorite Resumes.</h1>
                </div>
            </div>
        </div>
    </section>

    <!-- CANDIDATE GRID
    ================================================== -->
    <section>
        <div class="container">
            <div class="row">
                <!-- candidate-grid left -->
                <!-- end candidate-grid left -->

                <!-- candidate-grid right -->
                <div th:if="${!favoritesResumes.isEmpty()}" class="col-lg-9 order-1 order-lg-2 mb-6 mb-lg-0"
                     style="width: 100%">
                    <div class="row mt-n1-9">
                        <div class="row mb-2-5">
                            <div class="col-lg-12">
                                <div class="d-md-flex justify-content-between align-items-center">
                                    <div class="mb-4 mb-md-0">
                                        <h4 class="mb-0 h5" th:text="#{favorites.resumes.showing}">Showing</h4>
                                        <span class="text-primary" th:text="${favoritesResumes.getTotalElements} + ' ' + #{favorites.resumes.showing.resumes}"></span>
                                        </h4>
                                    </div>
                                </div>
                                <br>
                                <div th:if="${!favoritesResumes.isEmpty()}" class="quform-input">
                                    <input class="form-control border-radius-10" id="search" type="text"
                                           style="width: 400px"
                                           th:placeholder="#{favorites.resumes.search.placeholder}">
                                </div>
                            </div>
                            <div th:if="${!favoritesResumes.isEmpty()}"
                                 th:each="favoritesResume : ${favoritesResumes}"
                                 class="col-md-6 mt-1-9 single-resume" style="width: 33%">
                                <div class="card card-style7 radius-10">
                                    <div class="card-body">
                                        <a class="delete-favourite-resume" href="#!"
                                           th:data-resume-id="${favoritesResume.resume.id}"
                                           style=" position: absolute ; right: 20px; top: 20px;">
                                            <i class="ti-trash"></i>
                                        </a>
                                        <img th:src="'/download/picture/' + ${favoritesResume.resume.picName}"
                                             width="60px" class="border-radius-50 mb-3" alt="...">
                                        <div class="candidate-info">
                                            <h4 class="h5"><a
                                                    th:href="@{'/resumes/item/' + ${favoritesResume.resume.id}}"
                                                    th:text="${favoritesResume.resume.user.name + ' ' + favoritesResume.resume.user.surname}"></a>
                                            </h4>
                                            <span class="display-30 text-muted d-block mb-2 font-weight-500"
                                                  th:text="${favoritesResume.resume.profession}"></span>
                                        </div>
                                        <div class="d-flex justify-content-between mb-3">
                                            <span><i
                                                    class="ti-location-pin text-secondary me-2 display-31 display-sm-30"></i><strong
                                                    th:text="${favoritesResume.resume.country.countryName}"></strong></span>
                                            <span><i
                                                    class="far fa-money-bill-alt text-secondary me-2 display-31 display-sm-30"></i><strong
                                                    th:text="${'$' + favoritesResume.resume.expectedSalary}"></strong></span>
                                            <span><i
                                                    class="ti-briefcase text-secondary me-2 display-31 display-sm-30"></i><strong
                                                    th:text="${favoritesResume.resume.workExperience.experience}"></strong></span>
                                        </div>
                                        <a th:href="@{'/resumes/item/' + ${favoritesResume.resume.id}}"
                                           class="butn w-100 radius-10" th:text="#{favorites.resumes.view.profile}">View
                                            Profile</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" th:if="${!favoritesResumes.isEmpty()}">
                        <div class="col-sm-12">
                            <!-- start pager  -->
                            <div class="text-center mt-6">
                                <div class="pagination text-primary">
                                    <ul>
                                        <li th:class="${index <= 1 ? 'disabled' : ''}">
                                            <a th:href="@{'/resumes/favorites/' + ${index - 1}}">
                                                <i class="fas fa-long-arrow-alt-left me-2"></i> Prev</a>
                                        </li>

                                        <th:block th:each="pageNum : ${#numbers.sequence(1,totalPages)}">
                                            <li>
                                                <a th:href="@{'/resumes/favorites/' + ${pageNum}}"
                                                   th:text="${pageNum}">
                                                </a>
                                            </li>
                                        </th:block>

                                        <li th:class="${index >= totalPages ? 'disabled' : ''}">
                                            <a th:if="${index == totalPages}"
                                               th:href="@{'/resumes/favorites/' + ${index}}">Next<i
                                                    class="fas fa-long-arrow-alt-right ms-2"></i></a>
                                            <a th:if="${index != totalPages}"
                                               th:href="@{'/resumes/favorites/' + ${index + 1}}">Next<i
                                                    class="fas fa-long-arrow-alt-right ms-2"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- end pager -->
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>

</div>

<!-- BUY TEMPLATE
================================================== -->
<!-- start scroll to top -->
<a href="#!" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
<!-- end scroll to top -->

<!-- all js include start -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="/js/resumeWishlist.js"></script>
<!-- jQuery -->
<script src="/js/jquery.min.js"></script>

<!-- popper js -->
<script src="/js/popper.min.js"></script>

<!-- bootstrap -->
<script src="/js/bootstrap.min.js"></script>

<!-- core.min.js -->
<script src="/js/core.min.js"></script>

<!-- search -->
<script src="/search/search.js"></script>

<!-- custom scripts -->
<script src="/js/main.js"></script>

<!-- form plugins js -->
<script src="/quform/js/plugins.js"></script>

<!-- form scripts js -->
<script src="/quform/js/scripts.js"></script>

<script src="/search/search.js"></script>

<!-- all js include end -->

</body>
</html>
