<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Job Portal HTML Template">
    <meta name="description" content="Job Board - Job Portal HTML Template">

    <!-- title  -->
    <title>Job Board - Job Portal HTML Template</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="/img/logos/favicon.png">
    <link rel="apple-touch-icon" href="/img/logos/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/logos/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/logos/apple-touch-icon-114x114.png">

    <!-- plugins -->
    <link rel="stylesheet" href="/css/plugins.css">

    <!-- search css -->
    <link rel="stylesheet" href="/search/search.css">

    <!-- quform css -->
    <link rel="stylesheet" href="/quform/css/base.css">

    <!-- core style css -->
    <link href="/css/styles.css" rel="stylesheet">

</head>

<body>

<!-- PAGE LOADING
================================================== -->
<div id="preloader"></div>

<!-- MAIN WRAPPER
================================================== -->
<div class="main-wrapper">

    <!-- HEADER
    ================================================== -->
    <header>

        <div th:replace="~{/fragment/header-menu-fragment::header}"></div>

    </header>

    <!-- BANNER
    ================================================== -->
    <section class="top-position1 bg-img pt-18 pt-md-20 pt-lg-24 pb-6 pb-md-10" data-overlay-dark="7"
             data-background="/img/banner/banner-05.jpg">
        <div class="container pb-sm-6 pb-md-8 pb-lg-12">
            <div class="row align-items-center justify-content-center text-center pt-sm-7">
                <div class="col-xl-9 col-xxl-7 mb-1-9 mb-lg-0">
                    <div th:if="${currentUser == null || currentUser.role.name().equals('JOB_SEEKER')}">
                        <h1 class="text-white display-sm-14 display-lg-10">Find The Best Job</h1>
                        <p class="text-white mb-1-9 mb-md-2-9">Find perfect job for build your skills. Have many job in
                            this platform.</p>
                    </div>
                    <div class="banner-4-form mb-2-9"
                         th:if="${currentUser == null || currentUser.role.name().equals('JOB_SEEKER')}">
                        <form action="/jobs/search" method="get">
                            <div class="input-group">
                                <input type="text" name="title" class="form-control" placeholder="Job title, Keyword"
                                       aria-label="Job title, Keyword" aria-describedby="button-addon2">
                                <input type="hidden" name="searchIndexStr" th:value="${1}">
                                <button class="butn" type="submit" id="button-addon">Find Job</button>
                            </div>
                        </form>
                    </div>

                    <div th:if="${currentUser != null && (currentUser.role.name().equals('EMPLOYEE') || currentUser.role.name().equals('COMPANY_OWNER'))}">
                        <h1 class="text-white display-sm-14 display-lg-10">Find The Best Resume</h1>
                        <br>
                    </div>
                    <div class="banner-4-form mb-2-9"
                         th:if="${currentUser != null && (currentUser.role.name().equals('EMPLOYEE') || currentUser.role.name().equals('COMPANY_OWNER'))}">
                        <form action="#!">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Job title, Keyword"
                                       aria-label="Job title, Keyword" aria-describedby="button-addon2">
                                <button class="butn" type="button" id="button-addon2">Find Resume</button>
                            </div>
                        </form>
                    </div>
                    <!-- Job Search Form -->
                    <!-- Popular Search -->
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="banner-searches mb-0 p-0">
                                <li th:each="category : ${categories}">
                                    <h6 class="text-white"><a
                                            th:href="@{'/jobs/search?category=' + ${category.id} + '&searchIndexStr=1'}"
                                            th:text="${category.name}"></a></h6>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Popular Search -->
                </div>
            </div>
        </div>
    </section>

    <!-- RECENT JOBS
    ================================================== -->
    <section>
        <div class="container">
            <div class="section-heading4">
                <span>Recent Jobs</span>
                <h2>Latest Job Postings</h2>
            </div>
            <div class="recent-jobs owl-carousel owl-theme">
                <div th:each="job : ${jobs}" class="card card-style10">
                    <div class="card-body">
                        <span class="popular-jobs-status"
                              th:text="${job.status.toString().replace('_',' ')}">Full Time</span>
                        <a class="favourite" href="#"><i class="far fa-heart"></i></a>
                        <div class="popular-jobs-box">
                            <img class="mb-4 border-radius-10" th:src="'/download/picture/' + ${job.logoName}"
                                 style="width: 80px" alt="...">
                            <h4 class="h5"><a th:href="'/jobs/item/' + ${job.id}" th:text="${job.title}"></a></h4>
                            <p class="text-muted font-weight-500" th:text="${job.category.name}"></p>
                        </div>
                        <i class="fas fa-map-marker-alt pe-2 text-secondary"></i>
                        <span class="border-end border-color-extra-light-gray pe-2 me-2"
                              th:text="${job.location}"></span>
                        <i class="far fa-clock pe-2 text-secondary"></i>
                        <span class="border-end border-color-extra-light-gray pe-2 me-2"
                              th:text="${job.salary + '$'}"></span>
                        <br>
                    </div>
                    <a th:href="'/jobs/item/' + ${job.id}" class="butn butn-apply">Apply Now</a>
                </div>
            </div>
        </div>
    </section>

    <!-- JOB CATEGORIES
    ================================================== -->
    <section class="bg-primary-light"
             th:if="${currentUser == null || currentUser.role.name().equals('JOB_SEEKER') || currentUser.role.name().equals('ADMIN')}">
        <div class="container">
            <div class="section-heading4">
                <span>Categories</span>
                <h2>Jobs By Category</h2>
            </div>
            <div class="row mt-n1-9">
                <div th:each="category : ${categories}" class="col-md-6 col-lg-4 mt-1-9">
                    <div class="card card-style11">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0">
                                    <div class="categories-icon">
                                        <img th:src="'/download/picture/' + ${category.picName}" alt="...">
                                    </div>
                                    <div class="hover-icon">
                                        <img th:src="'/download/picture/' + ${category.picName}" alt="...">
                                    </div>
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h4 class="h5"><a
                                            th:href="@{'/jobs/search?category=' + ${category.id} + '&searchIndexStr=1'}"
                                            th:text="${category.name}"></a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="bg-primary-light"
             th:if="${currentUser != null && ((currentUser.role.name().equals('EMPLOYEE') || currentUser.role.name().equals('COMPANY_OWNER')))}">
        <div class="container">
            <div class="section-heading4">
                <span>Categories</span>
                <h2>Resumes By Category</h2>
            </div>
            <div class="row mt-n1-9">
                <div th:each="category : ${categories}" class="col-md-6 col-lg-4 mt-1-9">
                    <div class="card card-style11">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0">
                                    <div class="categories-icon">
                                        <img th:src="'/download/picture/' + ${category.picName}" alt="...">
                                    </div>
                                    <div class="hover-icon">
                                        <img th:src="'/download/picture/' + ${category.picName}" alt="...">
                                    </div>
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h4 class="h5"><a
                                            th:href="'/jobs/search?title=&category=' + ${category.id} + '&fromSalary=&toSalary=&searchIndexStr=1'"
                                            th:text="${category.name}"></a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- JOB LOCATION
    ================================================== -->
    <section>
        <div class="container">
            <div class="section-heading4">
                <span>Around the world</span>
                <h2>Featured Job Locations</h2>
            </div>
            <div class="row mt-n1-9">
                <div class="col-sm-6 col-lg-3 mt-1-9">
                    <div class="card card-style12">
                        <img src="/img/content/location-01.jpg" alt="..." class="border-radius-10">
                        <div class="location-title">USA</div>
                        <div class="card-body">
                            <h4 class="mb-3"><a href="job-details.html" class="text-white">Boston</a></h4>
                            <div class="job-position">
                                <a href="job-details.html">15 Jobs</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 mt-1-9">
                    <div class="card card-style12">
                        <img src="/img/content/location-02.jpg" alt="..." class="border-radius-10">
                        <div class="location-title">Australia</div>
                        <div class="card-body">
                            <h4 class="mb-3"><a href="job-details.html" class="text-white">Vienna</a></h4>
                            <div class="job-position">
                                <a href="job-details.html">08 Jobs</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 mt-1-9">
                    <div class="card card-style12">
                        <img src="/img/content/location-03.jpg" alt="..." class="border-radius-10">
                        <div class="location-title">Russia</div>
                        <div class="card-body">
                            <h4 class="mb-3"><a href="job-details.html" class="text-white">Nizhny</a></h4>
                            <div class="job-position">
                                <a href="job-details.html">18 Jobs</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 mt-1-9">
                    <div class="card card-style12">
                        <img src="/img/content/location-04.jpg" alt="..." class="border-radius-10">
                        <div class="location-title">Germany</div>
                        <div class="card-body">
                            <h4 class="mb-3"><a href="job-details.html" class="text-white">Dresden</a></h4>
                            <div class="job-position">
                                <a href="job-details.html">10 Jobs</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 mt-1-9">
                    <div class="card card-style12">
                        <img src="/img/content/location-05.jpg" alt="..." class="border-radius-10">
                        <div class="location-title">Thailand</div>
                        <div class="card-body">
                            <h4 class="mb-3"><a href="job-details.html" class="text-white">Bangkok</a></h4>
                            <div class="job-position">
                                <a href="job-details.html">05 Jobs</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 mt-1-9">
                    <div class="card card-style12">
                        <img src="/img/content/location-06.jpg" alt="..." class="border-radius-10">
                        <div class="location-title">United Kingdom</div>
                        <div class="card-body">
                            <h4 class="mb-3"><a href="job-details.html" class="text-white">London</a></h4>
                            <div class="job-position">
                                <a href="job-details.html">12 Jobs</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 mt-1-9">
                    <div class="card card-style12">
                        <img src="/img/content/location-07.jpg" alt="..." class="border-radius-10">
                        <div class="location-title">Canada</div>
                        <div class="card-body">
                            <h4 class="mb-3"><a href="job-details.html" class="text-white">Toronto</a></h4>
                            <div class="job-position">
                                <a href="job-details.html">06 Jobs</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 mt-1-9">
                    <div class="card card-style12">
                        <img src="/img/content/location-08.jpg" alt="..." class="border-radius-10">
                        <div class="location-title">Mumbai</div>
                        <div class="card-body">
                            <h4 class="mb-3"><a href="job-details.html" class="text-white">India</a></h4>
                            <div class="job-position">
                                <a href="job-details.html">15 Jobs</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- TOP COMPANY
    ================================================== -->
    <section class="bg-primary-light company-style-02">
        <div class="container">
            <div class="section-heading4">
                <span>Let’s Find Out</span>
                <h2>Top Rated Companies</h2>
            </div>
            <div class="row mt-n1-9">
                <div class="col-md-6 mt-1-9">
                    <div class="border border-color-extra-light-gray border-radius-10 bg-white px-4 py-1-9 position-relative overflow-hidden text-center text-xl-start h-100">

                        <div class="row align-items-center">
                            <div class="col-xl-9 mb-4 mb-xl-0">
                                <div class="d-xl-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <div class="text-center text-xl-start mb-4 mb-xl-0">
                                            <img src="/img/content/company-01.jpg" alt="...">
                                        </div>
                                    </div>
                                    <div class="flex-grow-1 border-xl-start border-color-extra-light-gray ms-xl-4 ps-xl-4">
                                        <h4 class="h5 mb-3"><a href="employer-details.html">Conzio construction</a></h4>
                                        <div class="display-31 text-warning mb-3">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <span class="bg-primary px-2 py-1 ms-2 display-31 text-white font-weight-600 border-radius-10">4.0</span>
                                        </div>
                                        <ul class="list-style2 mb-0">
                                            <li><i class="ti-briefcase pe-2 text-secondary"></i>Marketing</li>
                                            <li><i class="ti-location-pin pe-2 text-secondary"></i>Boston, USA</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 text-xl-end">
                                <a href="employer-details.html" class="butn butn-md radius">08 Jobs</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mt-1-9">
                    <div class="border border-color-extra-light-gray border-radius-10 bg-white px-4 py-1-9 position-relative overflow-hidden text-center text-xl-start h-100">
                        <div class="featured-lable">Featured</div>
                        <div class="row align-items-center">
                            <div class="col-xl-9 mb-4 mb-xl-0">
                                <div class="d-block d-xl-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <div class="text-center text-xl-start mb-4 mb-xl-0">
                                            <img src="/img/content/company-02.jpg" alt="...">
                                        </div>
                                    </div>
                                    <div class="flex-grow-1 border-xl-start border-color-extra-light-gray ms-xl-4 ps-xl-4">
                                        <h4 class="h5 mb-3"><a href="employer-details.html">Midway Overline</a></h4>
                                        <div class="display-31 text-warning mb-3">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <span class="bg-primary px-2 py-1 ms-2 display-31 text-white font-weight-600 border-radius-10">5.0</span>
                                        </div>
                                        <ul class="list-style2 mb-0">
                                            <li><i class="ti-briefcase pe-2 text-secondary"></i>PHP Developer</li>
                                            <li><i class="ti-location-pin pe-2 text-secondary"></i>Toronto, Canada</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 text-xl-end">
                                <a href="employer-details.html" class="butn butn-md radius">05 Jobs</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mt-1-9">
                    <div class="border border-color-extra-light-gray border-radius-10 bg-white px-4 py-1-9 position-relative overflow-hidden text-center text-xl-start h-100">
                        <div class="featured-lable">Featured</div>
                        <div class="row align-items-center">
                            <div class="col-xl-9 mb-4 mb-xl-0">
                                <div class="d-block d-xl-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <div class="text-center text-xl-start mb-4 mb-xl-0">
                                            <img src="/pictureDirectory/company-03.jpg" alt="...">
                                        </div>
                                    </div>
                                    <div class="flex-grow-1 border-xl-start border-color-extra-light-gray ms-xl-4 ps-xl-4">
                                        <h4 class="h5 mb-3"><a href="employer-details.html">Ktone Software</a></h4>
                                        <div class="display-31 text-warning mb-3">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <span class="bg-primary px-2 py-1 ms-2 display-31 text-white font-weight-600 border-radius-10">5.0</span>
                                        </div>
                                        <ul class="list-style2 mb-0">
                                            <li><i class="ti-briefcase pe-2 text-secondary"></i>Accounting</li>
                                            <li><i class="ti-location-pin pe-2 text-secondary"></i>London, UK</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 text-xl-end">
                                <a href="employer-details.html" class="butn butn-md radius">02 Jobs</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mt-1-9">
                    <div class="border border-color-extra-light-gray border-radius-10 bg-white px-4 py-1-9 position-relative overflow-hidden text-center text-xl-start h-100">
                        <div class="row align-items-center">
                            <div class="col-xl-9 mb-4 mb-xl-0">
                                <div class="d-block d-xl-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <div class="text-center text-xl-start mb-4 mb-xl-0">
                                            <img src="/img/content/company-04.jpg" alt="...">
                                        </div>
                                    </div>
                                    <div class="flex-grow-1 border-xl-start border-color-extra-light-gray ms-xl-4 ps-xl-4">
                                        <h4 class="h5 mb-3"><a href="employer-details.html">Alpha Kem</a></h4>
                                        <div class="display-31 text-warning mb-3">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <span class="bg-primary px-2 py-1 ms-2 display-31 text-white font-weight-600 border-radius-10">5.0</span>
                                        </div>
                                        <ul class="list-style2 mb-0">
                                            <li><i class="ti-briefcase pe-2 text-secondary"></i>Content Writer</li>
                                            <li><i class="ti-location-pin pe-2 text-secondary"></i>Nizhny, Russia</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 text-xl-end">
                                <a href="employer-details.html" class="butn butn-md radius">03 Jobs</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mt-1-9">
                    <div class="border border-color-extra-light-gray border-radius-10 bg-white px-4 py-1-9 position-relative overflow-hidden text-center text-xl-start h-100">
                        <div class="featured-lable">Featured</div>
                        <div class="row align-items-center">
                            <div class="col-xl-9 mb-4 mb-xl-0">
                                <div class="d-block d-xl-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <div class="text-center text-xl-start mb-4 mb-xl-0">
                                            <img src="/img/content/company-05.jpg" alt="...">
                                        </div>
                                    </div>
                                    <div class="flex-grow-1 border-xl-start border-color-extra-light-gray ms-xl-4 ps-xl-4">
                                        <h4 class="h5 mb-3"><a href="employer-details.html">Waft Technologies</a></h4>
                                        <div class="display-31 text-warning mb-3">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <span class="bg-primary px-2 py-1 ms-2 display-31 text-white font-weight-600 border-radius-10">4.0</span>
                                        </div>
                                        <ul class="list-style2 mb-0">
                                            <li><i class="ti-briefcase pe-2 text-secondary"></i>Software Engineer</li>
                                            <li><i class="ti-location-pin pe-2 text-secondary"></i>Utrecht, Netherlands
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 text-xl-end">
                                <a href="employer-details.html" class="butn butn-md radius">02 Jobs</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mt-1-9">
                    <div class="border border-color-extra-light-gray border-radius-10 bg-white px-4 py-1-9 position-relative overflow-hidden text-center text-xl-start h-100">
                        <div class="row align-items-center">
                            <div class="col-xl-9 mb-4 mb-xl-0">
                                <div class="d-block d-xl-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <div class="text-center text-xl-start mb-4 mb-xl-0">
                                            <img src="/img/content/company-06.jpg" alt="...">
                                        </div>
                                    </div>
                                    <div class="flex-grow-1 border-xl-start border-color-extra-light-gray ms-xl-4 ps-xl-4">
                                        <h4 class="h5 mb-3"><a href="employer-details.html">Sai Web Infotech</a></h4>
                                        <div class="display-31 text-warning mb-3">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <span class="bg-primary px-2 py-1 ms-2 display-31 text-white font-weight-600 border-radius-10">5.0</span>
                                        </div>
                                        <ul class="list-style2 mb-0">
                                            <li><i class="ti-briefcase pe-2 text-secondary"></i>Full-Stack Developer
                                            </li>
                                            <li><i class="ti-location-pin pe-2 text-secondary"></i>Vienna, Australia
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 text-xl-end">
                                <a href="employer-details.html" class="butn butn-md radius">03 Jobs</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- TESTIMONIAL
    ================================================== -->

    <!-- EXTRA
    ================================================== -->

    <!-- BLOG
    ================================================== -->
    <section>
        <div class="container">
            <div class="section-heading4">
                <span>Our Blogs</span>
                <h2>Recent News Article</h2>
            </div>
            <div class="row mt-n1-9">
                <div class="col-xl-6 mt-1-9">
                    <div class="d-block d-md-flex border border-color-extra-light-gray bg-white border-radius-10 p-3 h-100">
                        <div class="col-md-5 bg-img cover-background border-radius-10 min-height-250"
                             data-background="/img/blog/blog-01.jpg"></div>
                        <div class="col-md-7">
                            <div class="px-md-1-9 pt-4 pb-2 py-md-4">
                                <ul class="list-style2 mb-3">
                                    <li><a href="#!">18 Apr, 2022</a></li>
                                    <li><a href="#!">Comment</a>(<span>12</span>)</li>
                                </ul>
                                <h4 class="h5 mb-3"><a href="blog-details.html">How To Make A Perfect Cv That Attracts
                                    The Attention...</a></h4>
                                <p class="mb-3">A job ravenously at the same time as Far plenty that one rank beheld
                                    after outside.</p>
                                <div class="border-top border-color-extra-light-gray d-flex justify-content-between align-items-center pt-3">
                                    <div>
                                        <img class="border-radius-50 me-2 vertical-align-middle w-40px"
                                             src="/img/avatar/avatar-01.jpg" alt="...">
                                        <h6 class="mb-0 d-inline-block display-30 font-weight-500">Siemon Smelt</h6>
                                    </div>
                                    <a href="blog-details.html" class="font-weight-600">Read More<i
                                            class="fas fa-long-arrow-alt-right align-middle ms-2 display-30"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 mt-1-9">
                    <div class="d-block d-md-flex border border-color-extra-light-gray bg-white border-radius-10 p-3 h-100">
                        <div class="col-md-5 bg-img cover-background border-radius-10 min-height-250"
                             data-background="/img/blog/blog-02.jpg"></div>
                        <div class="col-md-7">
                            <div class="px-md-1-9 pt-4 pb-2 py-md-4px-md-1-9 pt-4 pb-2 py-md-4">
                                <ul class="list-style2 mb-3">
                                    <li><a href="#!">15 Apr, 2022</a></li>
                                    <li><a href="#!">Comment</a>(<span>08</span>)</li>
                                </ul>
                                <h4 class="h5 mb-3"><a href="blog-details.html">Points To Be Considered Before Accept
                                    Job Offer!...</a></h4>
                                <p class="mb-3">A job ravenously at the same time as Far plenty that one rank beheld
                                    after outside.</p>
                                <div class="border-top border-color-extra-light-gray d-flex justify-content-between align-items-center pt-3">
                                    <div>
                                        <img class="border-radius-50 me-2 vertical-align-middle w-40px"
                                             src="/img/avatar/avatar-02.jpg" alt="...">
                                        <h6 class="mb-0 d-inline-block display-30 font-weight-500">Johanna Hoch</h6>
                                    </div>
                                    <a href="blog-details.html" class="font-weight-500">Read More<i
                                            class="fas fa-long-arrow-alt-right align-middle ms-2 display-30"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 mt-1-9">
                    <div class="d-block d-md-flex border border-color-extra-light-gray bg-white border-radius-10 p-3 h-100">
                        <div class="col-md-5 bg-img cover-background border-radius-10 min-height-250"
                             data-background="/img/blog/blog-03.jpg"></div>
                        <div class="col-md-7">
                            <div class="px-md-1-9 pt-4 pb-2 py-md-4">
                                <ul class="list-style2 mb-3">
                                    <li><a href="#!">14 Apr, 2022</a></li>
                                    <li><a href="#!">Comment</a>(<span>10</span>)</li>
                                </ul>
                                <h4 class="h5 mb-3"><a href="blog-details.html">Most Powerful Thing You've Self Coaching
                                    Scholars...</a></h4>
                                <p class="mb-3">A job ravenously at the same time as Far plenty that one rank beheld
                                    after outside.</p>
                                <div class="border-top border-color-extra-light-gray d-flex justify-content-between align-items-center pt-3">
                                    <div>
                                        <img class="border-radius-50 me-2 vertical-align-middle w-40px"
                                             src="/img/avatar/avatar-03.jpg" alt="...">
                                        <h6 class="mb-0 d-inline-block display-30 font-weight-500">Arnaud Brian</h6>
                                    </div>
                                    <a href="blog-details.html" class="font-weight-500">Read More<i
                                            class="fas fa-long-arrow-alt-right align-middle ms-2 display-30"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 mt-1-9">
                    <div class="d-block d-md-flex border border-color-extra-light-gray bg-white border-radius-10 p-3 h-100">
                        <div class="col-md-5 bg-img cover-background border-radius-10 min-height-250"
                             data-background="/img/blog/blog-04.jpg"></div>
                        <div class="col-md-7">
                            <div class="px-md-1-9 pt-4 pb-2 py-md-4">
                                <ul class="list-style2">
                                    <li><a href="#!">11 Apr, 2022</a></li>
                                    <li><a href="#!">Comment</a>(<span>05</span>)</li>
                                </ul>
                                <h4 class="h5 mb-3"><a href="blog-details.html">Job Interview Tips For Older
                                    Workers...</a></h4>
                                <p class="mb-3">A job ravenously at the same time as Far plenty that one rank beheld
                                    after outside.</p>
                                <div class="border-top border-color-extra-light-gray d-flex justify-content-between align-items-center pt-3">
                                    <div>
                                        <img class="border-radius-50 me-2 vertical-align-middle w-40px"
                                             src="/img/avatar/avatar-04.jpg" alt="...">
                                        <h6 class="mb-0 d-inline-block display-30 font-weight-500">Yolande Quirion</h6>
                                    </div>
                                    <a href="blog-details.html" class="font-weight-500">Read More<i
                                            class="fas fa-long-arrow-alt-right align-middle ms-2 display-30"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- FOOTER
    ================================================== -->
    <footer>
        <div class="container">
            <div class="row mt-n2-6">
                <div class="col-sm-6 col-xl-4 mt-2-6">
                    <h3 class="h5 mb-1-6 text-white">Contact Us</h3>
                    <p class="mb-1-6 text-white opacity9">Advertise your jobs to hundreds of thousands of monthly
                        customers and seek 15.8 million CV in our database.</p>
                    <ul class="contact-list">
                        <li class="d-flex"><span class="fa fa-home pe-3 text-white"></span><a href="#!">66 Guild Street
                            512B, Great North Town.</a></li>
                        <li class="d-flex"><span class="fa fa-phone-alt pe-3 text-white"></span><a href="#!">(+44) 123
                            456 789</a></li>
                        <li class="d-flex"><span class="fa fa-envelope pe-3 text-white"></span><a href="#!">info@example.com</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 col-xl-2 mt-2-6">
                    <div class="ps-md-1-9">
                        <h3 class="h5 mb-1-6 text-white">Information</h3>
                        <ul class="footer-list-style1">
                            <li><a href="aboutus.html">About us</a></li>
                            <li><a href="blog-grid.html">Blog</a></li>
                            <li><a href="how-it-works.html">Our Process</a></li>
                            <li><a href="pricing-plans.html">Our Pricing</a></li>
                            <li><a href="contact-us.html">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-2 mt-2-6">
                    <div class="ps-xl-1-9">
                        <h3 class="h5 mb-1-6 text-white">Candidates</h3>
                        <ul class="footer-list-style1">
                            <li><a href="candidate-applied-job.html">Applied Job</a></li>
                            <li><a href="candidate-cv-manager.html">CV Manager</a></li>
                            <li><a href="candidate-shortlisted-jobs.html">Shortlisted Jobs</a></li>
                            <li><a href="candidate-job-alerts.html">Job Alerts</a></li>
                            <li><a href="candidate-dashboard.html">Dashboard</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-4 mt-2-6">
                    <div class="ps-md-1-9 ps-xl-2-5">
                        <h3 class="h5 mb-1-6 text-white">Join Our Newsletter</h3>
                        <p class="text-white mb-4">Subscribe to get the latest jobs posted, find candidates...</p>
                        <form class="quform newsletter-style-02" action="quform/newsletter-two.php" method="post"
                              enctype="multipart/form-data" onclick="">
                            <div class="quform-elements">
                                <div class="row">

                                    <!-- Begin Text input element -->
                                    <div class="col-md-12 mb-3">
                                        <div class="quform-element">
                                            <div class="quform-input">
                                                <input class="form-control border-radius-10" id="email_address"
                                                       type="text" name="email_address" placeholder="Subscribe with us">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Text input element -->

                                    <!-- Begin Submit button -->
                                    <div class="col-md-12">
                                        <div class="quform-submit-inner">
                                            <button class="butn" type="submit"><span>Subscribe</span></button>
                                        </div>
                                        <div class="quform-loading-wrap text-start"><span class="quform-loading"></span>
                                        </div>
                                    </div>
                                    <!-- End Submit button -->

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bar borders-top border-color-light-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center mb-3">
                        <ul class="footer-social-style1">
                            <li>
                                <a href="#!"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="#!"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#!"><i class="fab fa-youtube"></i></a>
                            </li>
                            <li>
                                <a href="#!"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-12 text-center">
                        <p class="d-inline-block text-white mb-0">&copy; <span class="current-year"></span> Job Board
                            Powered by
                            <a href="https://www.chitrakootweb.com/" target="_blank" class="text-primary white-hover">Chitrakoot
                                Web</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>


</div>

<!-- start scroll to top -->
<a href="#!" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
<!-- end scroll to top -->

<!-- all js include start -->

<!-- jQuery -->
<script src="/js/jquery.min.js"></script>

<!-- popper js -->
<script src="/js/popper.min.js"></script>

<!-- bootstrap -->
<script src="/js/bootstrap.min.js"></script>

<!-- core.min.js -->
<script src="/js/core.min.js"></script>

<!-- search -->
<script src="/search/search.js"></script>

<!-- custom scripts -->
<script src="/js/main.js"></script>

<!-- form plugins js -->
<script src="/quform/js/plugins.js"></script>

<!-- form scripts js -->
<script src="/quform/js/scripts.js"></script>

<!-- all js include end -->

</body>

</html>