<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Job Portal HTML Template">
    <meta name="description" content="Job Board - Job Portal HTML Template">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <!-- title  -->
    <title>Job Board - Job Single Page</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="/img/logos/favicon.png">
    <link rel="apple-touch-icon" href="/img/logos/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/logos/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/logos/apple-touch-icon-114x114.png">

    <!-- plugins -->
    <link rel="stylesheet" href="/css/plugins.css">

    <!-- search css -->
    <link rel="stylesheet" href="/search/search.css">

    <!-- quform css -->
    <link rel="stylesheet" href="/quform/css/base.css">

    <!-- core style css -->
    <link href="/css/styles.css" rel="stylesheet">

    <link href="/css/popup.css" rel="stylesheet">

</head>

<body>

<!-- PAGE LOADING
================================================== -->
<div id="preloader"></div>

<!-- MAIN WRAPPER
================================================== -->
<div class="main-wrapper">

    <!-- HEADER
    ================================================== -->
    <header>
        <div th:replace="~{/fragment/header-menu-fragment::header}"></div>
    </header>


    <!-- JOB DETAILS 2
    ================================================== -->
    <section>
        <div class="container">
            <div class="row mb-2-5 mb-lg-2-9">
            <span th:if="${errorMsg != null}">
                <div class="alert alert-danger alert-dismissible">
                    <strong th:text="${errorMsg}"></strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </span>
                <span th:if="${msg != null}">
                <div class="alert alert-success alert-dismissible">
                    <strong th:text="${msg}"></strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </span>
                <span th:if="${applyJobMsg != null}">
                <div class="alert alert-warning alert-dismissible">
                    <strong th:text="${applyJobMsg}"></strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </span>
                <span th:if="${resumeMsg != null}">
                <div class="alert alert-dark alert-dismissible">
                    <strong th:text="${resumeMsg}"></strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </span>
                <div class="col-lg-12">
                    <div class="p-1-6 p-md-1-9 border border-color-extra-light-gray border-radius-10">
                        <div class="row align-items-center">
                            <div class="col-lg-9 mb-4 mb-lg-0">
                                <div class="d-lg-flex align-items-center text-center text-lg-start">
                                    <div class="flex-shrink-0 mb-4 mb-lg-0">
                                        <img th:src="@{'/download/picture/' + ${job.logoName}}" style="width: 80px" alt="..." class="border-radius-10">
                                    </div>
                                    <div class="flex-grow-1 ms-lg-4">
                                        <h4 class="mb-3">
                                            <th:block th:text="${job.title}"></th:block>
                                            <span class="job-detail-info"><i class="ti-briefcase text-primary pe-2"></i><th:block th:text="${job.status.getName()}"></th:block></span>
                                        </h4>
                                        <span class="me-2"><i class="ti-briefcase pe-2 text-secondary"></i><th:block th:text="${job.category.name}"></th:block></span>
                                        <span class="me-2"><i class="ti-location-pin pe-2 text-secondary"></i><th:block th:text="${job.country.countryName}"></th:block></span>
                                        <span class="me-2"><i class="ti-time pe-2 text-secondary"></i><th:block th:text="${job.workExperience.getExperience()}"></th:block></span>
                                        <span><i class="far fa-money-bill-alt pe-2 text-secondary"></i><th:block th:text="${'$' + job.salary}"></th:block></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3" th:if="${(currentUser != null && !currentUser.role.name.equals('Admin')) || (currentUser == null)}">
                                <div class="row">
                                    <div class="col-12">
                                        <a th:href="@{'/jobs/apply/' + ${job.id}}" class="butn mb-3 w-100 text-center" th:text="#{job.apply}">Apply For Job</a>
                                    </div>
                                    <div class="col-12" th:if="${(currentUser != null) && (job.user.id != currentUser.id)}">
                                        <a th:href="'/profile/message/' + ${job.user.id}" class="butn w-100 text-center" th:text="#{job.message}">Message</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-2-2 mb-lg-2-5 pb-2-2 pb-lg-2-5 border-bottom border-color-extra-light-gray">
                <div class="col-lg-8 mb-2-2 mb-lg-0">
                    <div class="pe-lg-1-6 pe-xl-1-9">
                        <div class="row">
                            <div class="col-lg-12 mb-2-2">
                                <div class="p-1-6 border border-color-extra-light-gray border-radius-10">
                                    <h4 class="mb-3" th:text="#{job.details}">Job Details :</h4>
                                    <div class="row mt-n3">
                                        <div class="col-sm-6 col-md-4 mt-3">
                                            <div class="border border-color-extra-light-gray py-3 px-4 border-radius-10">
                                                <h5 class="display-29 display-xl-28" th:text="#{job.offeredSalary}">Offered Salary</h5>
                                                <span class="font-weight-500 text-primary display-30" th:text="${'$' + job.salary}"></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-4 mt-3">
                                            <div class="border border-color-extra-light-gray py-3 px-4 border-radius-10">
                                                <h5 class="display-29 display-xl-28" th:text="#{job.experience}">Experience</h5>
                                                <span class="font-weight-500 text-primary display-30" th:text="${job.workExperience.getExperience()}"></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-4 mt-3">
                                            <div class="border border-color-extra-light-gray py-3 px-4 border-radius-10">
                                                <h5 class="display-29 display-xl-28" th:text="#{job.industry}">Industry</h5>
                                                <span class="font-weight-500 text-primary display-30" th:text="${job.category.name}"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 mb-2-2">
                                <div class="p-1-6 border border-color-extra-light-gray border-radius-10">
                                    <h4 class="mb-3" th:text="#{job.jobDescription}">Job Description :</h4>
                                    <p class="mb-0" th:utext="${job.description}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="job-details-sidebar">
                        <div class="widget" th:if="${job.company != null}">
                            <div class="card border border-color-extra-light-gray border-radius-10">
                                <div class="card-body p-4">
                                    <div class="d-flex align-items-center mb-1-9">
                                        <div class="flex-shrink-0">
                                            <img th:src="@{'/download/picture/' + ${job.company.logoName}}" style="width: 100px" alt="..." class="border-radius-10">
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <h5 class="mb-1" th:text="${job.company.name}"></h5>
                                            <a th:href="@{'/companies/item/' + ${job.company.id}}" class="font-weight-600" th:text="#{company.profile}">View Company Profile</a>
                                        </div>
                                    </div>
                                    <ul class="list-style5">
                                        <li><span th:text="#{company.industry}">Industry</span>
                                            <th:block th:text="${' ' + job.company.category.name}"></th:block>
                                        </li>
                                        <li><span th:text="#{company.foundedIn}">Founded In</span>
                                            <th:block th:text="${#dates.format(job.company.foundedDate,'dd MMMM yyyy')}"></th:block>
                                        </li>
                                        <li th:if="${job.company.phone != null && !job.company.phone.isEmpty()}"><span th:text="#{company.phone}">Phone</span>
                                            <th:block th:text="${job.company.phone}"></th:block>
                                        </li>
                                        <li th:if="${job.company.email != null && !job.company.email.isEmpty()}"><span th:text="#{company.email}">Email</span>
                                            <th:block th:text="${job.company.email}"></th:block>
                                        </li>
                                        <li th:if="${job.company.website != null && !job.company.website.isEmpty()}">
                                            <span th:text="#{company.website}">Website</span>
                                            <th:block th:text="${job.company.website}"></th:block>
                                        </li>
                                        <li><span th:text="#{company.address}">Address</span>
                                            <th:block th:text="${job.company.country.countryName}"></th:block>
                                        </li>
                                    </ul>
                                    <a th:if="${job.company.website != null && !job.company.website.isEmpty()}" th:href="${job.company.website}" class="butn w-100 text-center mt-1-9" th:text="${job.company.website}"></a>
                                </div>
                            </div>
                        </div>
                        <div class="widget" th:if="${job.company == null}">
                            <div class="card border border-color-extra-light-gray border-radius-10">
                                <div class="card-body p-4">
                                    <div class="d-flex align-items-center mb-1-9">
                                        <div class="flex-shrink-0">
                                            <img th:src="@{'/download/picture/' + ${job.user}}" style="width: 100px" alt="..." class="border-radius-10">
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <h5 class="mb-1" th:text="${job.user.name +' ' + job.user.surname}"></h5>
                                            <span class="font-weight-600">Employer Profile Data</span>
                                        </div>
                                    </div>
                                    <ul class="list-style5">
                                        <li><span th:text="#{company.email}">Email</span>
                                            <th:block th:text="${job.user.email}"></th:block>
                                        </li>
                                        <li><span th:text="#{job.registerDate}">RegisterDate</span>
                                            <th:block th:text="${#dates.format(job.user.registerDate,'dd MMMM yyyy')}"></th:block>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="mb-4" th:text="#{related.jobs}">Related Jobs :</h4>
                    <div class="recent-jobs owl-carousel owl-theme">
                        <div class="card card-style10" th:each="singleJob : ${jobs} ">
                            <div class="card-body">
                                <span class="popular-jobs-status" th:text="${singleJob.status.getName()}"></span>
                                <th:block th:if="${favoritesJobs != null && !favoritesJobs.isEmpty()}">
                                    <button th:if="${#lists.contains(favoritesJobs,job)}" style="border: white">
                                        <a class="favourite wishList" style="background-color: #e74c3c; color: white" href="#!" th:data-job-id="${job.id}"><i class="far fa-heart"></i></a>
                                    </button>
                                    <button th:if="${!#lists.contains(favoritesJobs,job)}" style="border: white;background: white">
                                        <a class="favourite wishList" href="#!" th:data-job-id="${'a' + job.id}"><i class="far fa-heart"></i></a>
                                    </button>
                                </th:block>
                                <div th:if="${(currentUser != null && !currentUser.role.name.equals('Admin')) || (currentUser == null)}">
                                    <button th:if="${currentUser != null && (favoritesJobs == null || favoritesJobs.isEmpty())}" style="border: white;background: white">
                                        <a class="favourite wishList" href="#!" th:data-job-id="${'a' + job.id}"><i class="far fa-heart"></i></a>
                                    </button>
                                    <button class="openModalBtn" type="submit" th:if="${currentUser == null}" style="border: white;background: white"><a class="favourite" href="#!"><i class="far fa-heart"></i></a></button>
                                </div>
                                <div class="popular-jobs-box">
                                    <img class="mb-4 border-radius-10" th:src="@{'/download/picture/' + ${singleJob.logoName}}" style="width: 80px;" alt="...">
                                    <h4 class="h5"><a th:href="@{'/jobs/item/' + ${singleJob.id}}" th:text="${job.title}"></a></h4>
                                    <p class="text-muted font-weight-500" th:text="${singleJob.category.name}"></p>
                                </div>
                                <span class="border-end border-color-extra-light-gray pe-2 me-2"><i class="fas fa-map-marker-alt pe-2 text-secondary"></i><th:block th:text="${job.country.countryName}"></th:block></span>
                                <span class="border-end border-color-extra-light-gray pe-2 me-2"><i class="far fa-clock pe-2 text-secondary"></i><th:block th:text="${'$' + job.salary}"></th:block></span>
                                <span><i class="ti-briefcase pe-2 text-secondary"></i><th:block th:text="${singleJob.workExperience.getExperience()}"></th:block></span>
                            </div>
                            <a th:href="@{'/jobs/item/' + ${singleJob.id}}" class="butn butn-apply" th:text="#{related.watchNow}">Watch Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="myModal" class="modal-pop" th:if="${currentUser == null}">
            <div class="modal-content-pop">
            <span>
                <div class="alert alert-dark alert-dismissible ">
                    <strong th:text="#{login.required}">Login your account, in order to add in favorites.</strong>
                </div>
            </span>
                <a href="/login" class="butn mb-3 w-100 text-center" th:text="#{login.button}">Login</a>
                <span class="close"></span>
            </div>
        </div>
    </section>


</div>

<!-- start scroll to top -->
<a href="#!" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
<!-- end scroll to top -->

<!-- all js include start -->

<!-- jQuery -->
<script src="/js/jquery.min.js"></script>

<!-- popper js -->
<script src="/js/popper.min.js"></script>

<!-- bootstrap -->
<script src="/js/bootstrap.min.js"></script>

<!-- core.min.js -->
<script src="/js/core.min.js"></script>

<!-- search -->
<script src="/search/search.js"></script>

<!-- custom scripts -->
<script src="/js/main.js"></script>

<!-- form plugins js -->
<script src="/quform/js/plugins.js"></script>

<!-- form scripts js -->
<script src="/quform/js/scripts.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="/js/jobWishlist.js"></script>

<script src="/js/popup.js"></script>

<!-- all js include end -->

</body>

</html>