<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Job Portal HTML Template"/>
    <meta name="description" content="Job Board - Job Portal HTML Template"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <!-- title  -->
    <title>Job Board - Job Portal HTML Template</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="/img/logos/favicon.png"/>
    <link rel="apple-touch-icon" href="/img/logos/apple-touch-icon-57x57.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="/img/logos/apple-touch-icon-72x72.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="/img/logos/apple-touch-icon-114x114.png"/>

    <!-- plugins -->
    <link rel="stylesheet" href="/css/plugins.css"/>

    <!-- search css -->
    <link rel="stylesheet" href="/search/search.css"/>

    <!-- quform css -->
    <link rel="stylesheet" href="/quform/css/base.css">

    <!-- core style css -->
    <link href="/css/styles.css" rel="stylesheet"/>

</head>

<body>

<!-- PAGE LOADING
================================================== -->
<div id="preloader"></div>

<!-- MAIN WRAPPER
================================================== -->
<div class="main-wrapper">

    <!-- LOGIN
    ================================================== -->
    <section class="full-screen cover-background bg-img d-flex align-items-center p-0" data-overlay-dark="8"
             data-background="/img/bg/bg-02.jpg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="row g-0">
                        <div class="col-lg-5 bg-img cover-background min-height-300 rounded-start-lg-10px d-none d-lg-block"
                             data-background="/img/bg/bg-03.jpg"></div>
                        <div class="col-lg-7">
                            <div class="p-1-6 p-sm-1-9 p-lg-2-2 p-xl-2-9 bg-white rounded-start-md-10px rounded-end-lg-10px">
                                <div class="text-center mb-1-6 mb-lg-1-9">
                                    <div class="alert alert-dark alert-dismissible">
                                        <strong>!If you don't change your type your default type will be like job
                                            seeker</strong>
                                        <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                aria-label="Close"></button>
                                    </div>
                                    <p>Please enter your surname and choose your type.</p>
                                    <span th:if="${msg != null}">
                                    <div class="alert alert-danger alert-dismissible">
                                        <strong th:text="${msg}"></strong>
                                        <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                aria-label="Close"></button>
                                    </div>
                                </span>
                                </div>
                                <form action="/login/success/oath2" method="post">

                                    <input type="hidden" name="email"
                                           th:value="${currentUser != null ? currentUser.getEmail() : ''}">

                                    <div class="col-lg-12 mb-3">
                                        <label for="name" class="form-label fs-6 text-muted">Name</label>
                                        <div class="input-group">
                                            <div class="input-group-text bg-light border-radius-10">
                                                <i class="ti-user"></i>
                                            </div>
                                            <input type="text" class="form-control border-radius-10" name="name"
                                                   placeholder="Name" id="name"
                                                   th:value="${currentUser != null ? currentUser.getName() : ''}"
                                                   required>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 mb-3">
                                        <label for="surname" class="form-label fs-6 text-muted">Surname</label>
                                        <div class="input-group">
                                            <div class="input-group-text bg-light border-radius-10">
                                                <i class="ti-user"></i>
                                            </div>
                                            <input type="text" class="form-control border-radius-10" name="surname"
                                                   th:value="${currentUser != null ? currentUser.getSurname() : ''}"
                                                   placeholder="Surname" id="surname" required>
                                        </div>
                                    </div>
                                    <div>
                                        <label class="form-label fs-6 text-muted">You are?</label>
                                        <div class="input-group mb-4">
                                            <div class="input-group-text bg-light border-radius-10">
                                                <i class="ti-user"></i>
                                            </div>
                                            <label>
                                                <div class="quform-input">
                                                    <select class="form-control form-select" name="role">
                                                        <option value="" disabled selected>Choose type</option>
                                                        <option th:each="role : ${roles}"
                                                                th:selected="${currentUser.getRole.getName()}"
                                                                th:value="${role}"
                                                                th:text="${role.getName()}"></option>
                                                    </select>
                                                </div>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="d-grid">
                                            <button type="submit" class="butn">Create</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<!-- BUY TEMPLATE
================================================== -->

<!-- start scroll to top -->
<a href="#!" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
<!-- end scroll to top -->

<!-- all js include start -->
<!-- jQuery -->

<!-- jQuery -->
<script src="/js/jquery.min.js"></script>

<!-- popper js -->
<script src="/js/popper.min.js"></script>

<!-- bootstrap -->
<script src="/js/bootstrap.min.js"></script>

<!-- core.min.js -->
<script src="/js/core.min.js"></script>

<!-- search -->
<script src="/search/search.js"></script>

<!-- custom scripts -->
<script src="/js/main.js"></script>

<!-- form plugins js -->
<script src="/quform/js/plugins.js"></script>

<!-- form scripts js -->
<script src="/quform/js/scripts.js"></script>

<!-- all js include end -->

</body>
</html>
