<!DOCTYPE html>
<html lang="en">

<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Job Portal HTML Template" />
    <meta name="description" content="Job Board - Job Portal HTML Template" />

    <!-- title  -->
    <title>Job Board - Job Portal HTML Template</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="img/logos/favicon.png" />
    <link rel="apple-touch-icon" href="img/logos/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="img/logos/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/logos/apple-touch-icon-114x114.png" />

    <!-- plugins -->
    <link rel="stylesheet" href="css/plugins.css" />

    <!-- search css -->
    <link rel="stylesheet" href="search/search.css" />

    <!-- quform css -->
    <link rel="stylesheet" href="quform/css/base.css">

    <!-- core style css -->
    <link href="css/styles.css" rel="stylesheet" />

</head>

<body>

    <!-- PAGE LOADING
    ================================================== -->
    <div id="preloader"></div>

    <!-- MAIN WRAPPER
    ================================================== -->
    <div class="main-wrapper">

        <!-- LOGIN
        ================================================== -->
        <section class="full-screen cover-background bg-img d-flex align-items-center p-0" data-overlay-dark="8" data-background="img/bg/bg-02.jpg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <div class="row g-0">
                            <div class="col-lg-5 bg-img cover-background min-height-300 rounded-start-lg-10px d-none d-lg-block" data-background="img/bg/bg-03.jpg"></div>
                            <div class="col-lg-7">
                                <div class="p-1-6 p-sm-1-9 p-lg-2-2 p-xl-2-9 bg-white rounded-start-md-10px rounded-end-lg-10px">
                                    <div class="text-center mb-1-6 mb-lg-1-9">
                                        <h2 class="h3 mb-0">Create Your Account</h2>
                                    </div>
                                    <form>
                                        <div class="col-lg-12 mb-3">
                                            <label for="username" class="form-label fs-6 text-muted">Username</label>
                                            <div class="input-group">
                                                <div class="input-group-text bg-light border-radius-10">
                                                    <i class="ti-user"></i>
                                                </div>
                                                <input type="text" class="form-control border-radius-10" placeholder="example@company.com" id="username" required>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <label class="form-label fs-6 text-muted" for="password">Password</label>
                                            <div class="input-group mb-4">
                                                <div class="input-group-text bg-light border-radius-10">
                                                    <i class="ti-unlock"></i>
                                                </div>
                                                <input type="Password" class="form-control border-radius-10" placeholder="Enter Your Password" id="password">
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <label class="form-label fs-6 text-muted" for="confirm-password">Confirm Password</label>
                                            <div class="input-group mb-4">
                                                <div class="input-group-text bg-light border-radius-10">
                                                    <i class="ti-unlock"></i>
                                                </div>
                                                <input type="Password" class="form-control border-radius-10" placeholder="Enter Your Confirm Password" id="confirm-password">
                                            </div>
                                            <div class="mb-4">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="terms-condition">
                                                    <label class="form-check-label" for="terms-condition">I agree to terms and conditions</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="d-grid">
                                                <button type="submit" class="butn">Create An Account</button>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="login-divider">
                                        <span class="fs-6 bg-white z-index-1 p-2 mb-0 text-muted font-weight-600">Or Login With</span>
                                    </div>
                                    <div class="row mb-1-9">
                                        <div class="col-lg-4 mb-3 mb-lg-0">
                                            <div class="form-social-item">
                                                <a href="#!" class="facebook vertical-align-middle"><i class="ti-facebook me-2 display-30"></i>Facebook</a>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 mb-3 mb-lg-0">
                                            <div class="form-social-item">
                                                <a href="#!" class="twitter vertical-align-middle"><i class="ti-twitter-alt me-2 display-30"></i>Twitter</a>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-social-item">
                                                <a href="#!" class="linkedin vertical-align-middle"><i class="ti-linkedin me-2 display-30"></i>Linkedin</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center">
                                        <span>Already have an account ? <a href="login.html" class="font-weight-600">Login here</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <!-- BUY TEMPLATE
    ================================================== -->
    <div class="buy-theme alt-font d-none d-lg-inline-block"><a href="https://wrapbootstrap.com/theme/job-board-job-portal-html-template-WB0S2FC71" target="_blank"><i class="fas fa-cart-plus"></i><span>Buy Template</span></a></div>

    <div class="all-demo alt-font d-none d-lg-inline-block"><a href="https://www.chitrakootweb.com/contact.html" target="_blank"><i class="far fa-envelope"></i><span>Quick Question?</span></a></div>

    <!-- start scroll to top -->
    <a href="#!" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
    <!-- end scroll to top -->

    <!-- all js include start -->

    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>

    <!-- popper js -->
    <script src="js/popper.min.js"></script>

    <!-- bootstrap -->
    <script src="js/bootstrap.min.js"></script>

    <!-- core.min.js -->
    <script src="js/core.min.js"></script>

    <!-- search -->
    <script src="search/search.js"></script>

    <!-- custom scripts -->
    <script src="js/main.js"></script>

    <!-- form plugins js -->
    <script src="quform/js/plugins.js"></script>

    <!-- form scripts js -->
    <script src="quform/js/scripts.js"></script>

    <!-- all js include end -->

</body>

</html>