<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Job Portal HTML Template">
    <meta name="description" content="Job Board - Job Portal HTML Template">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <!-- title  -->
    <title>Job Board - Job Portal HTML Template</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="/img/logos/favicon.png">
    <link rel="apple-touch-icon" href="/img/logos/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/logos/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/logos/apple-touch-icon-114x114.png">

    <!-- plugins -->
    <link rel="stylesheet" href="/css/plugins.css">

    <!-- search css -->
    <link rel="stylesheet" href="/search/search.css">

    <!-- quform css -->
    <link rel="stylesheet" href="/quform/css/base.css">

    <!-- core style css -->
    <link href="/css/styles.css" rel="stylesheet">

    <link href="/css/popup.css" rel="stylesheet">

    <link href="/css/dashboard.css" rel="stylesheet">

    <link href="/css/popup.css" rel="stylesheet">


    <style>
        .hide-after-fourth {
            display: none;
        }

        /* Pagination style */
        #pagination {
            margin-top: 20px;
            font-size: 16px;
        }

        #pagination button {
            padding: 6px 10px;
            margin: 0 5px;
            background-color: #26ae61; /* Green */
            color: white;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            font-size: 14px;
        }

        #pagination button:hover {
            background-color: #26ae61; /* Darker Green */
        }

        #pagination #prevBtn,
        #pagination #nextBtn {
            font-weight: bold;
        }

        /* Disabled button style */
        #pagination button[disabled] {
            background-color: #ccc;
            cursor: not-allowed;
        }


        .favourite {
            display: inline-block;
            position: absolute;
            left: 25px;
            top: 25px;
            height: 40px;
            width: 40px;
            line-height: 40px;
            border: 1px solid white;
            border-radius: 100%;
            transition: all 0.3s ease-in-out;
            font-size: 14px;
            color: #969696;
            background: white;
        }

        .favourite:hover {
            color: #ffffff;
            background: #e74c3c;
            border: 1px solid #e74c3c
        }
    </style>

</head>

<body>

<!-- PAGE LOADING
================================================== -->
<div id="preloader"></div>

<!-- MAIN WRAPPER
================================================== -->
<div class="main-wrapper">

    <!-- HEADER
    ================================================== -->
    <header>
        <div th:replace="~{/fragment/header-menu-fragment::header}"></div>
    </header>

    <!-- PAGE TITLE
    ================================================== -->

    <!-- CANDIDATE DETAILS
    ================================================== -->
    <section>
        <div class="container">
            <div class="row mb-2-5 mb-lg-2-9">
            <span th:if="${errorMsg != null}">
                <div class="alert alert-danger alert-dismissible">
                    <strong th:text="#{alert.error}"></strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </span>
                <span th:if="${msg != null}">
                <div class="alert alert-success alert-dismissible">
                    <strong th:text="#{alert.success}"></strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </span>
                <span th:if="${applyResumeMsg != null}">
                <div class="alert alert-warning alert-dismissible">
                    <strong th:text="#{alert.warning}"></strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </span>

                <div class="col-lg-12">
                    <div class="p-1-6 p-lg-1-9 border border-color-extra-light-gray border-radius-10">
                        <div class="row align-items-center">
                            <div class="col-lg-9 mb-4 mb-lg-0">
                                <div class="text-center text-lg-start d-lg-flex align-items-center">
                                    <div class="flex-shrink-0 mb-4 mb-lg-0">
                                        <img th:src="@{'/download/picture/' + ${resume.picName}}" width="80px"
                                             class="border-radius-50" alt="...">
                                    </div>
                                    <div class="flex-grow-1 ms-lg-4">
                                        <h4 class="mb-3" th:text="${resume.user.name + ' ' + resume.user.surname}"></h4>
                                        <span class="me-2"><i class="ti-briefcase pe-2 text-secondary"></i><span
                                                th:text="#{resume.profession}"></span></span>
                                        <span class="me-2"><i class="ti-location-pin pe-2 text-secondary"></i><span
                                                th:text="#{resume.country.countryName}"></span></span>
                                        <span class="me-2"><i class="ti-time pe-2 text-secondary"></i><span
                                                th:text="${#dates.format(resume.createdDate,'dd MMMM yyyy')}"></span></span>
                                        <span th:if="${resume.expectedSalary != null}"><i
                                                class="far fa-money-bill-alt pe-2 text-secondary"></i><span
                                                th:text="'$' + ${resume.expectedSalary}"></span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="row">
                                    <div class="col-12">
                                        <input type="hidden" name="searchIndexStr" th:value="${1}">

                                        <button type="submit" class="not-border openModalBtn" style="width: 100%;">
                                            <input type="hidden" name="page" th:value="${1}">

                                            <a th:if="${(currentUser == null || (currentUser.role.name().equals('JOB_SEEKER')) )}"
                                               th:href="@{'/resumes/apply/' + ${resume.id}}"
                                               class="butn mb-3 w-100 text-center" th:text="#{button.apply}"></a>

                                            <a href="#!"
                                               th:if="${currentUser != null && ((currentUser.role.name().equals('EMPLOYEE') || currentUser.role.name().equals('COMPANY_OWNER'))) }"
                                               class="butn mb-3 w-100 text-center user-jobs"
                                               th:data-user-id="${currentUser.id}"
                                               th:data-resume-id="${resume.id}" th:text="#{button.apply}"></a>

                                        </button>

                                        <div th:if="${(currentUser != null) && (resume.user.id != currentUser.id)}">
                                            <div class="col-12"
                                                 th:if="${(currentUser != null && !currentUser.role.name.equals('Admin')) || (currentUser == null)}">
                                                <a th:href="'/profile/message/' + ${resume.user.id}"
                                                   class="butn w-100 text-center" th:text="#{button.message}"></a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-2-5 mb-lg-2-9 pb-2-5 pb-lg-2-9 border-bottom border-color-extra-light-gray">
                    <div class="col-lg-8 mb-1-9 mb-lg-0">
                        <div class="pe-lg-1-6 pe-xl-1-9">
                            <div class="row">
                                <div class="col-lg-12 mb-1-9 mb-lg-2-5">
                                    <div class="p-1-6 border border-color-extra-light-gray border-radius-10">
                                        <h4 class="mb-3" th:text="#{resume.candidates.about}"></h4>
                                        <p class="mb-0" th:text="${resume.description}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="job-details-sidebar">
                            <div class="widget">
                                <div class="card border-color-extra-light-gray border-radius-10">
                                    <div class="card-body p-4">
                                        <h4 th:text="#{resume.job.summary}"></h4>
                                        <ul class="list-style5">
                                            <li><span th:text="#{resume.salary}"></span><span
                                                    th:text="' ' + ${resume.expectedSalary}"></span></li>
                                            <li><span th:text="#{experience}"></span><span
                                                    th:text="' ' + ${resume.workExperience.getExperience()}"></span>
                                            </li>
                                            <li><span th:text="#{gender}"></span><span
                                                    th:text="' ' + ${resume.gender.getName()}"></span></li>
                                            <li><span th:text="#{profession}"></span><span
                                                    th:text="' ' + ${resume.profession}"></span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="widget">
                                <div class="card border-color-extra-light-gray border-radius-10">
                                    <div class="card-body p-4">
                                        <h4 th:text="#{resume.contact.information}"></h4>
                                        <ul class="list-style5">
                                            <li><span th:text="#{phone}"></span><span
                                                    th:text="' ' + ${resume.phone}"></span>
                                            </li>
                                            <li><span th:text="#{resume.email}"></span><span
                                                    th:text="' ' + ${resume.user.email}"></span></li>
                                            <li><span th:text="#{resume.address}"></span><span
                                                    th:text="' ' + ${resume.country.countryName}"></span></li>
                                        </ul>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <h4 class="mb-4" th:text="#{resume.related.candidates}"></h4>
                        <div class="featured-candidate owl-carousel owl-theme">
                            <div class="card card-style7 radius-10" th:each="resumeList : ${resumes}">
                                <div class="card-body">
                                    <th:block th:if="${favoritesResumes != null && !favoritesResumes.isEmpty()}">

                                        <button th:if="${#lists.contains(favoritesResumes,resume)}"
                                                style="border: white">
                                            <a class="favourite wishList"
                                               style="background-color: #e74c3c; color: white"
                                               href="#!"
                                               th:data-resume-id="${resume.id}"><i class="far fa-heart"></i></a>
                                        </button>

                                        <button th:if="${!#lists.contains(favoritesResumes,resume)}"
                                                style="border: white;background: white">
                                            <a class="favourite wishList" href="#!"
                                               th:data-resume-id="${'a' + resume.id}"><i
                                                    class="far fa-heart"></i></a>
                                        </button>
                                    </th:block>

                                    <div th:if="${(currentUser != null && !currentUser.role.name.equals('Admin')) || (currentUser == null)}">
                                        <button th:if="${currentUser != null  &&  (favoritesResumes == null || favoritesResumes.isEmpty())}"
                                                style="border: white;background: white"><a
                                                class="favourite wishList" href="#!"
                                                th:data-resume-id="${'a' + resume.id}"><i
                                                class="far fa-heart"></i></a>
                                        </button>

                                        <button class="openModalBtn" type="submit"
                                                th:if="${currentUser == null}"
                                                style="border: white;background: white"><a class="favourite"
                                                                                           href="/login"><i
                                                class="far fa-heart"></i></a>
                                        </button>
                                    </div>

                                    <img th:src="@{'/download/picture/' + ${resumeList.picName}}" style="width: 90px;"
                                         class="border-radius-50 mb-3" alt="...">
                                    <div class="candidate-info">
                                        <h4 class="h5"><a th:href="@{'/resumes/item/' + ${resumeList.id}}">
                                            <th:block
                                                    th:text="${resumeList.user.name + ' ' + resumeList.user.surname}"></th:block>
                                        </a></h4>
                                        <span class="display-30 text-muted d-block mb-2 font-weight-500"
                                              th:text="${resumeList.profession}"></span>
                                    </div>
                                    <div class="d-flex justify-content-between mb-3">
                                    <span><i
                                            class="ti-location-pin text-secondary me-2 display-31 display-sm-30"></i><strong
                                            th:text="${resumeList.country.countryName}"></strong></span>
                                        <span><i
                                                class="far fa-money-bill-alt text-secondary me-2 display-31 display-sm-30"></i><strong
                                                th:text="'$' + ${resumeList.expectedSalary}"></strong></span>
                                    </div>
                                    <a th:href="@{'/resumes/item/' + ${resumeList.id}}" class="butn w-100 radius-10"
                                       th:text="#{button.view}">View Profile</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="myModal" class="modal-pop"
             th:if="${currentUser != null && ((currentUser.role.name().equals('EMPLOYEE') ||
                                                currentUser.role.name().equals('COMPANY_OWNER')))}">

            <!-- Modal content -->
            <div class="modal-content-pop">
            <span>
                <div class="alert alert-primary alert-dismissible ">
                    <strong th:text="#{modal.choose}"></strong>
                </div>
            </span>
                <div class="quform-element form-group" style="width: 30%">
                    <div class="quform-input">
                        <input class="form-control border-radius-10 search"
                               type="text" name="profession" placeholder="#{modal.search}">
                    </div>
                </div>

                <div>
                    <div class="row mt-n1-9 user-jobs-popup ">
                    </div>

                    <div id="pagination" class="text-primary"
                         style="display: flex;justify-content: center;margin-top: 3%;margin-bottom: 2%">
                        <button class="prevBtn" th:text="#{pagination.prev}">Prev</button>
                        <span class="currentPage" th:text="${currentPage}">1</span> / <span class="totalPages"
                                                                                            th:text="${totalPages}">1</span>
                        <button class="nextBtn" th:text="#{pagination.next}">Next</button>
                    </div>

                    <span class="close"></span>
                </div>
            </div>
        </div>
    </section>


</div>

<!-- BUY TEMPLATE
================================================== -->
<!-- start scroll to top -->
<a href="#!" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
<!-- end scroll to top -->

<!-- all js include start -->

<!-- jQuery -->
<script src="/js/jquery.min.js"></script>

<!-- popper js -->
<script src="/js/popper.min.js"></script>

<!-- bootstrap -->
<script src="/js/bootstrap.min.js"></script>

<!-- core.min.js -->
<script src="/js/core.min.js"></script>

<!-- custom scripts -->
<script src="/js/main.js"></script>

<!-- form plugins js -->
<script src="/quform/js/plugins.js"></script>

<!-- form scripts js -->
<script src="/quform/js/scripts.js"></script>

<script src="/js/popup.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="/js/userJobs.js"></script>

<script src="/js/resumeWishlist.js"></script>

<script src="/js/popup.js"></script>

<!-- all js include end -->
</body>

</html>