<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Job Portal HTML Template">
    <meta name="description" content="Job Board - Job Portal HTML Template">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <!-- title  -->
    <title>Job Board - Job Portal HTML Template</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="/img/logos/favicon.png">
    <link rel="apple-touch-icon" href="/img/logos/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/logos/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/logos/apple-touch-icon-114x114.png">

    <!-- plugins -->
    <link rel="stylesheet" href="/css/plugins.css">

    <!-- search css -->
    <link rel="stylesheet" href="/search/search.css">

    <!-- quform css -->
    <link rel="stylesheet" href="/quform/css/base.css">

    <!-- core style css -->
    <link href="/css/styles.css" rel="stylesheet">

    <link href="/css/popup.css" rel="stylesheet">

    <link href="/css/dashboard.css" rel="stylesheet">

    <style>
        .hide-after-fourth {
            display: none;
        }
             /* Pagination style */
         #pagination {
             margin-top: 20px;
             font-size: 16px;
         }

        #pagination button {
            padding: 6px 10px;
            margin: 0 5px;
            background-color: #26ae61; /* Green */
            color: white;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            font-size: 14px;
        }

        #pagination button:hover {
            background-color: #26ae61; /* Darker Green */
        }

        #pagination #prevBtn,
        #pagination #nextBtn {
            font-weight: bold;
        }

        /* Disabled button style */
        #pagination button[disabled] {
            background-color: #ccc;
            cursor: not-allowed;
        }
    </style>

</head>

<body>

    <!-- PAGE LOADING
    ================================================== -->
    <div id="preloader"></div>

    <!-- MAIN WRAPPER
    ================================================== -->
    <div class="main-wrapper">

        <!-- HEADER
        ================================================== -->
        <header>
            <div th:replace="~{/fragment/header-menu-fragment::header}"></div>
        </header>

        <!-- PAGE TITLE
        ================================================== -->

        <!-- CANDIDATE DETAILS
        ================================================== -->
        <section>
            <div class="container">
                <div class="row mb-2-5 mb-lg-2-9">
                     <span th:if="${errorMsg != null}">
                            <div class="alert alert-danger alert-dismissible">
                                <strong th:text="${errorMsg}"></strong>
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                            </div>
                     </span>
                    <span th:if="${msg != null}">
                            <div class="alert alert-success alert-dismissible">
                                <strong th:text="${msg}"></strong>
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                            </div>
                    </span>
                    <span th:if="${applyResumeMsg != null}">
                            <div class="alert alert-warning alert-dismissible">
                                <strong th:text="${applyResumeMsg}"></strong>
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                            </div>
                    </span>
                    <span th:if="${jobMsg != null}">
                            <div class="alert alert-dark alert-dismissible">
                                <strong th:text="${jobMsg}"></strong>
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                            </div>
                    </span>

                    <div class="col-lg-12">
                        <div class="p-1-6 p-lg-1-9 border border-color-extra-light-gray border-radius-10">
                            <div class="row align-items-center">
                                <div class="col-lg-9 mb-4 mb-lg-0">
                                    <div class="text-center text-lg-start d-lg-flex align-items-center">
                                        <div class="flex-shrink-0 mb-4 mb-lg-0">
                                            <img th:src="@{'/download/picture/' + ${resume.picName}}" width="80px"
                                                 class="border-radius-50" alt="...">
                                        </div>
                                        <div class="flex-grow-1 ms-lg-4">
                                            <h4 class="mb-3"
                                                th:text="${resume.user.name + ' ' + resume.user.surname}"></h4>
                                            <span class="me-2"><i class="ti-briefcase pe-2 text-secondary"></i><th:block
                                                    th:text="${resume.profession}"></th:block></span>
                                            <span class="me-2"><i class="ti-location-pin pe-2 text-secondary"></i><th:block
                                                    th:text="${resume.location}"></th:block></span>
                                            <span class="me-2"><i class="ti-time pe-2 text-secondary"></i><th:block
                                                    th:text="${#dates.format(resume.createdDate,'dd MMMM yyyy')}"></th:block></span>
                                            <span th:if="${resume.expectedSalary != null}"><i
                                                    class="far fa-money-bill-alt pe-2 text-secondary"></i><th:block
                                                    th:text="${'$' + resume.expectedSalary}"></th:block></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="row">
                                        <div class="col-12">
                                            <li class="d-none d-xl-inline-block">
                                                <input type="hidden" name="searchIndexStr" th:value="${1}">
                                                <button id="openModalBtn" type="submit" class="not-border">
                                                    <input type="hidden" name="page" th:value="${1}">

                                                    <a th:if="${(currentUser == null || (currentUser.role.name().equals('JOB_SEEKER') ||( userJobs == null || userJobs.isEmpty() )) )}"
                                                       th:href="@{'/resumes/apply/' + ${resume.id}}"
                                                       class="butn mb-3 w-100 text-center">Apply For Job</a>

                                                    <a href="#!" th:if="${currentUser != null && ( (currentUser.role.name().equals('EMPLOYEE') ||
                                                    currentUser.role.name().equals('COMPANY_OWNER') ) && ( userJobs != null && !userJobs.isEmpty() ) ) }"
                                                       class="butn mb-3 w-100 text-center user-jobs"
                                                       th:data-user-id="${currentUser.id}"
                                                       th:data-resume-id="${resume.id}">Apply For Job</a>

                                                </button>

                                            </li>

                                            <div class="col-12">
                                                <button type="button" class="not-border">
                                                    <a href="#!" class="butn mb-3 w-100 text-center">Download CV</a>
                                                </button>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-2-5 mb-lg-2-9 pb-2-5 pb-lg-2-9 border-bottom border-color-extra-light-gray">
                    <div class="col-lg-8 mb-1-9 mb-lg-0">
                        <div class="pe-lg-1-6 pe-xl-1-9">
                            <div class="row">
                                <div class="col-lg-12 mb-1-9 mb-lg-2-5">
                                    <div class="p-1-6 border border-color-extra-light-gray border-radius-10">
                                        <h4 class="mb-3">Candidates About :</h4>
                                        <p class="mb-0" th:text="${resume.description}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="job-details-sidebar">
                            <div class="widget">
                                <div class="card border-color-extra-light-gray border-radius-10">
                                    <div class="card-body p-4">
                                        <h4>Job Summary</h4>
                                        <ul class="list-style5">
                                            <li><span>Salary</span>
                                                <th:block th:text="${' ' + resume.expectedSalary}"></th:block>
                                            </li>
                                            <li><span>Experience</span>
                                                <th:block
                                                        th:text="${' ' + resume.workExperience.getExperience()}"></th:block>
                                            </li>
                                            <li><span>Gender</span>
                                                <th:block th:text="${' ' + resume.gender.getName()}"></th:block>
                                            </li>
                                            <li><span>Profession</span>
                                                <th:block th:text="${' ' + resume.profession}"></th:block>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="widget">
                                <div class="card border-color-extra-light-gray border-radius-10">
                                    <div class="card-body p-4">
                                        <h4>Contact Information</h4>
                                        <ul class="list-style5">
                                            <li><span>Phone</span>
                                                <th:block th:text="${' ' + resume.phone}"></th:block>
                                            </li>
                                            <li><span>Email</span>
                                                <th:block th:text="${' ' + resume.user.email}"></th:block>
                                            </li>
                                            <li><span>Address</span>
                                                <th:block th:text="${' ' + resume.location}"></th:block>
                                            </li>
                                        </ul>
                                        <br>
                                        <div class="col-md-12">
                                            <div class="quform-submit-inner">
                                                <a th:href="'/profile/message/' + ${resume.user.id}"><button class="butn border-0" type="submit"><span>Send Message</span>
                                                </button></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <h4 class="mb-4">Related Candidates :</h4>
                        <div class="featured-candidate owl-carousel owl-theme">
                            <div class="card card-style7 radius-10" th:each="resumeList : ${resumes}">
                                <div class="card-body">
                                    <a class="candidate-favourite" href="#!"><i class="far fa-heart"></i></a>
                                    <img th:src="@{'/download/picture/' + ${resumeList.picName}}" width="80px"
                                         class="border-radius-50 mb-3" alt="...">
                                    <div class="candidate-info">
                                        <h4 class="h5"><a th:href="@{'/resumes/item/' + ${resumeList.id}}">
                                            <th:block
                                                    th:text="${resumeList.user.name + ' ' + resumeList.user.surname}"></th:block>
                                        </a></h4>
                                        <span class="display-30 text-muted d-block mb-2 font-weight-500"
                                              th:text="${resumeList.profession}"></span>
                                    </div>
                                    <div class="d-flex justify-content-between mb-3">
                                        <span><i
                                                class="ti-location-pin text-secondary me-2 display-31 display-sm-30"></i><strong
                                                th:text="${resumeList.location}"></strong></span>
                                        <span><i
                                                class="far fa-money-bill-alt text-secondary me-2 display-31 display-sm-30"></i><strong
                                                th:text="${'$' + resumeList.expectedSalary}"></strong></span>
                                    </div>
                                    <a th:href="@{'/resumes/item/' + ${resumeList.id}}" class="butn w-100 radius-10">View
                                        Profile</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>

            <div id="myModal" class="modal-pop"
                 th:if="${currentUser != null && ( (currentUser.role.name().equals('EMPLOYEE') ||
                                                    currentUser.role.name().equals('COMPANY_OWNER') ) && ( userJobs != null && !userJobs.isEmpty() ) ) }">

                <!-- Modal content -->
                <div class="modal-content-pop">
                     <span>
                            <div class="alert alert-primary alert-dismissible">
                                <strong>Please choose Job.</strong>
                            </div>
                    </span>
                    <div class="quform-element form-group" style="width: 30%">
                        <div class="quform-input">
                            <input class="form-control border-radius-10 search"
                                   type="text" name="profession" placeholder="search job">
                        </div>
                    </div>

                    <div>
                        <div class="row mt-n1-9 user-jobs-popup ">
                        </div>

                        <div id="pagination" class="text-primary" style="display: flex;justify-content: center;margin-top: 3%;margin-bottom: 2%">
                            <button class="prevBtn">Prev</button>
                            <span class="currentPage" th:text="${currentPage}">1</span> / <span class="totalPages" th:text="${totalPages}">1</span>
                            <button class="nextBtn">Next</button>
                        </div>

                        <span class="close"></span>
                    </div>
                </div>
            </div>
        </section>

        <!-- FOOTER
        ================================================== -->
        <footer class="pt-0">
            <div class="container border-bottom border-color-light-white py-2-5 py-md-6 mb-6 mb-md-8 mb-lg-10">
                <div class="row justify-content-center align-items-center mt-n1-9">
                    <div class="col-xl-6 mt-1-9">
                        <div class="d-sm-flex align-items-center">
                            <div class="flex-shrink-0 mb-1-6 mb-sm-0">
                                <a href="index.html" class="footer-logo"><img src="/img/logos/logo-white.png" alt="..."></a>
                            </div>
                            <div class="flex-grow-1 border-sm-start border-color-light-white ms-sm-4 ps-sm-4 border-width-2">
                                <p class="mb-0 display-30 text-white opacity9 w-lg-95">Create a free account to discover lots of Jobs & Career Opportunities around you!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 mt-1-9">
                        <div class="row">
                            <div class="col-sm-4 mb-1-9 mb-sm-0">
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <img src="/img/icons/icon-09.png" alt="...">
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <h3 class="h2 mb-1 countup font-weight-700 text-white">1327</h3>
                                        <p class="mb-0 font-weight-600 text-white opacity9 display-30">Job Posted</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 mb-1-9 mb-sm-0">
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <img src="/img/icons/icon-10.png" alt="...">
                                    </div>
                                    <div class="flex-grow-1 ms-4">
                                        <h3 class="h2 mb-1 countup font-weight-700 text-white">150</h3>
                                        <p class="mb-0 font-weight-600 text-white opacity9 display-30">Job Filled</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <img src="/img/icons/icon-11.png" alt="...">
                                    </div>
                                    <div class="flex-grow-1 ms-4">
                                        <h3 class="h2 mb-1 countup font-weight-700 text-white">220</h3>
                                        <p class="mb-0 font-weight-600 text-white opacity9 display-30">Companies</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row mt-n2-6">
                    <div class="col-sm-6 col-lg-3 mt-2-6">
                        <h3 class="h5 mb-1-6 mb-lg-1-9 text-white">Contact Us</h3>
                        <p class="mb-1-6 text-white opacity9">Advertise your jobs to hundreds of thousands of monthly customers and seek 15.8 million CV in our database.</p>
                        <ul class="contact-list">
                            <li class="d-flex"><span class="fa fa-home pe-3 text-white"></span><a href="#!">66 Guild Street 512B, Great North Town.</a></li>
                            <li class="d-flex"><span class="fa fa-phone-alt pe-3 text-white"></span><a href="#!">(+44) 123 456 789</a></li>
                            <li class="d-flex"><span class="fa fa-envelope pe-3 text-white"></span><a href="#!">info@example.com</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-lg-2 mt-2-6">
                        <div class="ps-sm-1-9">
                            <h3 class="h5 mb-1-6 mb-lg-1-9 text-white">Information</h3>
                            <ul class="footer-list-style1">
                                <li><a href="aboutus.html">About us</a></li>
                                <li><a href="blog-grid.html">Blog</a></li>
                                <li><a href="how-it-works.html">Our Process</a></li>
                                <li><a href="pricing-plans.html">Our Pricing</a></li>
                                <li><a href="contact-us.html">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-2 mt-2-6">
                        <div class="ps-lg-1-9">
                            <h3 class="h5 mb-1-6 mb-lg-1-9 text-white">Candidates</h3>
                            <ul class="footer-list-style1">
                                <li><a href="profile/candidate-applied-job.html">Applied Job</a></li>
                                <li><a href="candidate-cv-manager.html">CV Manager</a></li>
                                <li><a href="profile/candidate-shortlisted-jobs.html">Shortlisted Jobs</a></li>
                                <li><a href="profile/candidate-job-alerts.html">Job Alerts</a></li>
                                <li><a href="candidate-dashboard.html">Dashboard</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-2 mt-2-6">
                        <div class="ps-sm-1-9 ps-lg-2-2 ps-xl-2-5">
                            <h3 class="h5 mb-1-6 mb-lg-1-9 text-white">Employers</h3>
                            <ul class="footer-list-style1">
                                <li><a href="employer-packages.html">Job Packages</a></li>
                                <li><a href="profile/company-profile.html">Company Profile</a></li>
                                <li><a href="profile/manage-job.html">Manage Job</a></li>
                                <li><a href="employer-resume-alerts.html">Resume Alerts</a></li>
                                <li><a href="profile/create-job.html">Post a Job</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mt-2-6">
                        <div class="ps-lg-2-2 ps-xl-2-5">
                            <h3 class="h5 mb-1-6 mb-lg-1-9 text-white">Join Newsletter</h3>
                            <p class="text-white mb-4">Subscribe to get the latest jobs posted, candidates...</p>
                            <form class="quform newsletter-form" action="quform/newsletter-two.php" method="post" enctype="multipart/form-data" onclick="">
                                <div class="quform-elements">
                                    <div class="row">
                                        <!-- Begin Text input element -->
                                        <div class="col-md-12">
                                            <div class="quform-element">
                                                <div class="quform-input">
                                                    <input class="form-control" id="email_address" type="text" name="email_address" placeholder="Subscribe with us">
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Text input element -->

                                        <!-- Begin Submit button -->
                                        <div class="col-md-12">
                                            <div class="quform-submit-inner">
                                                <button class="btn btn-white text-primary m-0" type="submit"><span><i class="fas fa-paper-plane text-primary"></i></span></button>
                                            </div>
                                            <div class="quform-loading-wrap text-start"><span class="quform-loading"></span></div>
                                        </div>
                                        <!-- End Submit button -->
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bar borders-top border-color-light-white">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7 text-center text-md-start mt-3 mt-md-0 order-2 order-md-1">
                            <p class="d-inline-block text-white mb-0">&copy; <span class="current-year"></span> Job Board Powered by
                                <a href="https://www.chitrakootweb.com/" target="_blank" class="text-primary white-hover">Chitrakoot Web</a>
                            </p>
                        </div>
                        <div class="col-md-5 text-center text-md-end order-1 order-md-2">
                            <p class="text-white d-inline-block mb-0 align-middle">Follow Us :</p>
                            <ul class="footer-social-style1">
                                <li>
                                    <a href="#!"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a href="#!"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#!"><i class="fab fa-youtube"></i></a>
                                </li>
                                <li>
                                    <a href="#!"><i class="fab fa-linkedin-in"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div>

    <!-- BUY TEMPLATE
    ================================================== -->
    <!-- start scroll to top -->
    <a href="#!" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
    <!-- end scroll to top -->

    <!-- all js include start -->

    <!-- jQuery -->
    <script src="/js/jquery.min.js"></script>

    <!-- popper js -->
    <script src="/js/popper.min.js"></script>

    <!-- bootstrap -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- core.min.js -->
    <script src="/js/core.min.js"></script>

    <!-- custom scripts -->
    <script src="/js/main.js"></script>

    <!-- form plugins js -->
    <script src="/quform/js/plugins.js"></script>

    <!-- form scripts js -->
    <script src="/quform/js/scripts.js"></script>

    <script src="/js/popup.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="/js/userJobs.js"></script>
    <!-- all js include end -->
</body>

</html>