<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Unblocked</title>
</head>
<body>
<div style="font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;">
    <h2 style="color: #333;">Account Unblocked</h2>
    <p style="color: #333;">
        Dear <span th:text="${user.name}"></span>,
    </p>
    <p style="color: #333;">
        We are pleased to inform you that your account on our platform has been successfully unblocked. You now have
        full access to your account and its associated resources.
    </p>
    <p style="color: #333;">
        We sincerely apologize for any inconvenience this may have caused you. If you have any further questions or
        concerns, please do not hesitate to reach out to our support team. We are here to assist you.
    </p>
    <p style="color: #3838f5;">
        Additionally, your company profile, resume, and job advertisements associated with your account have also been
        restored. You can now resume using our platform to manage your company profile and job postings.
    </p>
    <p style="color: #333;">
        Thank you for your patience and cooperation throughout this process. We appreciate your understanding as we
        strive to maintain the integrity of our platform and ensure a positive user experience for all.
    </p>
    <hr style="border: 1px solid #ddd;">
    <p style="color: #666; font-size: 0.8em;">
        If you have any questions or concerns, please don't hesitate to contact us at <a
            href="mailto:jobboardofficial@example.com" style="color: #007bff;">jobboardofficial@example.com</a>.
    </p>
</div>
</body>
</html>
